﻿body {
    background-color:#30373e;
    @include transition(all .5s);
    font-family: 'Muli', Arial, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

button,
input,
select,
a, a:hover, a:focus {
    outline: none !important;
	text-decoration:none;
	
}
p{margin-bottom: 0.9rem;}
small{ font-size: 13px;}
.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

section {
    &.content {
        margin:55px 15px 15px 265px;
        padding:0px;
        @include transition(.5s);
        z-index: 9;
        position: relative;
        background:#f0f3f5;
        @include border-radius(3px);
        //box-shadow:1px 5px 20px rgba(0, 0, 0, 0.09);
               
    }
}
.g-bg-purple{ background:linear-gradient(45deg, #8f78db, #ab9ae5); color:#fff !important;}
.g-bg-cyan{ background:linear-gradient(45deg, #49cdd0, #45e5c3); color:#fff !important;}
.g-bg-blue{background:linear-gradient(60deg, #00adef, #0094da); color:#fff !important;}
.g-bg-green{ background:linear-gradient(45deg, #40b988, #5edb8c); color:#fff !important;}
.g-bg-blush2{ background:linear-gradient(325deg, #dd5e89, #f7bb97); color:#fff !important;}

.l-green { background: linear-gradient(45deg, #9ce89d, #cdfa7e) !important; }
.l-pink { background: linear-gradient(45deg, #ffc0cb, #fbc1cb) !important;}
.l-turquoise {background: linear-gradient(45deg, #00ced1, #08e5e8) !important; color: $white !important;}
.l-khaki {background: linear-gradient(45deg, #f0e68c, #fdf181) !important;}
.l-coral {background: linear-gradient(45deg, #f08080, #f58787) !important; color: $white !important;}
.l-salmon {background: linear-gradient(45deg, #ec74a1, #fbc7c0) !important; color: $white !important;}
.l-blue { background: linear-gradient(45deg, #72c2ff, #86f0ff) !important; color: $white !important;}
.l-seagreen { background: linear-gradient(45deg, #8ed8ec, #85f7b5) !important; color: $white !important;}
.l-amber {background: linear-gradient(45deg, #fda582, #f7cf68) !important; color: $white !important;}
.l-blush {background: linear-gradient(45deg, #dd5e89, #f7bb97) !important; color: $white !important;}
.l-parpl { background: linear-gradient(45deg, #a890d3, #edbae7) !important; color: $white !important;}
.l-slategray {background: linear-gradient(45deg, #708090, #7c8ea0) !important;color: $white !important;}


.xl-pink{ background: #f9edee !important;}
.xl-turquoise{ background:#bdf3f5 !important;}
.xl-khaki{ background: #f9f1d8 !important;}
.xl-parpl{ background: #efebf4 !important;}
.xl-salmon{ background: #ffd4c3 !important;}
.xl-blue{ background: #e0eff5 !important;}
.xl-seagreen{ background: #ebf2e8 !important;}

img.width30{
    width: 30px;
}
img.width40{
    width:40px;
}
img.width50{
    width:50px;
}

.ellipsis{
    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.carousel{
    .glyphicon-chevron-right:before{
        content:'\f2f5';
        font-family: 'Material-Design-Iconic-Font';
    }
    .glyphicon-chevron-left:before{
       content:'\f2f3';       
       font-family: 'Material-Design-Iconic-Font'; 
    }
}
.drop-custum{
    border-bottom: 1px solid #ddd;
    margin-top: 18px !important;
}

.row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left:7.5px;
    padding-right:7.5px;
    }

.text-center{ text-align: center;}
.text-left{ text-align: left;}

@media only screen and (max-width: 500px) {
    section{
        &.content{
           margin-left:10px !important;
           margin-right:10px;
           padding:0;
        }
    }
}