<template>
<div class="influencer">
    <!-- <pageloader></pageloader> -->

    <header-component headerTitle="Influencer"></header-component>

    <subbar-component></subbar-component>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#social" @click="get_social_media">Social Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#website" @click="get_data_website">Website</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#alertk" @click="get_mark_word">Tandai Kata</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#alerti">Tandai Influencer</a>
                        </li> -->
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="social">
                            <div class="col-md-12">
                                <div class="table-responsive social_media_table">
                                    <!-- <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component> -->
                                    <alerterror-component v-if="errored"></alerterror-component>

                                    <table-component :headers="header_socmed_influencer" :items="body_socmed_influencer" :key="body_socmed_influencer_key" :resultCount="total" :isLoader="isLoaderSocial"></table-component>
                                    <!-- <datatable-component :headers="header_socmed_influencer" :items="body_socmed_influencer" :key="body_socmed_influencer_key" id="socmed_datatable_influencer" :ordering="false" :bLengthChange="bLengthChange" :searching="searching" :info="info" type="datatable"></datatable-component> -->
                                    <!-- <tablegrid-component :cols="cols" :rows="rows" :pagination="true"></tablegrid-component> -->

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane animated fadeIn" id="website">
                            <div class="table-responsive social_media_table">
                                <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
                                <!-- <alerterror-component v-if="errored"></alerterror-component> -->
                                <table-component :headers="header_website_influencer" :items="body_website_influencer" :key="body_website_influencer_key" :resultCount="resultTotalWeb"></table-component>
                                <!-- <datatable-component :headers="header_website_influencer" :items="body_website_influencer" :key="body_website_influencer_key" tablePage="pagination"></datatable-component> -->
                                <!-- <datatable-component :headers="header_website_influencer" :items="body_website_influencer" :key="body_website_influencer_key" id="wesite_datatable_influencer" :ordering="ordering" :bLengthChange="bLengthChange" :searching="searching" :info="info" type="datatable"></datatable-component> -->
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="alertk">
                            <div class="table-responsive social_media_table">
                                <a href="javascript:void(0)" @click="btnTambahKata">
                                    <span class="btn btn-raised btn-success waves-effect">Tambah</span>
                                </a>
                                <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
                                <datatable-component :headers="header_tandai_kata_influencer" :items="body_tandai_kata_influencer" :key="body_tandai_kata_influencer_key"></datatable-component>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="alerti">
                            <div class="table-responsive social_media_table">
                                <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
                                <datatable-component :headers="header_tandai_influencer" :items="body_tandai_influencer" :key="body_tandai_influencer_key"></datatable-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="modalTambahKata" tabindex="-2" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Tambah Kata</h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="form-group">
                            <p>Tandai Kata</p>

                            <div class="form-line">
                                <input type="text" class="form-controls" name="kata" placeholder="Masukan Kata" id="form-word" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn addMarkedWord btn-raised btn-success waves-effect">Tambah</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Keluar</button>
                </div>

            </div>
        </div>
    </div>

</div>
</template>

<script>
import $ from "jquery"
import Datatable from "@/components/DataTable.vue";
import Table from "@/components/TableComponent.vue";
import Header from "@/components/Header.vue";
import SubBar from "@/components/SubBar.vue";
import Loader from "@/components/Loader.vue";
// import AlertError from "@/components/AlertError.vue";
// import Grid from 'gridjs-vue'
var moment = require("moment");
export default {
    components: {
        "datatable-component": Datatable,
        "header-component": Header,
        "subbar-component": SubBar,
        "loader-component": Loader,
        // "alerterror-component": AlertError,
        // "tablegrid-component": Grid,
        "table-component": Table,
    },
    data() {
        return {
            start: moment(new Date())
                .subtract(6, "days")
                .format("YYYY-MM-DD 00:00:00"),
            to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
            id_project: this.$store.getters.user.id_project,
            isLoaderSocial: false,
            isLoader: false,
            errored: false,
            dataset: [],
            infos: [],
            searching: true,
            bLengthChange: true,
            ordering: false,
            info: false,
            topic: false,
            source: false,
            pers: false,
            sort: 'mentions',
            page: 1,
            total: 0,
            resultTotalWeb: 0,
            dataPers: [],
            markedAccounts: [],
            isMarked: 0,
            cols: ['Make', 'Model', 'Year', 'Color'],
            rows: [
                ['Ford', 'Fusion', '2011', 'Silver'],
                ['Chevrolet', 'Cruz', '2018', 'White']
            ],
            header_website_influencer: [{
                    key: "no",
                    title: "No",
                    type: "number",
                    width: "5%",
                },
                {
                    key: "platform",
                    title: "Platform",
                    type: "icon",
                    width: "10%",
                },
                {
                    key: "nama_situs",
                    title: "Nama Situs",
                    type: "text",
                    width: "50%",
                },
                {
                    key: "post",
                    title: "Post",
                    type: "text",
                    width: "5%",
                },
                {
                    key: "action",
                    title: "Action",
                    type: "link",
                    width: "5%",
                },
            ],
            body_website_influencer: [],
            body_website_influencer_key: 0,
            header_socmed_influencer: [{
                    key: "no",
                    title: "No",
                    type: "number",
                    width: "5%",
                },
                {
                    key: "platform",
                    title: "Platform",
                    type: "icon",
                    width: "10%",
                },
                {
                    key: "akun",
                    title: "Akun",
                    type: "text",
                    width: "30%",
                },
                {
                    key: "reach",
                    title: "Reach",
                    type: "text",
                    width: "10%",
                },
                {
                    key: "post",
                    title: "Post",
                    type: "text",
                    width: "10%",
                },
                {
                    key: "action",
                    title: "Action",
                    type: "link",
                    width: "5%",
                },
            ],
            body_socmed_influencer: [],
            body_socmed_influencer_key: 0,
            header_tandai_kata_influencer: [{
                    key: "No",
                    title: "No",
                    type: "number",
                },
                {
                    key: "kata",
                    title: "Kata",
                    type: "text",
                },
                {
                    key: "aksi",
                    title: "Aksi",
                    type: "link",
                    width: "10%",
                },
            ],

            body_tandai_kata_influencer: [],
            body_tandai_kata_influencer_key: 0,
            header_tandai_influencer: [{
                    key: "no",
                    title: "No",
                    type: "number",
                },
                {
                    key: "akun",
                    title: "Akun",
                    type: "text",
                },
                {
                    key: "platform",
                    title: "Platform",
                    type: "icon",
                    width: "10%",
                },
                {
                    key: "aksi",
                    title: "Aksi",
                    type: "link",
                },
            ],
            body_tandai_influencer: [],
            body_tandai_influencer_key: 0
        };
    },
    methods: {
        RouteDashboard() {
            this.$router.push({
                path: "/",
            });
        },
        changeSort(sort) {
            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = this.$route.query.page;
            query.sort = sort;
            this.updateUrl(query);
        },
        btnTambahKata() {
            $('#modalTambahKata').modal('show')
        },
        get_data_website() {
            this.$router.replace('/influencer').catch(() => {});
            this.getDataWebsite();
        },
        get_social_media() {
            this.$router.replace('/influencer').catch(() => {});
            this.getDataSocmed();
        },
        get_mark_word() {
            this.$router.replace('/influencer').catch(() => {});
            this.getDataTandaiKata();
        },

        getDataSocmed() {
            this.isLoaderSocial = true;
            let api = process.env.VUE_APP_API_URL;
            let self = this;
            this.$axios
                .get(
                    api + "influencers/" +
                    this.id_project +
                    "/socmed", {
                        params: {
                            wo_news: 1,
                            page: this.page,
                            from: this.start,
                            to: this.to,
                            sort: this.sort,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {

                        this.total = response.data.page_info[0].total
                        var body_socmed_influencer2 = [];
                        var isMarked = false;
                        var data_marked = [];
                        var pers = '';
                        var marked = 0;
                        var data_pers = [];
                        self.dataPers.forEach(function (val) {
                            data_pers.push(val)
                        })

                        self.markedAccounts.forEach(function (mark) {
                            data_marked.push(mark)
                        })

                        response.data.accounts.forEach(function (i) {
                            $('#body_socmed_influencer').append(`
                                    <tr>
                                        <td>1</td>
                                        <td>` + i.source + `</td>
                                        <td>` + i.account + `</td>
                                        <td>` + i.source + `</td>
                                        <td>` + i.source + `</td>
                                        <td>` + i.source + `</td>
                                    </tr>
                            `)
                            if (data_pers.includes(i._id)) {
                                pers = `<span class="label bg-orange"><i class="fa fa-newspaper-o"></i> Pers</span>`;
                            } else {
                                pers = ''
                            }

                            if (data_marked.includes(i._id)) {
                                isMarked = 1;
                                marked = `<span class="label bg-info"><i class="fa fa-bell"></i> Ditandai</span>`
                            } else {
                                isMarked = 0;
                                marked = ''
                            }
                            var a = {
                                platform: i.source,
                                akun: i.account +
                                    " " + pers + " " + marked,
                                reach: i.esmr.toLocaleString('id'),
                                post: i.mentions.toLocaleString('id'),
                                action: `<div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuSocmed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                ` + (isMarked == 1 ? '<a href="javascript:void(0)" data-url="' + i._id + '" class="dropdown-item text-info deleteMarkedInfluencer"><i class="fa fa-bell-slash"></i> Hilangkan Tanda</a>' : '<a class="dropdown-item btnMarked" href="javascript:void(0)" data-url="' + i._id + '"><i class="fa fa-bell"></i> Tandai Akun</a>') + `

                                                <a class="dropdown-item btnPers" data-title="` + (pers ? 'bukan' : 'adalah') + `" data-type="` + (pers ? 'non_pers' : 'pers') + `" href="javascript:void(0)" data-url="` + i._id + `">` +
                                    (pers ?
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Non Pers' :
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Pers') +
                                    `</a>
                                            </div>
                                        </div>`,
                            };
                            body_socmed_influencer2.push(a);
                        });

                        this.body_socmed_influencer = body_socmed_influencer2;
                        this.body_socmed_influencer_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.body_socmed_influencer = null;
                        this.body_socmed_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoaderSocial = false));
        },

        getDataWebsite() {
            let self = this
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "influencers/" +
                    this.id_project +
                    "/website", {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            sort: this.sort,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {
                        this.resultTotalWeb = response.data.page_info[0].total
                        var body_website_influencer2 = [];
                        var pers = '';
                        var data_pers = [];

                        self.dataPers.forEach(function (val) {
                            data_pers.push(val)
                        })

                        response.data.accounts.forEach(function (i) {

                            if (data_pers.includes(i._id)) {
                                pers = `<span class="label bg-orange"><i class="fa fa-newspaper-o"></i> Pers</span>`;
                            } else {
                                pers = ''
                            }

                            var a = {
                                platform: i.source,
                                nama_situs: i.account + " " + pers,
                                post: i.mentions,
                                action: `<div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuWebsite" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item btnPers" data-title="` + (pers ? 'bukan' : 'adalah') + `" data-type="` + (pers ? 'non_pers' : 'pers') + `" href="javascript:void(0)" data-url="` + i._id + `">` +
                                    (pers ?
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Non Pers' :
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Pers') +
                                    `</a>
                                            </div>
                                        </div>`,
                            };
                            body_website_influencer2.push(a);
                        });

                        this.body_website_influencer = body_website_influencer2;
                        this.body_website_influencer_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.body_website_influencer = null;
                        this.body_website_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoader = false));
        },

        getDataInfluencer() {
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "marked-accounts/" + this.id_project, {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {
                        this.markedAccounts = response.data
                        var body_tandai_influencer2 = [];
                        var source = '';
                        response.data.forEach(function (i) {
                            if (i.includes('twitter')) {
                                source = 'twitter';
                            } else if (i.includes('facebook')) {
                                source = 'facebook';
                            } else if (i.includes('instagram')) {
                                source = 'instagram';
                            } else if (i.includes('youtube')) {
                                source = 'youtube';
                            }
                            var a = {
                                akun: i,
                                platform: source,
                                aksi: `<a href="javascript:void(0)" data-url="` + i + `" class="deleteMarkedInfluencer btn btn-danger btn-sm btn-raised text-white">
                                        <i class="fa fa-trash"></i>    
                                    </a>`,
                            };
                            body_tandai_influencer2.push(a);
                        });

                        this.body_tandai_influencer = body_tandai_influencer2;
                        this.body_tandai_influencer_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.header_tandai_influencer = [{
                                    key: "no",
                                    title: "No",
                                    type: "number",
                                },
                                {
                                    key: "akun",
                                    title: "Akun",
                                    type: "text",
                                },
                                {
                                    key: "platform",
                                    title: "Platform",
                                    type: "icon",
                                    width: "10%",
                                },
                                {
                                    key: "aksi",
                                    title: "Aksi",
                                    type: "link",
                                },
                            ],
                            this.body_tandai_influencer = null;
                        this.body_tandai_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoader = false));
        },

        getDataTandaiKata() {
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "marked-words/" + this.id_project, {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {

                        var body_tandai_kata_influencer2 = [];

                        response.data.forEach(function (i) {

                            var a = {
                                kata: i.word,
                                aksi: `<a class="btn deleteMarkedWord btn-danger btn-sm btn-raised" data-id="` + i._id.$oid + `" href="javascript:void(0)">
                                        <i class="fa fa-trash"></i>    
                                    </a>`,
                            };
                            body_tandai_kata_influencer2.push(a);
                        });

                        this.body_tandai_kata_influencer = body_tandai_kata_influencer2;
                        this.body_tandai_kata_influencer_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.body_tandai_kata_influencer = null;
                        this.body_tandai_kata_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoader = false));
        },

        getPers() {
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "pers"
                )
                .then((response) => {
                    if (response.status === 200) {
                        this.dataPers = response.data
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoader = false));
        },

        updateUrl(query) {
            this.$router.replace({
                query: query,
                // start: this.$route.query.start,
                // end: this.$route.query.end,
                // sources: this.$route.query.souces,
                // sentiments: source,
            });
        },

    },
    mounted: function () {

    },
    created() {
        console.log(this.start)
        let self = this;
        $('body').on('click', '.btnPers', function () {
            let url = $(this).data('url');
            let title = $(this).data('title');
            let type = $(this).data('type')
            var href = ''
            if (type == 'non_pers') {
                href = 'pers-delete';
            } else {
                href = 'pers-add';
            }
            self.$swal({
                title: 'Apakah anda yakin akun ini ' + title + ' Pers?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        url: url
                    }
                    self.$axios.post(api + href, data)
                        .then((response) => {
                            if (response.status === 200) {
                                self.getDataSocmed();
                                self.getDataWebsite();
                                self.getPers();
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diubah.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                            }
                        });
                }
            });
            // self.$Swal.fire({
            //     title: 'Apakah anda yakin akun ini ' + title + ' Pers?',
            //     icon: "info",
            //     showCancelButton: true,
            //     confirmButtonColor: "#28a745",
            //     cancelButtonColor: "#DD6B55",
            //     confirmButtonText: "Ya, Saya yakin !",
            //     cancelButtonText: "Tidak, tolong batalkan!",
            // }).then(result => {

            // });

        })

        $('body').on('click', '.btnMarked', function () {
            let url = $(this).data('url');
            self.$swal({
                title: 'Apakah anda yakin akan menandai akun ini?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        url: url,
                        id_project: parseInt(self.id_project)
                    }
                    self.$axios.post(api + 'marked-accounts-add', data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diubah.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                                self.getDataSocmed();
                                self.getDataWebsite();
                                self.getDataInfluencer();
                            }
                        });
                }
            });

        })

        $('body').on('click', '.deleteMarkedInfluencer', function () {
            let url = $(this).data('url');
            self.$swal({
                title: 'Apakah anda yakin akan berhenti menandai akun ini?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        url: url,
                        id_project: parseInt(self.id_project)
                    }
                    self.$axios.post(api + 'marked-accounts-delete', data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diubah.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                                self.getDataSocmed();
                                self.getDataWebsite();
                                self.getDataInfluencer();
                            }
                        });
                }
            });

        })

        $('body').on('click', '.deleteMarkedWord', function () {
            let id = $(this).data('id');
            self.$swal({
                title: 'Apakah anda yakin akan menghapus kata ini?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        _id: id,
                    }
                    self.$axios.post(api + 'marked-words-delete', data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil dihapus.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                                self.getDataTandaiKata()
                            }
                        });
                }
            });

        })

        $('body').on('click', '.addMarkedWord', function () {

            let word = $('body #form-word').val();
            let api = process.env.VUE_APP_API_URL;
            let data = {
                word: word,
                id_project: parseInt(self.id_project)
            }
            self.$axios.post(api + 'marked-words-add', data

                )
                .then((response) => {
                    if (response.status === 200) {
                        self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Anda berhasil menambahkan data!', {
                            theme: "bubble",
                            position: "top-center",
                            duration: 5000,
                            fullWidth: true,
                            type: "success"
                        });
                        self.getDataTandaiKata()
                        $('body #form-word').val('');
                        $('body #modalTambahKata').modal('hide');
                    }
                });

        })

        this.getDataSocmed();
        // this.getDataWebsite();
        this.getDataInfluencer();
        this.getDataTandaiKata();
        this.getPers();

        $(document).click(function () {
            $('body .dropdown-menu').removeClass('show')
        })
    },
    watch: {
        $route() {
            this.start = this.$route.query.start;
            this.to = this.$route.query.end;
            this.source = this.$route.query.sources;
            this.topic = this.$route.query.topic;
            this.pers = this.$route.query.pers;
            this.page = this.$route.query.page;
            if (!this.$route.query.sort) {
                this.sort = 'mentions'
                console.log('okeer')
            } else {
                this.sort = this.$route.query.sort
                console.log('ods')
            }

            if (!this.$route.query.start) {
                this.start = moment(new Date()).subtract(6, "days").format("YYYY-MM-DD 00:00:00")
                this.to = moment(new Date()).format("YYYY-MM-DD 23:59:59"),
                    this.sort = 'mentions'
            }
            this.getDataSocmed();
            this.getDataWebsite();
            this.getPers();
        },
    },
};
</script>

<style>
#dropdownMenuSocmed,
#dropdownMenuWebsite {
    padding: 5px 7px !important;
}
</style>
