<template>
  <div>
    <!-- Page Loader -->
    <!-- <loader-component
      v-if="isLoaderLayout"
      classLoader="loader-layout"
    ></loader-component> -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Navbar -->
    <navbar-component :isNotif="socketConnect"></navbar-component>
    <!-- <nav class="navbar clearHeader" style="overflow: hidden !important box-sizing: border-box !important;">
        <div class="row clearfix">
            <div class="col-md-12" style="overflow: hidden !important box-sizing: border-box !important;">
                <div class="navbar-header" style="overflow: hidden !important box-sizing: border-box !important;">
                    <a href="javascript:void(0);" class="bars"></a>
                    <a href="javascript:void(0)" v-on:click="RouteDashboard" class="navbar-brand">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right" style="overflow: hidden !important box-sizing: border-box !important;">
                    <li>
                        <a href="javascript;" data-toggle="modal" data-target="#chgPassModal" title="Ubah Password">
                            <i class="zmdi zmdi-key"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="zmdi zmdi-notifications"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">
                                <i class="zmdi zmdi-notifications"></i>
                                Pemberitahuan
                            </li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins
                                                    ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins
                                                    ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours
                                                    ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours
                                                    ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours
                                                    ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours
                                                    ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#viewAllNotif">
                                            <i class="fa fa-eye"></i>
                                            Lihat Semua
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-check"></i>
                                            Tandai Semua Sudah Dibaca
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" @click="logout" class="mega-menu" data-close="true">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <!-- /Navbar -->

    <!-- Left Sidebar -->
    <sidebar-component></sidebar-component>
    <!-- <aside id="leftsidebar" class="sidebar clearfix"> -->
    <!-- Menu -->
    <!-- <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info">
                        <div class="text-center">
                            <img src="assets/images/digivla.png" alt="profile img" style="height: 75px" />
                        </div>
                    </div>
                </li>
                <li class="header text-uppercase">Menu Utama</li>
                <li>
                    <router-link to="/dashboard">
                        <i class="zmdi zmdi-home"></i>
                        <span>Dashboard</span>
                    </router-link>
                </li>

                <li>
                    <router-link to="/UnggahanTerbaru">
                        <i class="zmdi zmdi-sort-amount-desc"></i>
                        <span>Posting Baru</span>
                    </router-link>
                </li>

                <li>
                    <router-link to="/analisis">
                        <i class="zmdi zmdi-trending-up"></i>
                        <span>Analisis</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/influencer">
                        <i class="fa fa-bullhorn"></i>
                        <span>Influencer</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/trash">
                        <i class="zmdi zmdi-delete"></i>
                        <span>Trash Bin</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/map">
                        <i class="zmdi zmdi-map"></i>
                        <span>Map</span>
                    </router-link>
                </li>
                <li>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#exportModal">
                        <i class="zmdi zmdi-download"></i>
                        <span>Ekspor Data</span>
                    </a>
                </li>
                <li>
                    <a href="javascript;" data-toggle="modal" data-target="#hubungAkunModal">
                        <i class="fa fa-user"></i>
                        <span>Hubungkan Akun</span>
                    </a>
                </li>
                <li>
                    <router-link to="/ManajemenKeyword">
                        <i class="zmdi zmdi-key"></i>
                        <span>Manajemen Keyword</span>
                    </router-link>
                </li>
            </ul>
        </div> -->
    <!-- #Menu -->
    <!-- </aside> -->
    <!-- /Left Sidebar -->

    <section class="content">
      <div class="container-fluid">
        <div v-if="isWordingUpdate && role_id == 2" class="row clearfix alert-wording_update">
          <div class="col-12 col-sm-12">
            <div class="alert alert-info" role="alert">
              <i class="fa fa-exclamation-circle"></i>
              <a href="javascript:void(0)" class="font-weight-bold" data-target="#hubungAkunModal" data-toggle="modal" style="color: #444; text-decoration: underline">Hubungkan Akun!</a>
              Dapatkan data dan limit keyword yang lebih banyak dengan menghubungkan akun sosial media kedalam sistem
            </div>
          </div>
        </div>
        <router-view />
        <div class="row clearfix">
          <div class="col-sm-12 col-md-12">
            <div class="card">
              <div class="body" id="footer">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="copy m-b-0">
                      © Copyright
                      <time class="year">2020</time>
                      - Social Media Monitoring
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <modal-component @add-grafik="addGrafik" v-for="(modal, i) in dataModal" :key="i" :modalTitle="modal.modalTitle" :modalTarget="modal.modalTarget" :modalType="modal.modalType" :modalVariant="modal.modalVariant">
    </modal-component> -->
  </div>
</template>

<script>
import $ from "jquery";
import Cookie from "vue-cookies";
import VueJwtDecode from "vue-jwt-decode";
// import Modal from "@/components/ModalComponent.vue";
import Sidebar from "@/components/Layout/Sidebar.vue";
import Navbar from "@/components/Layout/Navbar.vue";
// import Loader from "@/components/Loader.vue";
export default {
  name: "mainLayout",
  components: {
    // "modal-component": Modal,
    "sidebar-component": Sidebar,
    "navbar-component": Navbar,
    // "loader-component": Loader,
  },
  data() {
    return {
      role_id: Cookie.get("role_id"),
      isWordingUpdate: false,
      isLoaderLayout: true,
      socketConnect: false,
      project_tipe: "",
      id_project: this.$store.getters.user.id_project,
      topics: [],
      sources: ["Twitter", "Blogs", "Forums", "Youtube", "Instagram", "Facebook"],
      renew_call: false,
      dataModal: [
        {
          modalTitle: "Ubah Password",
          modalVariant: "",
          modalType: "chgPassModal",
          modalTarget: "chgPassModal",
        },
        {
          modalTitle: "Ekspor Data",
          modalVariant: "",
          modalType: "exportModal",
          modalTarget: "exportModal",
        },
        {
          modalTitle: "Hubungkan Akun",
          modalVariant: "modal-lg",
          modalType: "hubungAkunModal",
          modalTarget: "hubungAkunModal",
        },
        {
          modalTitle: "Pemberitahuan",
          modalVariant: "modal-lg modal-dialog-scrollable",
          modalType: "viewAllNotif",
          modalTarget: "viewAllNotif",
        },
        // {
        //     modalTitle: "Form Tambah Grafik",
        //     modalVariant: "modal-lg",
        //     modalType: "addGrafikModal",
        //     modalTarget: "addGrafikModal",
        // },
      ],
    };
  },
  sockets: {
    trigger_project: function () {
      // this.socketConnect = true;
      this.$socket.emit("init_project", this.id_project);
    },
    notification: function (data) {
      console.log(data);
      if (data) {
        this.socketConnect = true;
      } else {
        this.socketConnect = false;
      }
    },
  },
  methods: {
    getProjectDetail() {
      let api = process.env.VUE_APP_API_URL + "project-detail/" + this.id_project;
      this.$axios.get(api).then((response) => {
        if (response.status === 200) {
          this.project_type = response.data.project_detail.tipe;
          if (response.data.project_detail.socmed_creds) {
            if (response.data.project_detail.socmed_creds.twitter && response.data.project_detail.socmed_creds.facebook) {
              this.isWordingUpdate = false;
            } else {
              this.isWordingUpdate = true;
            }
          } else {
            this.isWordingUpdate = true;
          }
        }
      });
    },
  },

  created() {
    if (this.$router.path != "/login") {
      this.$axios.interceptors.request.use((config) => {
        // console.log(config)
        let api = process.env.VUE_APP_API_URL;
        let white_lists = [api + "login", api + "renew-access", api + "renew-refresh"];

        if (!white_lists.includes(config.url)) {
          let refresh_token = Cookie.get("medmon_refresh");
          if (!refresh_token && !this.renew_call) {
            this.renew_call = true;
            this.$store.dispatch("logout").then(() => {
              if (this.$route.path != "/login") {
                Cookie.set("medmon_last_page", this.$route.fullPath);
              }
              let ref = encodeURI(btoa("logout"));
              let teks = encodeURI(btoa("Sesi Anda telah berakhir, silakan masuk kembali."));
              let title = encodeURI(btoa("Maaf!"));
              this.$router.push({
                path: "/login",
                query: {
                  log: teks,
                  ref: ref,
                  log_t: title,
                },
              });
            });
          }

          let token = Cookie.get("medmon_ref");
          // let token = localStorage.getItem('medmon_ref');
          if (token) {
            config.headers["token"] = token;
          }
        }
        return config;
      });

      this.$axios.interceptors.response.use(undefined, (error) => {
        let api = process.env.VUE_APP_API_URL + "renew-access";

        let refresh_token = Cookie.get("medmon_refresh");

        const originalRequest = error.config;

        if (error.response.status === 401 && originalRequest.url === api) {
          console.log("renew gagal");

          if (refresh_token) {
            originalRequest._retry = true;

            let api_refresh_token = process.env.VUE_APP_API_URL + "renew-refresh";
            let userID = this.$store.getters.user.user_id.$oid;
            let data = {
              "refresh-token": refresh_token,
              uid: userID,
            };

            return this.$axios.post(api_refresh_token, data).then((res) => {
              if (res.status === 200) {
                let token = res.data["access-token"];
                this.$axios.defaults.headers.common["token"] = token;

                let token_decode = VueJwtDecode.decode(token);
                let token_exp = token_decode.exp * 1000;
                let token_expire = new Date(token_exp);

                if (typeof remember_me !== "undefined") {
                  Cookie.set("medmon_refresh", token);
                } else {
                  Cookie.set("medmon_refresh", token, {
                    expires: token_expire,
                  });
                }

                return this.$axios(originalRequest);
              }
            });
          }
          return Promise.reject(error);
        }

        if ((error.response.status === 400 || error.response.status === 401) && !originalRequest._retry) {
          originalRequest._retry = true;

          if (typeof refresh_token !== "undefined") {
            let userID = this.$store.getters.user.user_id.$oid;
            // let userID = '5ee092389c413f077cd1ee05';
            let data = {
              "refresh-token": refresh_token,
              uid: userID,
            };

            return this.$axios.post(api, data).then((res) => {
              if (res.status === 200) {
                let token = res.data["access-token"];
                this.$axios.defaults.headers.common["token"] = token;

                let token_decode = VueJwtDecode.decode(token);
                let token_exp = token_decode.exp * 1000;
                let token_expire = new Date(token_exp);
                Cookie.set("medmon_ref", token, {
                  expires: token_expire,
                });

                return this.$axios(originalRequest);
              }
            });
          }
        }

        return Promise.reject(error);
      });
    }
  },

  mounted: function () {
    this.getProjectDetail();
    $("body").attr("id", "auth");
    $(".sketch").remove();
    $("body .overlayDiv.loader-layout").removeAttr("style");

    // const plugin = document.createElement("script");
    // plugin.setAttribute("src", "assets/bundles/mainscripts.bundle.js");
    // plugin.async = false;

    // document.body.appendChild(plugin);
  },
};
</script>

<style scoped>
body {
  overflow: hidden !important;
}

a.router-link-active {
  /* background: #353d44 !important;
  color: #fff !important; */
  /* background: #e9eaea !important; */
  /* background: #bf77f6 !important; */
  background: orchid !important;
  color: #fff !important;
  font-weight: 700 !important;
}

.light .sidebar .menu,
.light.ls-closed .sidebar {
  background: #fff !important;
}

.navbar.clearHeader {
  background-color: #fff !important;
}

.sidebar .menu .user-info {
  /* padding: 13px 15px 12px 15px; */
  padding: 0 15px !important;
}

.alert-wording_update {
  margin-top: 65px !important;
  margin-bottom: -65px !important;
}
</style>
