<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="assets/plugins/bootstrap/css/bootstrap_old.min.css" rel="stylesheet" />
  <link href="assets/plugins/morrisjs/morris.css" rel="stylesheet" />
  <link href="assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
  <link href="assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" rel="stylesheet">

  <!-- Custom Css -->
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/authentication.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/timeline.css" rel="stylesheet">
  <link href="assets/css/animate.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">
  <!-- You can choose a theme from css/themes instead of get all themes -->
  <link href="assets/css/themes/all-themes.css" rel="stylesheet" />

  <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
  <link rel="icon" href="assets/images/digivla-icon.png">
  <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
  <title>Social Media Monitoring</title>
</head>

<body class="theme-blue light" style="padding-right: 0 !important;" id="auth">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->

  <!-- Jquery Core Js -->
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
  <script src="assets/bundles/libscripts.bundle.js"></script>
  <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
  <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

  <script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
  <script src="assets/bundles/flotscripts.bundle.js"></script><!-- Flot Charts Plugin Js -->
  <!-- <script src="assets/bundles/morrisscripts.bundle.js"></script>Flot Charts Plugin Js -->
  <script src="assets/plugins/chartjs/Chart.bundle.js"></script> <!-- Chart Plugins Js -->
  <script src="assets/bundles/jvectormapscripts.bundle.js"></script><!-- JVectorMap Plugin Js -->
  <script src="assets/js/pages/charts/sparkline.js"></script>
  <!-- <script src="assets/js/pages/charts/jquery-knob.js"></script> -->
  <!-- <script src="assets/plugins/select2/dist/js/select2.full.min.js"></script> -->
  <script src="assets/bundles/mainscripts.bundle.js"></script>
  <!-- <script src="assets/bundles/mainscripts.js"></script> -->
  <!-- Custom Js -->
  <script src="assets/js/pages/index.js"></script>
  <script src="assets/js/pages/ui/modals.js"></script>
  <script src="assets/js/pages/maps/jvectormap.js"></script>
  <!-- <script src="assets/plugins/sketch/sketch.min.js"></script> -->
  <!-- <script src="assets/js/pages/authentication/sketch.js"></script> -->
  
</body>

</html>