<template>
  <nav class="navbar clearHeader" style="overflow: hidden !important box-sizing: border-box !important;">
    <div class="row clearfix">
      <div class="col-md-12" style="overflow: hidden !important box-sizing: border-box !important;">
        <div class="navbar-header" style="overflow: hidden !important box-sizing: border-box !important;">
          <a href="javascript:void(0);" class="bars"></a>
          <a href="javascript:void(0)" v-on:click="RouteDashboard" class="navbar-brand">
            <!-- <img class="logo" src="assets/images/logo_small.png" alt="profile img" /> -->
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right" style="overflow: hidden !important box-sizing: border-box !important;">
          <li class="body-alert-exp">
            <span class="alert-exp"></span>
          </li>
          <li>
            <a href="javascript:void(0)" @click="showModalChangePass" title="Ubah Password">
              <i class="zmdi zmdi-key"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" @click="showNotif">
              <i class="zmdi zmdi-notifications"></i>
              <div class="notify" v-if="isNotif">
                <span class="heartbit"></span>
                <span class="point"></span>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li class="header">
                <i class="zmdi zmdi-notifications"></i>
                Pemberitahuan
              </li>
              <li class="body">
                <loader-component v-if="isLoader"></loader-component>
                <!-- <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                            </div> -->
                <ul v-slimscroll class="menu" style="overflow: hidden; width: auto; height: 254px">
                  <div v-if="errored">
                    <div class="d-flex justify-content-center mt-3">
                      <img src="assets/images/logo_notif.png" alt="" width="170" />
                    </div>
                    <h5 class="text-center mt-2">Belum ada pemberitahuan</h5>
                  </div>
                  <li v-else v-for="(notif, i) in notifications" :key="i">
                    <a class="drop-menu" href="javascript:void(0);" @click="read(notif._id.$oid)" v-if="notif.read == 0">
                      <div class="icon-circle" :class="'bg-icon-' + notif.source.toLowerCase()">
                        <i class="fa" :class="'fa-' + notif.source.toLowerCase()"></i>
                      </div>
                      <div class="menu-info">
                        <h4 style="position: relative">
                          Kata <span>{{ notif.key }}</span> muncul pada {{ notif.value }} posting baru.
                          <span style="width: 15px; height: 15px; background: #0275d8; position: absolute; border-radius: 50%; left: 366px; top: 7px"></span>
                        </h4>
                        <p>
                          <i class="material-icons">access_time</i>
                          {{ moment.utc(notif.timestamp.$date).format("DD-MMM-YYYY") }}
                          {{ moment(notif.timestamp.$date).tz("Asia/Jakarta").format("HH:mm") }}
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer" v-if="!errored">
                <div class="row">
                  <div class="col-md-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#viewAllNotif">
                      <i class="fa fa-eye"></i>
                      Lihat Semua
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a href="javascript:void(0);" @click="markAll">
                      <i class="fa fa-check"></i>
                      Tandai Semua Sudah Dibaca
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" @click="logout" class="mega-menu" data-close="true">
              <i class="zmdi zmdi-power"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import $ from "jquery";
var moment = require("moment");
import Loader from "@/components/Loader.vue";
export default {
  name: "Navbar",
  props: ["isNotif"],
  components: {
    "loader-component": Loader,
  },
  data() {
    return {
      expired: "",
      dateExp: "",
      moment: moment,
      notifications: [],
      id_project: this.$store.getters.user.id_project,
      isLoader: false,
      errored: false,
      isNotifs: this.isNotif,
    };
  },
  methods: {
    showModalChangePass() {
      $("#change-password #current_password").val("");
      $("body #chgPassModal").modal("show");
    },

    showNotif() {
      // this.isNotif = false;
      if (this.isNotif) {
        // this.isNotif = false
        this.$parent.socketConnect = false;
      }

      this.getNotif();
    },

    markAll() {
      let api = process.env.VUE_APP_API_URL + "read-all-notifications";
      let params = {
        id_project: this.id_project,
      };

      this.$axios.post(api, params).then((response) => {
        if (response.status === 200) {
          $("body .dropdown").addClass("show");
          this.getNotif();
        }
      });
    },

    read(id) {
      $("body .dropdown").attr("show", 1);
      let api = process.env.VUE_APP_API_URL + "read-notifications";
      let params = {
        _id: id,
      };

      this.$axios.post(api, params).then((response) => {
        if (response.status === 200) {
          $("body .dropdown").addClass("show");
          this.getNotif();
        }
      });
    },

    RouteDashboard() {
      this.$router.push({
        path: "/",
      });
    },

    logout() {
      $("title").text("Social Media Monitoring");
      this.$store.dispatch("logout").then(() => {
        this.$router.push("login");
      });
    },

    getNotif() {
      let api = process.env.VUE_APP_API_URL + "notifications/" + this.id_project;
      this.isLoader = true;
      this.$axios
        .get(api)
        .then((response) => {
          if (response.status === 200) {
            this.notifications = response.data;
            this.errored = false;
          } else {
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },

    getProjectDetail() {
      let api = process.env.VUE_APP_API_URL + "project-detail/" + this.id_project;
      this.$axios.get(api).then((response) => {
        if (response.status === 200) {
          // console.log(response.data);
          if (response.data.project_detail.tipe != 3) {
            let ref = encodeURI(btoa("logout"));
            let teks = encodeURI(btoa("Username tidak terdaftar."));
            let title = encodeURI(btoa("Maaf!"));
            this.$store.dispatch("logout").then(() => {
              this.$router
                .push({
                  path: "/login",
                  query: {
                    log: teks,
                    ref: ref,
                    log_t: title,
                  },
                })
                .catch(() => {});
            });
            return;
          }
          $(".header-image").append(`<img src="` + response.data.project_detail.logo + `">`);
          if (this.$router.path != "/login") {
            $("title").text(response.data.project_detail.alias.toUpperCase() + " - Social Media Monitoring");
          } else {
            $("title").text("Social Media Monitoring");
          }
          const date1 = new Date();
          // const date1 = new Date("2020-12-22 23:59:00");
          const date2 = new Date(response.data.project_detail.periode_to);
          const diffTime = date2 - date1;
          const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
          this.dateExp = diffDays;

          if (date1 > date2) {
            this.expired = "expired";
            $(".navbar-nav.navbar-right .body-alert-exp .alert-exp").html(`<span class="badge badge-danger"><i
                class="fa fa-exclamation-triangle"
                style="padding: 5px !important"
              ></i>
               Masa aktif project sudah habis.</span>`);
          } else {
            if (diffDays == 0) {
              $(".navbar-nav.navbar-right .body-alert-exp .alert-exp").html(`<span class="badge badge-danger"><i
                class="fa fa-exclamation-triangle"
                style="padding: 5px !important"
              ></i> Masa aktif project akan berakhir hari ini</span>`);
            } else if (diffDays <= 7) {
              $(".navbar-nav.navbar-right .body-alert-exp .alert-exp").html(
                `<span class="badge badge-danger"><i
                class="fa fa-exclamation-triangle"
                style="padding: 5px !important"
              ></i>Masa aktif project akan berakhir dalam ` +
                  diffDays +
                  ` hari</span>`
              );
            }
            this.expired = diffDays;
          }
        }
      });
    },
  },
  computed: {
    open() {
      if (this.isNotif) {
        return true;
      } else {
        return false;
      }
    },
  },
  created() {
    // this.getNotif()

    this.getProjectDetail();

    $(document).click(function () {
      $("body .dropdown-menu").removeClass("show");
    });

    $(".drop-menu").click(function () {
      $("body .dropdown").toggleClass("show");
    });
  },

  mounted() {},
};
</script>

<style>
.navbar.clearHeader {
  background-color: #fff !important;
}

.g-bg-blush2 {
  background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
  color: #fff !important;
}

.bg-icon-twitter {
  background-color: #55acee !important;
  color: #fff !important;
}

.bg-icon-facebook {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.bg-icon-youtube {
  background-color: #c4302b !important;
  color: #fff !important;
}

.bg-icon-instagram {
  background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
  color: #fff !important;
}

.bg-icon-blog {
  background: rgb(255, 174, 50) !important;
  color: #fff !important;
}

.bg-icon-forum {
  background: rgb(121, 118, 109) !important;
  color: rgb(255, 255, 255) !important;
}

.bg-icon-google {
  background: rgb(121, 118, 109) !important;
  color: rgb(255, 255, 255) !important;
}
</style>
