<template>
  <aside id="leftsidebar" class="sidebar clearfix">
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li>
          <div class="user-info">
            <div class="text-center">
              <img src="assets/images/digivla.png" alt="profile img" style="height: 75px" />
            </div>
          </div>
        </li>
        <li class="header text-uppercase">
          Menu utama
          <span class="project-name d-block"></span>
          <!-- <span class="exp mr-2"></span> -->
          <!-- <img v-if="expired <= 7 && expired != 1" src="assets/images/warning-sign.png" alt="" style="width:23px !important;">
                <img v-if="expired == 1" src="assets/images/warning.png" alt="" style="width:23px !important;">
                <img v-if="expired == 'expired'" src="assets/images/blocked.png" alt="" style="width:23px !important;"> -->
          <!-- <img
            :src="
              expired <= 7 && expired != 1 && expired != 0
                ? 'assets/images/warning-sign.png'
                : expired == 1 || expired == 0
                ? 'assets/images/warning.png'
                : expired == 'expired'
                ? 'assets/images/blocked.png'
                : 'ss'
            "
            alt=""
            style="width: 16px !important; margin-top: -5px"
          /> -->
        </li>
        <span class="header-images"></span>
        <li></li>
        <li>
          <router-link to="/dashboard">
            <i class="zmdi zmdi-home"></i>
            <span>Dashboard</span>
          </router-link>
        </li>

        <li>
          <router-link to="/UnggahanTerbaru">
            <i class="zmdi zmdi-sort-amount-desc"></i>
            <span>Posting Baru</span>
          </router-link>
        </li>

        <li>
          <router-link to="/analisis">
            <i class="zmdi zmdi-trending-up"></i>
            <span>Analisis</span>
          </router-link>
        </li>
        <li>
          <router-link to="/influencer">
            <i class="fa fa-bullhorn"></i>
            <span>Influencer</span>
          </router-link>
        </li>
        <li v-if="role_id == 2 || role_id == 3">
          <router-link to="/trash">
            <i class="zmdi zmdi-delete"></i>
            <span>Trash Bin</span>
          </router-link>
        </li>
        <li>
          <router-link to="/map">
            <i class="zmdi zmdi-map"></i>
            <span>Map</span>
          </router-link>
        </li>
        <li>
          <a href="javascript:void(0)" data-toggle="modal" data-target="#exportModal">
            <i class="zmdi zmdi-download"></i>
            <span>Ekspor Data</span>
          </a>
        </li>
        <li v-if="role_id == 2">
          <a href="javascript;" data-toggle="modal" data-target="#hubungAkunModal">
            <i class="fa fa-user"></i>
            <span>Hubungkan Akun</span>
          </a>
        </li>
        <li v-if="role_id == 2">
          <router-link to="/ManajemenKeyword">
            <i class="zmdi zmdi-key"></i>
            <span>Manajemen Keyword</span>
          </router-link>
        </li>
      </ul>
    </div>
    <!-- #Menu -->

    <modal-component v-for="(modal, i) in dataModal" :key="i" :modalTitle="modal.modalTitle" :modalTarget="modal.modalTarget" :modalType="modal.modalType" :modalVariant="modal.modalVariant"> </modal-component>
  </aside>
</template>

<script>
import Modal from "@/components/ModalComponent.vue";
import Cookie from "vue-cookies";
export default {
  name: "sidebar",
  components: {
    "modal-component": Modal,
  },
  data() {
    return {
      expired: "",
      role_id: Cookie.get("role_id"),
      id_project: this.$store.getters.user.id_project,
      dataModal: [
        {
          modalTitle: "Ubah Password",
          modalVariant: "",
          modalType: "chgPassModal",
          modalTarget: "chgPassModal",
        },
        {
          modalTitle: "Ekspor Data",
          modalVariant: "",
          modalType: "exportModal",
          modalTarget: "exportModal",
        },
        {
          modalTitle: "Hubungkan Akun",
          modalVariant: "modal-lg",
          modalType: "hubungAkunModal",
          modalTarget: "hubungAkunModal",
        },
        {
          modalTitle: "Pemberitahuan",
          modalVariant: "modal-lg modal-dialog-scrollable",
          modalType: "viewAllNotif",
          modalTarget: "viewAllNotif",
        },
        // {
        //     modalTitle: "Form Tambah Grafik",
        //     modalVariant: "modal-lg",
        //     modalType: "addGrafikModal",
        //     modalTarget: "addGrafikModal",
        // },
      ],
    };
  },

  methods: {},

  created() {},
};
</script>

<style scoped>
body {
  overflow: hidden !important;
}

a.router-link-active {
  /* background: #353d44 !important;
    color: #fff !important; */
  /* background: #e9eaea !important; */
  /* background: #bf77f6 !important; */
  background: orchid !important;
  color: #fff !important;
  font-weight: 700 !important;
}

.light .sidebar .menu,
.light.ls-closed .sidebar {
  background: #fff !important;
}

.navbar.clearHeader {
  background-color: #fff !important;
}

.sidebar .menu .user-info {
  /* padding: 13px 15px 12px 15px; */
  padding: 0 15px !important;
}

#leftsidebar .menu ul.list li.header span.exp {
  text-transform: none !important;
}
</style>
