.cbp_tmlabel div.hide {
	display: block;
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: max-height 500ms, opacity 500ms;
	-webkit-transition: max-height 500ms, opacity 500ms;

}

.cbp_tmlabel:hover .hide {
	max-height: 500px;
	opacity: 1;
	transition: max-height 0, opacity 800ms;
	-webkit-transition: max-height 0, opacity 800ms;
}

.social_media_table2 .list-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px
}

.custom-switch {
	padding-left: 2.25rem !important;
}

.custom-control {
	position: relative !important;
	z-index: 1 !important;
	display: block !important;
	min-height: 1.5rem !important;
	padding-left: 1.5rem !important;
}

input[type=checkbox],
input[type=radio] {
	box-sizing: border-box !important;
	padding: 0 !important;
}

.custom-control-input {
	position: absolute !important;
	left: 0 !important;
	z-index: -1 !important;
	width: 1rem !important;
	height: 1.25rem !important;
	opacity: 0 !important;
}

.custom-control-label {
	position: relative !important;
	margin-bottom: 0 !important;
	vertical-align: top !important;
}

.switch {
	position: relative !important;
	display: inline-block !important;
	width: 50px !important;
	height: 24px !important;
}

.switch input {
	opacity: 0 !important;
	width: 0 !important;
	height: 0 !important;
}

.slider {
	position: absolute !important;
	cursor: pointer !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	background-color: #ccc !important;
	-webkit-transition: .4s !important;
	transition: .4s !important;
}

.slider:before {
	position: absolute !important;
	content: "" !important;
	height: 20px !important;
	width: 20px !important;
	left: 4px !important;
	bottom: 2px !important;
	background-color: white !important;
	-webkit-transition: .4s !important;
	transition: .4s !important;
}

input:checked+.slider {
	background-color: #2196F3 !important;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3 !important;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px) !important;
	-ms-transform: translateX(26px) !important;
	transform: translateX(26px) !important;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px !important;
}

.slider.round:before {
	border-radius: 50% !important;
}