<template>
  <div class="about">
    <about-component v-for="member in members" :key="member.nama" :member="member"></about-component>
  </div>
</template>

<script>
import About from "@/components/AboutComponent.vue";
export default {
  data: function () {
    return {
      members: [
        {
          nama: "a",
          usia: 22,
        },
        {
          nama: "b",
          usia: 23,
        },
      ],
    };
  },
  components: {
    "about-component": About,
  },
};
</script>
