<template>
  <div class="analisis">
    <loader-component v-if="isLoaderDelete" classLoader="loader-delete"></loader-component>
    <pageloader></pageloader>

    <header-component headerTitle="Analisis"></header-component>

    <subbar-component :is_grafik="true" :project_charts="project_charts" @add-grafik="addGrafik"></subbar-component>

    <!-- section content -->
    <div class="row clearfix">
      <!-- content left -->
      <div class="col-md-12">
        <div class="row clearfix">
          <!-- peaktime -->
          <div class="col-md-12" v-if="isPeaktime == 1">
            <div class="card">
              <!-- <loader></loader> -->
              <div class="header" style="padding-bottom: 0">
                <h4>Peaktime</h4>
                <!-- <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:void(0);">Hapus Grafik</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul> -->
              </div>
              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderPeaktime ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <heatmap-component v-else id="heatmap" :dataset="data_peaktime_analisis" :key="peaktime_analisis_key"></heatmap-component>
              </div>
            </div>
          </div>
          <!-- peaktime -->

          <!-- hashtag -->
          <div class="col-md-12" v-if="isHashtag == 1">
            <div class="card">
              <!-- <loader></loader> -->
              <div class="header" style="padding-bottom: 0">
                <h4>Hashtags</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(10)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderBarHastag ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <columnchart-component v-else id="bar-hastag" :dataset="bar_hastag" :key="bar_hastag_key"></columnchart-component>
              </div>
            </div>
          </div>
          <!-- /hashtag -->

          <!-- trend mention per topik -->
          <div class="col-md-12" v-if="isTrendMentionPertopik == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Tren Mentions per Topik</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(1)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderTrenMentionPertopik ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <linechart-component v-else id="line-komparasi-topik-analisis" :dataset="trend_mention_pertopik" :key="trend_mention_pertopik_key"> </linechart-component>
              </div>
            </div>
          </div>
          <!-- /trend mention per topik -->

          <!-- trend reach per topik -->
          <div class="col-md-12" v-if="isTrenReachPertopik == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Tren Reach per Topik</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(2)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderTrenReachPertopik ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <linechart-component v-else id="line-trend-reach-topik" :dataset="line_trend_reach_topik" :key="line_trend_reach_topik_key"> </linechart-component>
              </div>
            </div>
          </div>
          <!-- /trend reach per topik -->

          <!-- komparasi sentimen per topik -->
          <div class="col-md-12" v-if="isKomparasiSentimenPertopik == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Komparasi Sentimen per Topik</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(3)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderKomparasiSentimenPertopik ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <columnchart-component v-else id="column-sentimen" :dataset="bar_komparasi_sentimen_pertopik" :key="bar_komparasi_sentimen_pertopik_key"></columnchart-component>
              </div>
            </div>
          </div>
          <!-- /komparasi sentimen per topik -->

          <!-- trend mention per channel -->
          <div class="col-md-12" v-if="isTrenMentionsPerchannel">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Tren Mentions per Channel</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(4)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderTrenMentionPerchannel ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <linechart-component v-else id="line-trend-mention-perchannel" :dataset="line_trend_mention_perchannel" :key="line_trend_mention_perchannel_key"> </linechart-component>
              </div>
            </div>
          </div>
          <!-- /trend mention per channel -->

          <!-- trend reach per channel -->
          <div class="col-md-12" v-if="isTrenReachPerchannel == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Tren Reach per Channel</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(5)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderTrenReachPerchannel ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <linechart-component v-else id="line-trend-reach-perchannel" :dataset="line_trend_reach_perchannel" :key="line_trend_reach_perchannel_key"> </linechart-component>
              </div>
            </div>
          </div>
          <!-- /trend reach per channel -->

          <!-- komparasi sentimen per channel -->
          <div class="col-md-12" v-if="isKomparasiSentimenPerchannel == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Komparasi Sentimen per Channel</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(6)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderKomparasiSentimenPerchannel ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <columnchart-component v-else id="column-sentimen-perchannel" :dataset="bar_komparasi_sentimen_perchannel" :key="bar_komparasi_sentimen_perchannel_key"> </columnchart-component>
              </div>
            </div>
          </div>
          <!-- /komparasi sentimen per channel -->

          <!-- trend sentimen -->
          <div class="col-md-12" v-if="isTrenSentimen == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Tren Mention per Sentimen</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(7)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderTrenMentionPersentimen ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <linechart-component v-else id="line-trend-sentiment" :dataset="line_trend_sentiment" :key="line_trend_sentiment_key"> </linechart-component>
              </div>
            </div>
          </div>
          <!-- /trend sentimen -->

          <!-- trend reach sentimen -->
          <div class="col-md-12" v-if="isTrenReachSentimen == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Tren Reach Sentimen</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(8)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderTrenReachSentimen ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <linechart-component v-else id="line-sentimen-mention-analisis" :dataset="line_tren_reach_sentimen" :key="line_tren_reach_sentimen_key"> </linechart-component>
              </div>
            </div>
          </div>
          <!-- /trend reach sentimen -->

          <!-- komparasi sentimen -->
          <div class="col-md-12" v-if="isKomparasiSentimen == 1">
            <div class="card">
              <div class="header" style="padding-bottom: 0">
                <h4>Komparasi Sentimen</h4>
                <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                      <li>
                        <a href="javascript:void(0);" @click="deleteGrafik(9)">Hapus Grafik</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="body" style="padding-top: 0">
                <loader-component :classLoader="isLoaderKomparasiSentimen ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <columnchart-component v-else id="column-komparasi-sentimen" :dataset="bar_komparasi_sentiment" :key="bar_komparasi_sentiment_key"> </columnchart-component>
              </div>
            </div>
          </div>
          <!-- /komparasi sentimen -->

          <!-- wordcloud -->
          <div class="col-md-12" v-if="isWordcloud">
            <div class="card">
              <!-- <loader></loader> -->
              <div class="header" style="padding-bottom: 0">
                <h4>Wordcloud</h4>
                <!-- <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:void(0);">Hapus Grafik</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul> -->
              </div>

              <div class="body wordcloud-wrapper" style="padding-top: 0; height: 500px">
                <loader-component :classLoader="isLoaderWordCloud ? 'show' : 'hide'"></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <wordcloud-component v-else :dataset="wordcloud_analisis" :key="wordcloud_analisis_key"> </wordcloud-component>
              </div>
            </div>
          </div>
          <!-- /wordcloud -->

          <!-- <section id="add-grafik">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4></h4>
                            </div>
                            <div class="body content-grafik"></div>
                        </div>
                    </div>
                </section> -->
        </div>
      </div>
      <!-- /content left -->
      <!-- content right -->
      <!-- <div class="col-md-4">
        <div class="row clearfix" style="position: sticky;top:20px;">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <accordian-component></accordian-component>
          </div>
        </div>
      </div>-->
      <!-- /content right -->
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import pageloader from "@/components/PageLoader.vue";
import Heatmap from "@/components/Heatmap.vue";
import WordCloud from "@/components/WordCloud.vue";
import ColumnChart from "@/components/ColumnChart.vue";
import LineChart from "@/components/LineChartAnalisis.vue";
import Header from "@/components/Header.vue";
import SubBar from "@/components/SubBar.vue";
import Loader from "@/components/Loader.vue";
import AlertError from "@/components/AlertError.vue";

var moment = require("moment");
export default {
  data() {
    return {
      start: moment(new Date()).subtract(6, "days").format("YYYY-MM-DD 00:00:00"),
      to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
      isLoaderPeaktime: false,
      isLoaderBarHastag: false,
      isLoaderTrenMentionPertopik: false,
      isLoaderTrenReachPertopik: false,
      isLoaderKomparasiSentimenPertopik: false,
      isLoaderTrenMentionPerchannel: false,
      isLoaderTrenReachPerchannel: false,
      isLoaderKomparasiSentimenPerchannel: false,
      isLoaderTrenMentionPersentimen: false,
      isLoaderTrenReachSentimen: false,
      isLoaderKomparasiSentimen: false,
      isLoaderWordCloud: false,

      isLoader: false,
      project_charts: null,
      isLoaderDelete: false,
      errored: false,
      topic: false,
      source: false,
      id_project: this.$store.getters.user.id_project,
      charts: [1, 2, 3, 4, 5, 6, 7, 8, 9],
      isAddGrafik: false,

      isDeleted: 0,
      isPeaktime: 1,
      isHashtag: 1,
      isTrendMentionPertopik: 1,
      isTrenReachPertopik: 1,
      isKomparasiSentimenPertopik: 1,
      isTrenMentionsPerchannel: 1,
      isTrenReachPerchannel: 1,
      isKomparasiSentimenPerchannel: 1,
      isTrenSentimen: 1,
      isTrenReachSentimen: 1,
      isKomparasiSentimen: 1,
      isWordcloud: 1,

      modalTitle: "Form Tambah Grafik",
      modalVariant: "modal-lg",
      modalType: "addGrafikModal",
      modalTarget: "addGrafikModal",

      data_peaktime_analisis: [],
      peaktime_analisis_key: 0,
      bar_komparasi_sentimen_pertopik: [],
      bar_komparasi_sentimen_pertopik_key: 0,
      bar_hastag: [],
      bar_hastag_key: 0,

      bar_komparasi_sentimen_perchannel: [],
      bar_komparasi_sentimen_perchannel_key: 0,
      bar_komparasi_sentiment: [],
      bar_komparasi_sentiment_key: 0,
      bar_kommparasi_sentiment_key2: 0,

      line_tren_reach_sentimen: [],
      line_tren_reach_sentimen_key: 0,
      trend_mention_pertopik: [],
      trend_mention_pertopik_key: 0,
      line_trend_reach_topik: [],
      line_trend_reach_topik_key: 0,
      line_trend_mention_perchannel: [],
      line_trend_mention_perchannel_key: 0,
      line_trend_reach_perchannel: [],
      line_trend_reach_perchannel_key: 0,
      line_trend_sentiment: [],
      line_trend_sentiment_key: 0,
      wordcloud_analisis: null,
      wordcloud_analisis_key: 0,
    };
  },
  components: {
    "heatmap-component": Heatmap,
    "wordcloud-component": WordCloud,
    "columnchart-component": ColumnChart,
    "linechart-component": LineChart,
    pageloader: pageloader,
    "loader-component": Loader,
    "header-component": Header,
    "subbar-component": SubBar,
    "alerterror-component": AlertError,
  },

  methods: {
    removeArray(arr) {
      var what,
        a = arguments,
        L = a.length,
        ax;
      while (L > 1 && arr.length) {
        what = a[--L];
        while ((ax = arr.indexOf(what)) !== -1) {
          arr.splice(ax, 1);
        }
      }
      return arr;
    },

    deleteGrafik(chart) {
      let val = parseInt(chart);
      let values = [];
      $("body #dataGrafiks option:not(:disabled)").each(function () {
        values.push(parseInt($(this).val()));
      });

      values.push(val);

      let charts = [];
      $("body #dataGrafiks option:disabled").each(function () {
        charts.push(parseInt($(this).val()));
      });

      this.$swal({
        title: "Apakah anda yakin akan menghapus grafik ini?",
        icon: "info",
        showCancelButton: true,
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#DD6B55",
        confirmButtonText: "Ya",
        cancelButtonText: "Tidak",
      }).then((result) => {
        if (result.value) {
          let api = process.env.VUE_APP_API_URL;

          let data = {
            _id: parseInt(this.id_project),
            charts: this.removeArray(charts, val),
          };
          this.isLoaderDelete = true;
          this.$axios
            .post(api + "project-chart", data)
            .then((response) => {
              if (response.status == 200) {
                this.getProjectDetail();
                let path = this.$route.fullPath;
                this.$router.go(path);
                this.$toasted.show('<i class="fa fa-check-circle"></i> <b>Success!</b> grafik berhasil dihapus', {
                  theme: "bubble",
                  position: "top-center",
                  duration: 1000,
                  fullWidth: true,
                });
                // this.getPeakTime();
                // this.getWordCloud();
                // this.getTrenMentionPersentimen();
                // this.getBarChart();
                // this.getBarHastag();
                // this.getTrenMentionPertopik();
                // this.getTrenReachPertopik();
                // this.getKomparasiSentimenPertopik();
                // this.getTrenMentionPerchannel();
                // this.getKomparasiSentimen();
                // this.getTrenReachPerchannel();
                // this.getKomparasiSentimenPerchannel();
                // this.getTrenReachSentimen();
              }
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => (this.isLoaderDelete = false));
        }
      });
    },

    addGrafik(val) {
      let api = process.env.VUE_APP_API_URL;
      let charts = [];
      $("body #dataGrafiks option:disabled").each(function () {
        charts.push(parseInt($(this).val()));
      });
      charts.push(parseInt(val));

      let values = [];
      $("body #dataGrafiks option:not(:disabled)").each(function () {
        values.push(parseInt($(this).val()));
      });
      this.removeArray(values, parseInt(val));

      let data = {
        _id: parseInt(this.id_project),
        charts: charts,
      };
      this.$axios
        .post(api + "project-chart", data)
        .then((response) => {
          if (response.status == 200) {
            this.getProjectDetail();
            let path = this.$route.fullPath;
            this.$router.go(path);
            this.$toasted.show('<i class="fa fa-check-circle"></i> <b>Success!</b> grafik berhasil ditambahkan', {
              theme: "bubble",
              position: "top-center",
              duration: 5000,
              fullWidth: true,
              type: "success",
            });
            // this.getPeakTime();
            // this.getWordCloud();
            // this.getTrenMentionPersentimen();
            // this.getBarChart();
            // this.getBarHastag();
            // this.getTrenMentionPertopik();
            // this.getTrenReachPertopik();
            // this.getKomparasiSentimenPertopik();
            // this.getTrenMentionPerchannel();
            // this.getKomparasiSentimen();
            // this.getTrenReachPerchannel();
            // this.getKomparasiSentimenPerchannel();
            // this.getTrenReachSentimen();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getPeakTime() {
      this.isLoaderPeaktime = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.peaktime) {
              this.data_peaktime_analisis = response.data.peaktime;
              this.peaktime_analisis_key++;
              this.isPeaktime = 1;
              this.errored = false;
            } else {
              this.isPeaktime = 0;
            }
          } else {
            this.errored = true;
            this.data_peaktime_analisis = null;
            this.peaktime_analisis_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderPeaktime = false));
    },

    getBarHastag() {
      this.isLoaderBarHastag = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "hashtags/" + this.id_project, {
          // headers: {
          //     token: localStorage.getItem("token"),
          // },
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.hashtags) {
              var bar_data_hastag = [];
              var bar_categories_hastag = [];
              response.data.hashtags.forEach(function (i) {
                var category = i._id;
                var a = {
                  name: i._id,
                  y: i.count,
                };

                bar_data_hastag.push(a);
                bar_categories_hastag.push(category);
              });
              this.bar_hastag = {
                categories: bar_categories_hastag,
                series: [
                  {
                    name: "",
                    colorByPoint: true,
                    cursor: "pointer",
                    data: bar_data_hastag,
                  },
                ],
              };
              this.bar_hastag_key++;
              this.isHashtag = 1;
              this.errored = false;
            } else {
              this.isHashtag = 0;
            }
          } else {
            this.bar_hastag = null;
            this.bar_hastag_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderBarHastag = false));
    },

    getTrenMentionPertopik() {
      this.isLoaderTrenMentionPertopik = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.trend_topik) {
              // line komparasi topik
              let series_trend_mention_pertopik = [];
              for (var obj in response.data.trend_topik) {
                if (obj != "date") {
                  let a = {
                    name: obj,
                    data: response.data.trend_topik[obj].map(Math.round),
                  };
                  series_trend_mention_pertopik.push(a);
                }
              }
              this.trend_mention_pertopik = {
                categories: response.data.trend_topik.date,
                series: series_trend_mention_pertopik,
              };
              this.trend_mention_pertopik_key++;
              // end
              this.isTrendMentionPertopik = 1;
              this.errored = false;
            } else {
              this.isTrendMentionPertopik = 0;
            }
          } else {
            this.trend_mention_pertopik = [];
            this.trend_mention_pertopik_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderTrenMentionPertopik = false));
    },

    getTrenReachPertopik() {
      this.isLoaderTrenReachPertopik = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.trend_reach_topik) {
              // line trend reach topik
              let series_line_tren_reach_topik = [];
              for (var reach in response.data.trend_reach_topik) {
                if (reach != "date") {
                  // let res = response.data.trend_reach_topik[reach];
                  // let data = res.map(function (each) {
                  //     return Number(Math.round(each))
                  // })

                  let a = {
                    name: reach,
                    data: response.data.trend_reach_topik[reach].map(Math.round),
                  };
                  series_line_tren_reach_topik.push(a);
                }
              }
              this.line_trend_reach_topik = {
                categories: response.data.trend_reach_topik.date,
                series: series_line_tren_reach_topik,
              };
              this.line_trend_reach_topik_key++;
              // end
              this.isTrenReachPertopik = 1;
              this.errored = false;
            } else {
              this.isTrenReachPertopik = 0;
            }
          } else {
            this.line_trend_reach_topik = [];
            this.line_trend_reach_topik_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderTrenReachPertopik = false));
    },

    getKomparasiSentimenPertopik() {
      this.isLoaderKomparasiSentimenPertopik = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.bar_topik) {
              var categories_bar_sentimen = [];
              response.data.bar_topik.topics.forEach(function (i) {
                var a = i.nama;

                categories_bar_sentimen.push(a);
              });
              this.bar_komparasi_sentimen_pertopik = {
                categories: categories_bar_sentimen,
                series: [
                  {
                    name: "Positif",
                    color: "rgb(160, 214, 117)",
                    data: response.data.bar_topik.positif,
                  },
                  {
                    name: "Netral",
                    color: "rgb(149, 171, 219)",
                    // visible: false,
                    data: response.data.bar_topik.netral,
                  },
                  {
                    name: "Negatif",
                    color: "rgb(229, 125, 119)",
                    data: response.data.bar_topik.negatif,
                  },
                ],
              };
              this.bar_komparasi_sentimen_pertopik_key++;
              this.isKomparasiSentimenPertopik = 1;
              this.errored = false;
            } else {
              this.isKomparasiSentimenPertopik = 0;
            }
          } else {
            this.bar_komparasi_sentimen_pertopik = null;
            this.bar_komparasi_sentimen_pertopik_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderKomparasiSentimenPertopik = false));
    },

    getTrenMentionPerchannel() {
      this.isLoaderTrenMentionPerchannel = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.trend_source) {
              // line trend mention perchannel
              this.line_trend_mention_perchannel = {
                categories: response.data.trend_source.date,
                series: [
                  {
                    name: "Facebook",
                    data: response.data.trend_source.facebook.map(Math.round),
                    color: "#007bb5",
                  },
                  {
                    name: "Instagram",
                    data: response.data.trend_source.instagram.map(Math.round),
                    color: "#DD5D89",
                  },
                  {
                    name: "Twitter",
                    data: response.data.trend_source.twitter.map(Math.round),
                    color: "#55acee",
                  },
                  {
                    name: "Youtube",
                    data: response.data.trend_source.youtube.map(Math.round),
                    color: "#bb0000",
                  },
                  {
                    name: "Forum",
                    data: response.data.trend_source.forum.map(Math.round),
                    color: "rgb(121, 118, 109)",
                  },
                  {
                    name: "Blog",
                    data: response.data.trend_source.blog.map(Math.round),
                    color: "rgb(255, 174, 50)",
                  },
                ],
              };
              this.line_trend_mention_perchannel_key++;
              // end
              this.isTrenMentionsPerchannel = 1;
              this.errored = false;
            } else {
              this.isTrenMentionsPerchannel = 0;
            }
          } else {
            this.line_trend_mention_perchannel = [];
            this.line_trend_mention_perchannel_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderTrenMentionPerchannel = false));
    },

    getTrenReachPerchannel() {
      this.isLoaderTrenReachPerchannel = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.trend_reach_source) {
              // trend reach perchannel
              this.line_trend_reach_perchannel = {
                categories: response.data.trend_reach_source.date,
                series: [
                  {
                    name: "Facebook",
                    data: response.data.trend_reach_source.facebook.map(Math.round),
                    color: "#007bb5",
                  },
                  {
                    name: "Instagram",
                    data: response.data.trend_reach_source.instagram.map(Math.round),
                    color: "#DD5D89",
                  },
                  {
                    name: "Twitter",
                    data: response.data.trend_reach_source.twitter.map(Math.round),
                    color: "#55acee",
                  },
                  {
                    name: "Youtube",
                    data: response.data.trend_reach_source.youtube.map(Math.round),
                    color: "#bb0000",
                  },
                  {
                    name: "Forum",
                    data: response.data.trend_reach_source.forum.map(Math.round),
                    color: "rgb(121, 118, 109)",
                  },
                  {
                    name: "Blog",
                    data: response.data.trend_reach_source.blog.map(Math.round),
                    color: "rgb(255, 174, 50)",
                  },
                ],
              };
              this.line_trend_reach_perchannel_key++;
              // end
              this.isTrenReachPerchannel = 1;
              this.errored = false;
            } else {
              this.isTrenReachPerchannel = 0;
            }
          } else {
            this.line_trend_reach_perchannel = [];
            this.line_trend_reach_perchannel_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderTrenReachPerchannel = false));
    },

    getKomparasiSentimenPerchannel() {
      this.isLoaderKomparasiSentimenPerchannel = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.bar_source) {
              this.bar_komparasi_sentimen_perchannel = {
                categories: response.data.bar_source.topics,
                series: [
                  {
                    name: "Positif",
                    color: "rgb(160, 214, 117)",
                    data: response.data.bar_source.positif,
                  },
                  {
                    name: "Netral",
                    color: "rgb(149, 171, 219)",
                    // visible: false,
                    data: response.data.bar_source.netral,
                  },
                  {
                    name: "Negatif",
                    color: "rgb(229, 125, 119)",
                    data: response.data.bar_source.negatif,
                  },
                ],
              };
              this.bar_komparasi_sentimen_perchannel_key++;
              this.isKomparasiSentimenPerchannel = 1;
              this.errored = false;
            } else {
              this.isKomparasiSentimenPerchannel = 0;
            }
          } else {
            this.bar_komparasi_sentimen_perchannel = [];
            this.bar_komparasi_sentimen_perchannel_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderKomparasiSentimenPerchannel = false));
    },

    getTrenMentionPersentimen() {
      this.isLoaderTrenMentionPersentimen = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.trend_sentiment) {
              // trend sentiment
              this.line_trend_sentiment = {
                categories: response.data.trend_sentiment.date,
                series: [
                  {
                    name: "Positif",
                    data: response.data.trend_sentiment.positif.map(Math.round),
                    color: "#78b83e",
                  },
                  {
                    name: "Netral",
                    data: response.data.trend_sentiment.netral.map(Math.round),
                    color: "#607D8B",
                  },
                  {
                    name: "Negatif",
                    data: response.data.trend_sentiment.negatif.map(Math.round),
                    color: "#f83600",
                  },
                ],
              };
              this.line_trend_sentiment_key++;
              // end
              this.isTrenSentimen = 1;
              this.errored = false;
            } else {
              this.isTrenSentimen = 0;
            }
          } else {
            this.line_trend_sentiment = [];
            this.line_trend_sentiment_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderTrenMentionPersentimen = false));
    },

    getTrenReachSentimen() {
      this.isLoaderTrenReachSentimen = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.trend_reach_sentiment) {
              // line sentimen mention
              // console.log(response.data.trend_reach_sentiment.netral)
              this.line_tren_reach_sentimen = {
                categories: response.data.trend_reach_sentiment.date,
                series: [
                  {
                    name: "Netral",
                    data: response.data.trend_reach_sentiment.netral.map(Math.round),
                    color: "#89658f",
                  },
                  {
                    name: "Positif",
                    data: response.data.trend_reach_sentiment.positif.map(Math.round),
                    color: "#f48c21",
                  },
                  {
                    name: "Negatif",
                    data: response.data.trend_reach_sentiment.negatif.map(Math.round),
                    color: "rgb(229, 125, 119)",
                  },
                ],
              };
              this.line_tren_reach_sentimen_key++;
              // end
              this.isTrenReachSentimen = 1;
              this.errored = false;
            } else {
              this.isTrenReachSentimen = 0;
            }
          } else {
            this.line_tren_reach_sentimen = [];
            this.line_tren_reach_sentimen_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderTrenReachSentimen = false));
    },

    getBarChart() {
      this.isLoader = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            var categories_bar_sentimen = [];
            response.data.bar_topik.topics.forEach(function (i) {
              var a = i.nama;

              categories_bar_sentimen.push(a);
            });
            this.bar_sentimen = {
              categories: categories_bar_sentimen,
              series: [
                {
                  name: "Positif",
                  color: "rgb(160, 214, 117)",
                  data: response.data.bar_topik.positif,
                },
                {
                  name: "Netral",
                  color: "rgb(149, 171, 219)",
                  // visible: false,
                  data: response.data.bar_topik.netral,
                },
                {
                  name: "Negatif",
                  color: "rgb(229, 125, 119)",
                  data: response.data.bar_topik.negatif,
                },
              ],
            };
            this.bar_sentimen_key++;
            this.bar_sentimen_key2++;

            this.errored = false;
          } else {
            this.bar_sentimen = null;
            this.bar_sentimen_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },

    getKomparasiSentimen() {
      this.isLoaderKomparasiSentimen = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "analytics-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.bar_sentiment) {
              // bar komparasi sentimen
              let sentiments = [];
              let bar_data_sentiment = [];
              let a;
              response.data.bar_sentiment.forEach(function (i) {
                if (i._id == -1) {
                  a = "Negatif";
                } else if (i._id == 0) {
                  a = "Netral";
                } else {
                  a = "Positif";
                }
                let x = {
                  name: i._id == -1 ? "Negatif" : i._id == 0 ? "Netral" : "Positif",
                  y: i.count,
                  color: i._id == -1 ? "rgb(229, 125, 119)" : i._id == 0 ? "rgb(149, 171, 219)" : "rgb(160, 214, 117)",
                };

                bar_data_sentiment.push(x);
                sentiments.push(a);
              });

              this.bar_komparasi_sentiment = {
                categories: sentiments,
                series: [
                  {
                    name: "",
                    colorByPoint: true,
                    cursor: "pointer",
                    data: bar_data_sentiment,
                  },
                ],
              };
              this.bar_komparasi_sentiment_key++;
              this.isKomparasiSentimen = 1;
              this.errored = false;
            } else {
              this.isKomparasiSentimen = 0;
            }
          } else {
            this.bar_komparasi_sentiment = null;
            this.bar_komparasi_sentiment_key = 0;
            this.errored = true;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderKomparasiSentimen = false));
    },

    getWordCloud() {
      this.isLoaderWordCloud = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "wordcloud/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.wordcloud) {
              this.wordcloud_analisis = response.data.wordcloud;
              this.wordcloud_analisis_key++;
              this.isWordcloud = 1;
              this.errored = false;
            } else {
              this.isWordcloud = 0;
            }
          } else {
            this.errored = true;
            this.wordcloud_analisis = null;
            this.wordcloud_analisis_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderWordCloud = false));
    },

    getProjectDetail() {
      let api = process.env.VUE_APP_API_URL + "project-detail/" + this.id_project;
      this.$axios.get(api).then((response) => {
        if (response.status === 200) {
          if (response.data.project_detail.charts.length > 0) {
            // let puss_arr = response.data.project_detail.charts.push(10)
            this.project_charts = response.data.project_detail.charts;
          } else {
            this.project_charts = null;
          }
          // console.log(response.data)
          // console.log(response.data.project_detail.charts.length)
        }
      });
    },
  },

  mounted: function () {},

  watch: {
    $route() {
      if (this.$route.query.start) {
        this.start = this.$route.query.start;
        this.to = this.$route.query.end;
      }
      this.topic = this.$route.query.topic;
      this.source = this.$route.query.sources;
      this.getPeakTime();
      this.getBarHastag();
      this.getWordCloud();
      this.getBarChart();
      this.getTrenMentionPersentimen();
      this.getKomparasiSentimen();
      this.getTrenMentionPertopik();
      this.getTrenReachPertopik();
      this.getKomparasiSentimenPertopik();
      this.getTrenMentionPerchannel();
      this.getTrenReachPerchannel();
      this.getKomparasiSentimenPerchannel();
      this.getTrenReachSentimen();
    },
  },

  created() {
    this.getPeakTime();
    this.getBarHastag();
    this.getWordCloud();
    this.getBarChart();
    this.getKomparasiSentimen();
    this.getTrenMentionPertopik();
    this.getTrenReachPertopik();
    this.getKomparasiSentimenPertopik();
    this.getTrenMentionPerchannel();
    this.getTrenReachPerchannel();
    this.getTrenMentionPersentimen();
    this.getTrenReachSentimen();
    this.getKomparasiSentimenPerchannel();

    this.getProjectDetail();
  },
};
</script>

<style>
#column-komparasi-sentimen g.highcharts-legend-item rect,
#bar-hastag g.highcharts-legend-item rect {
  display: none !important;
}
</style>
