<template>
  <div class="coba">
    <header-component headerTitle="Coba"></header-component>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <loader></loader>

          <div class="header" style="padding-bottom: 0">
            <h4>Sentimen Mention</h4>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a
                  href="javascript:void(0);"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <!-- <li><a href="javascript:void(0);">Edit Grafik</a></li> -->
                  <li>
                    <a href="javascript:void(0);" onclick="deleteGrafik(24)">Hapus Grafik</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="body" style="padding-top: 0">
            <div v-if="line_sentimen_mention.categories.length">
              <linechart-component
                id="line-sentimen-mention-analisis"
                :dataset="line_sentimen_mention"
              ></linechart-component>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import LineChart from "@/components/LineChart.vue";
export default {
  components: {
    "header-component": Header,
    "linechart-component": LineChart,
  },
  data() {
    return {
      line_sentimen_mention: [],
    };
  },
  created() {
    this.$axios
      .get(
        "https://v3.onlinemonitoring.id:5001/dashboard_classic/1?from=2020-09-04 00:00:00&to=2020-09-11 00:00:00"
      )
      .then((response) => {
        this.line_sentimen_mention = {
          categories: response.data.trend.date,
          series: [
            {
              name: "Mentions",
              data: response.data.trend.mention,
              color: "#89658f",
            },
            {
              name: "Reach",
              data: response.data.trend.reach,
              color: "#f48c21",
              yAxis: 1,
            },
            {
              name: "Engagement",
              data: response.data.trend.engagement,
              color: "rgb(229, 125, 119)",
            },
          ],
        };
        console.log(response.data);
      })
      .catch((error) => console.log(error));
  },
};
</script>