<template>
  <div class="dashboard">
    <!-- <pageloader></pageloader> -->

    <header-component headerTitle="Dashboard"></header-component>
    <div class="row clearfix">
      <div class="col-12 col-lg-9 col-md-12 col-sm-12">
        <div class="card product-report">
          <div class="header">
            <h4>Jumlah Mention dan Reach</h4>
          </div>
          <div class="body" :style="'height:' + errored ? '420px' : 'auto'">
            <loader-component
              :classLoader="isLoaderMentionReach ? 'show' : 'hide'"
            ></loader-component>
            <productreport-component
              :dataset="total_report"
              :key="product_report_key"
            ></productreport-component>
            <div v-if="errored" class="alert alert-danger" style="text-align: center">
              Data yang anda cari tidak ditemukan. Klik
              <a href="javascript:void(0)" v-on:click="RouteDashboard">tautan ini</a>
              <a>untuk kembali ke halaman awal.</a>
            </div>
            <div v-else>
              <linechart-component
                height="430px"
                id="jumlah-mention-search"
                :key="line_mention_search_key"
                :dataset="line_mention_search"
              ></linechart-component>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="row clearfix top-report">
          <!-- rata-rata mention -->
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="body" style="height: 255px !important">
                <loader-component
                  :classLoader="isLoaderMentionReach ? 'show' : 'hide'"
                ></loader-component>
                <avemention-component :dataset="total_report"></avemention-component>
              </div>
            </div>
          </div>
          <!-- /rata-rata mention -->
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <div class="col-sm-12">
                  <i class="zmdi zmdi-thumb-up-down" style="padding-right: 10px"></i>
                  <b>Sentimen</b>
                </div>
              </div>
              <div class="body">
                <loader-component
                  :classLoader="isLoaderSentiment ? 'show' : 'hide'"
                ></loader-component>
                <div v-if="errored" class="alert alert-danger" style="text-align: center">
                  Data yang anda cari tidak ditemukan. Klik
                  <a href="javascript:void(0)" v-on:click="RouteDashboard">tautan ini</a>
                  <a>untuk kembali ke halaman awal.</a>
                </div>
                <piechart-component
                  v-else
                  id="pie_sentimen"
                  :key="pie_sentimen_key"
                  :dataset="pie_sentimen"
                  height="235px"
                  :innersize="0"
                  :format="3"
                ></piechart-component>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="card">
          <div class="body">
            <div class="row center">
              <div class="col-12 col-lg-5 col-md-5 col-sm-5 col-5">
                <div class="col-sm-12" style="margin-top: 55px">
                  <h4>Jumlah Mention per Platform</h4>
                </div>
              </div>
              <loader-component
                :classLoader="isLoaderPlatform ? 'show' : 'hide'"
              ></loader-component>

              <knob-component
                v-for="platform in platforms"
                :key="platform.name"
                :platform="platform"
                :dataMax="total_report.mention"
              >
              </knob-component>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card">
          <div class="header">
            <h4>Komparasi Topik</h4>
          </div>
          <div id="" class="body" style="height: 420px">
            <loader-component
              :classLoader="isLoaderKomparasiTopik ? 'show' : 'hide'"
            ></loader-component>
            <div v-if="errored" class="alert alert-danger" style="text-align: center">
              Data yang anda cari tidak ditemukan. Klik
              <a href="javascript:void(0)" v-on:click="RouteDashboard">tautan ini</a>
              <a>untuk kembali ke halaman awal.</a>
            </div>
            <piechart-component
              v-else
              id="pie_komparasi_topik"
              height="400px"
              :dataset="pie_komparasi_topik"
              :key="pie_komparasi_topik_key"
              :innersize="50"
              :format="0"
            ></piechart-component>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="col-sm-7 col-md-7 col-lg-7">
                <h4>Komparasi Sentimen per Topik</h4>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2">
                <label class="switch">
                  <input type="checkbox" id="switch" @click="toggleSwitch" />
                  <span class="slider round"></span>
                </label>
              </div>
              <div
                class="col-sm-3 col-md-3 col-lg-3"
                style="margin-left: -40px !important"
              >
                <p>Tampilkan Grafik</p>
              </div>
            </div>
          </div>
          <div class="body" style="height: 420px">
            <loader-component
              :classLoader="isLoader ? 'show' : 'hide'"
            ></loader-component>
            <div v-if="errored" class="alert alert-danger" style="text-align: center">
              Data yang anda cari tidak ditemukan. Klik
              <a href="javascript:void()" v-on:click="RouteDashboard">tautan ini</a>
              <a>untuk kembali ke halaman awal.</a>
            </div>
            <section v-else>
              <!-- <datatable-component v-if="isTable" type="datatable" :headers="table_header" :items="table_body_komparasi_sentimen" :key="table_body_komparasi_sentimen_key" id="dashboard_table_komparasi_sentimen">
                        </datatable-component> -->

              <datatable-component
                v-if="isTable"
                :headers="table_header_komparasi_sentimen"
                :items="table_body_komparasi_sentimen"
                :key="table_body_komparasi_sentimen_key"
                id="dashboard_table_komparasi_sentimen"
                :ordering="ordering"
                :bLengthChange="bLengthChange"
                :pageLength="true"
                :searching="searching"
                :info="info"
                type="datatable"
              ></datatable-component>
              <columnchart-component
                v-else
                id="bar-komparasi"
                :dataset="bar_komparasi"
                :key="bar_komparasi_key"
                heightChart="400px"
              ></columnchart-component>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <!-- <h4>Latest Post</h4> -->
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <loader-component
                  :classLoader="isLoaderPost ? 'show' : 'hide'"
                ></loader-component>
                <div
                  v-if="erroredPost"
                  class="alert alert-danger"
                  style="text-align: center"
                >
                  Data yang anda cari tidak ditemukan. Klik
                  <a href="javascript:void(0)" v-on:click="RouteDashboard">tautan ini</a>
                  <a>untuk kembali ke halaman awal.</a>
                </div>

                <div v-else>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#latest"
                        >Terbaru</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#popular">Terpopuler</a>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div
                      role="tabpanel"
                      class="tab-pane animated fadeIn active"
                      id="latest"
                    >
                      <div class="table-responsive social_media_table">
                        <datatable-component
                          :headers="table_header_latest"
                          :items="table_body_latest"
                          :key="table_body_latest_key"
                        >
                        </datatable-component>
                      </div>
                    </div>

                    <div role="tabpanel" class="tab-pane animated fadeIn" id="popular">
                      <div class="table-responsive social_media_table">
                        <datatable-component
                          :headers="table_header_popular"
                          :items="table_body_popular"
                          :key="table_body_popular_key"
                        >
                        </datatable-component>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import LineChart from "@/components/LineChart.vue";
import PieChart from "@/components/PieChart.vue";
import knob from "@/components/KnobComponent.vue";
import Datatable from "@/components/DataTable.vue";
import Header from "@/components/Header.vue";
import ProductReport from "@/components/ProductReport.vue";
import "moment/moment.js";

import daterangepicker from "daterangepicker/daterangepicker.js";
import "daterangepicker/daterangepicker.css";
import "bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css";
import Loader from "@/components/Loader.vue";
import ColumnChart from "@/components/ColumnChart.vue";
import AverageMention from "@/components/AverageMention.vue";

$.daterangepicker = daterangepicker;
var moment = require("moment");
export default {
  data() {
    return {
      isTable: true,
      start: moment(new Date()).subtract(6, "days").format("YYYY-MM-DD 00:00:00"),
      to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
      shouldShowDialog: false,
      topic: false,
      id_project: this.$store.getters.user.id_project,
      isLoader: false,
      isLoaderMentionReach: false,
      isLoaderSentiment: false,
      isLoaderPost: false,
      isLoaderKomparasiTopik: false,
      isLoaderPlatform: false,
      errored: false,
      erroredKnob: false,
      erroredPost: false,
      lists: null,
      searching: false,
      bLengthChange: false,
      ordering: true,
      info: false,

      pie_sentimen_key: 0,
      line_mention_search_key: 0,
      table_body_komparasi_sentimen_key: 0,
      pie_komparasi_topik_key: 0,
      table_body_latest_key: 0,
      line_mention_search: null,
      total_report: {
        mention: 0,
        reach: 0,
        engagement: 0,
        avg_weekly: 0,
        avg_hourly: 0,
        past_avg_weekly: 0,
        past_mention: 0,
        past_reach: 0,
        past_engagement: 0,
        past_avg_hourly: 0,
      },
      product_report_key: 0,
      bar_komparasi: null,
      bar_komparasi_key: 0,

      moments: moment,
      table_header_latest: [
        {
          key: "platform",
          title: "Platform",
          type: "icon",
        },
        {
          key: "konten",
          title: "Konten",
          type: "content",
        },
        {
          key: "sentimen",
          title: "Sentimen",
          type: "label",
        },
      ],

      table_body_latest: [],
      table_header_popular: [
        {
          key: "platform",
          title: "Platform",
          type: "icon",
        },
        {
          key: "konten",
          title: "Konten",
          type: "content",
        },
        {
          key: "sentimen",
          title: "Sentimen",
          type: "label",
        },
      ],
      table_body_popular: [],
      table_body_popular_key: 0,
      table_header_komparasi_sentimen: [
        {
          key: "no",
          title: "No",
          type: "number",
        },
        {
          key: "topics",
          title: "Topik",
          type: "text",
        },
        {
          key: "positif",
          title: "Positif",
          type: "text",
        },
        {
          key: "netral",
          title: "Netral",
          type: "text",
        },
        {
          key: "negatif",
          title: "Negatif",
          type: "text",
        },
      ],

      table_body_komparasi_sentimen: [],

      platforms: null,
      pie_sentimen: null,
      pie_komparasi_topik: null,
    };
  },
  components: {
    "columnchart-component": ColumnChart,
    "piechart-component": PieChart,
    "knob-component": knob,
    // pageloader: pageloader,
    "datatable-component": Datatable,
    "header-component": Header,
    "linechart-component": LineChart,
    "productreport-component": ProductReport,
    "loader-component": Loader,
    "avemention-component": AverageMention,
  },
  methods: {
    RouteDashboard() {
      this.$router.push({
        path: "/",
      });
    },

    toggleSwitch() {
      var element = document.getElementById("switch");
      element.classList.toggle("checkbox");
      if (element.className == "checkbox") {
        this.isTable = false;
      } else {
        this.isTable = true;
      }
    },

    changeTopic(topic) {
      this.topic = topic;
      this.getLineChart();
    },
    getLineChart() {
      let api = process.env.VUE_APP_API_URL;
      this.isLoaderMentionReach = true;
      this.$axios
        .get(api + "dashboard-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            // console.log(response.data);
            this.total_report = {
              mention: response.data.stats.total,
              reach: response.data.stats.esmr,
              engagement: response.data.stats.engagement,
              avg_weekly: response.data.stats.avg_weekly,
              avg_hourly: response.data.stats.avg_hourly,
              past_avg_weekly: response.data.past_stats.avg_weekly,
              past_mention: response.data.past_stats.total,
              past_reach: response.data.past_stats.esmr,
              past_engagement: response.data.past_stats.engagement,
              past_avg_hourly: response.data.past_stats.avg_hourly,
            };
            this.line_mention_search = {
              categories: response.data.trend.date,
              series: [
                {
                  name: "Mention",
                  data: response.data.trend.mention,
                  color: "#89658f",
                },
                {
                  name: "Reach",
                  data: response.data.trend.reach,
                  color: "#f48c21",
                  yAxis: 1,
                },
                {
                  name: "Engagement",
                  data: response.data.trend.engagement,
                  color: "rgb(229, 125, 119)",
                  yAxis: 1,
                  visible: false,
                },
              ],
            };
            this.product_report_key++;
            this.line_mention_search_key++;
            this.errored = false;
          } else {
            this.errored = true;
            this.line_mention_search = {
              categories: 0,
              series: [
                {
                  name: "Mention",
                  data: 0,
                  color: "#89658f",
                },
                {
                  name: "Reach",
                  data: 0,
                  color: "#f48c21",
                  yAxis: 1,
                },
                {
                  name: "Engagement",
                  data: 0,
                  color: "rgb(229, 125, 119)",
                  yAxis: 1,
                  visible: false,
                },
              ],
            };
            this.total_report = {
              mention: 0,
              reach: 0,
              engagement: 0,
              avg_weekly: 0,
              avg_hourly: 0,
              past_avg_weekly: 0,
              past_mention: 0,
              past_reach: 0,
              past_engagement: 0,
              past_avg_hourly: 0,
            };
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderMentionReach = false));
    },

    getBarChart() {
      this.isLoader = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "dashboard-classic/" + this.id_project, {
          // headers: {
          //     token: localStorage.getItem("token"),
          // },
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            var categories_bar_komparasi = [];

            response.data.bar_topik.topics.forEach(function (i) {
              var a = i.nama;

              categories_bar_komparasi.push(a);
            });
            this.bar_komparasi = {
              categories: categories_bar_komparasi,
              series: [
                {
                  name: "Positif",
                  color: "rgb(160, 214, 117)",
                  data: response.data.bar_topik.positif,
                },
                {
                  name: "Netral",
                  color: "rgb(149, 171, 219)",
                  // visible: false,
                  data: response.data.bar_topik.netral,
                },
                {
                  name: "Negatif",
                  color: "rgb(229, 125, 119)",
                  data: response.data.bar_topik.negatif,
                },
              ],
            };
            this.bar_komparasi_key++;
            this.errored = false;
          } else {
            this.errored = true;
            this.bar_komparasi = null;
            this.bar_komparasi_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },

    getPieKomparasiTopik() {
      this.isLoaderKomparasiTopik = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "dashboard-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            var pie_komparasi_topik2 = [];
            response.data.bar_topik.topics.forEach(function (i, val) {
              var a = {
                name: i.nama,
                y: response.data.bar_topik.total[val],
              };
              pie_komparasi_topik2.push(a);
            });
            this.pie_komparasi_topik = pie_komparasi_topik2;
            this.pie_komparasi_topik_key++;
            this.errored = false;
          } else {
            this.errored = true;
            this.pie_komparasi_topik = null;
            this.pie_komparasi_topik_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderKomparasiTopik = false));
    },

    getPieSentimen() {
      this.isLoaderSentiment = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "dashboard-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            this.pie_sentimen = [
              {
                name: "Positif",
                color: "rgb(160,214,117)",
                y: response.data.stats.positif,
              },
              {
                name: "Negatif",
                color: "rgb(229,125,119)",
                y: response.data.stats.negatif,
              },
              {
                name: "Netral",
                color: "rgb(96, 125, 139)",
                y: response.data.stats.netral,
                visible: false,
              },
            ];

            this.pie_sentimen_key++;
            this.errored = false;
          } else {
            this.errored = true;
            this.pie_sentimen = null;
            this.pie_sentimen_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderSentiment = false));
    },

    getPlatform() {
      this.isLoaderPlatform = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "dashboard-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            this.platforms = [
              {
                title: "Facebook",
                value: response.data.stats.facebook,
                name: "knob-fb",
                color: "#4584c9",
              },
              {
                title: "Twitter",
                value: response.data.stats.twitter,
                name: "knob-tw",
                color: "#71bce1",
              },
              {
                title: "Instagram",
                value: response.data.stats.instagram,
                name: "knob-ig",
                color: "#eb8fff",
              },
              {
                title: "Youtube",
                value: response.data.stats.youtube,
                name: "knob-yt",
                color: "#ff6a6a",
              },
              {
                title: "Forum",
                value: response.data.stats.forum,
                name: "knob-forum",
                color: "#79766d",
              },
              {
                title: "Blog",
                value: response.data.stats.blog,
                name: "knob-blog",
                color: "#ffae32",
              },
            ];
            this.errored = false;
          } else {
            this.errored = true;
            this.platforms = [
              {
                title: "Facebooksss",
                value: 0,
                name: "knob-fb-err",
                color: "#4584c9",
              },
              {
                title: "Twitter",
                value: 0,
                name: "knob-tw-err",
                color: "#71bce1",
              },
              {
                title: "Instagram",
                value: 0,
                name: "knob-ig-err",
                color: "#eb8fff",
              },
              {
                title: "Youtube",
                value: 0,
                name: "knob-yt-err",
                color: "#ff6a6a",
              },
              {
                title: "Berita",
                value: 0,
                name: "knob-berita-err",
                color: "#88c78a",
              },
              {
                title: "Forum",
                value: 0,
                name: "knob-forum-err",
                color: "#79766d",
              },
              {
                title: "Blog",
                value: 0,
                name: "knob-blog-er",
                color: "#ffae32",
              },
            ];
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderPlatform = false));
    },
    getDataTable() {
      this.isLoader = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "dashboard-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
          },
          ...(this.topic
            ? {
                topic: this.topic,
              }
            : {}),
        })
        .then((response) => {
          if (response.status === 200) {
            var table_body2 = [];

            response.data.bar_topik.topics.forEach(function (i, val) {
              var a = {
                topics: i.nama,
                positif: response.data.bar_topik.positif[val].toLocaleString("en"),
                netral: response.data.bar_topik.netral[val].toLocaleString("en"),
                negatif: response.data.bar_topik.negatif[val].toLocaleString("en"),
              };

              table_body2.push(a);
            });

            this.table_body_komparasi_sentimen = table_body2;
            this.table_body_komparasi_sentimen_key++;
            this.errored = false;
          } else {
            this.errored = true;
            this.table_body_komparasi_sentimen = [];
            this.table_body_komparasi_sentimen_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },
    getTablePost() {
      this.isLoaderPost = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "posts-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            // from: this.start,
            // to: this.to,
            sort: "date",
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            var table_body_latest2 = [];
            let moments = this.moments;
            response.data.posts.forEach(function (i) {
              var a = {
                platform: i.source,
                konten:
                  `<b>
                      <a href="` +
                  i.id_account +
                  `" target="_blank"><span class="list-name" style="text-transform: none;float: left">` +
                  i.account +
                  `</span></a>
                      <span class="text-muted" style="float: right">` +
                  moments.utc(i.date.$date).format("DD MMM YYYY - HH:mm") +
                  `</span></b>
                      <br>
                      <span class="list-name" style="text-transform: none">` +
                  i.content +
                  `</span>`,
                sentimen: `<span>` + (i.sentimen == 0) ? "netral" : "negatif" + `</span>`,
              };
              table_body_latest2.push(a);
            });

            this.table_body_latest = table_body_latest2;
            this.table_body_latest_key++;
            this.erroredPost = false;
          } else {
            this.erroredPost = true;
            this.table_body_latest = null;
            this.table_body_latest_key = 0;
          }
        })
        .catch((error) => console.log(error.response))
        .finally(() => (this.isLoaderPost = false));
    },

    getPostPopular() {
      this.isLoaderPost = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "posts-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            // from: this.start,
            // to: this.to,
            sort: "esmr",
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            var table_body_popular2 = [];
            let moments = this.moments;
            response.data.posts.forEach(function (i) {
              var a = {
                platform: i.source,
                konten:
                  `<b>
                      <a href="` +
                  i.id_account +
                  `" target="_blank"><span class="list-name" style="text-transform: none;float: left">` +
                  i.account +
                  `</span></a>
                      <span class="text-muted" style="float: right">` +
                  moments.utc(i.date.$date).format("DD MMM YYYY - HH:mm") +
                  `</span></b>
                      <br>
                      <span class="list-name" style="text-transform: none">` +
                  i.content +
                  `</span>`,
                sentimen: `<span>` + (i.sentimen == 0) ? "netral" : "negatif" + `</span>`,
              };
              table_body_popular2.push(a);
            });

            this.table_body_popular = table_body_popular2;
            this.table_body_popular_key++;
            this.erroredPost = false;
          } else {
            this.erroredPost = true;
            this.table_body_popular = [];
            this.table_body_popular_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoaderPost = false));
    },
  },
  mounted: function () {},
  created() {
    this.getLineChart();
    this.getPieKomparasiTopik();
    this.getPieSentimen();
    this.getPlatform();
    this.getDataTable();
    this.getTablePost();
    this.getBarChart();
    this.getPostPopular();
  },
  watch: {
    $route() {
      if (this.$route.query.start) {
        this.start = this.$route.query.start;
        this.to = this.$route.query.end;
      }
      // this.valueSearch = "sdcdsdsf";
      this.topic = this.$route.query.topic;
      this.getLineChart();
      this.getBarChart();
      this.getPieKomparasiTopik();
      this.getPieSentimen();
      this.getPlatform();
      this.getDataTable();
      this.getTablePost();
      this.getPostPopular();
    },
  },
};
</script>

<style>
.card #komparasi-topik.body {
  padding: 0px 0px 3rem !important;
}
</style>
