<template>
<div class="influencer">
    <!-- <pageloader></pageloader> -->

    <header-component headerTitle="Influencer"></header-component>

    <subbar-component></subbar-component>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#social" @click="get_social_media">Social Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#website" @click="get_data_website">Website</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#alertk" @click="get_mark_word">Tandai Kata</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#alerti">Tandai Influencer</a>
                        </li> -->
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="social">
                            <div class="row mb-2">
                                <div class="col-md-1 offset-9">
                                    <label class="my-4" for="">Search :</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-float mt-0">
                                        <div class="form-line">
                                            <input type="text" autocomplete="off" @keyup="socialSearchAccount" id="social-search-account" class="form-controls form-controls-sm">
                                        </div>
                                    </div>
                                    <div class="icon-clear d-none">
                                        <a href="javascript:void(0)" @click="clearSearch">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive social_media_table">
                                        <!-- <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component> -->
                                        <table class="table table-hover table-bordered table-striped" style="max-height: 300px">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Platform</th>
                                                    <th>Akun</th>
                                                    <th>Reach
                                                        <a class="sort-reach" href="javascript:void(0)" @click="changeSort" sort="esmr" style="color: #dcdcdc !important;">
                                                            <i class="fa fa-sort"></i>
                                                        </a>
                                                    </th>
                                                    <th>Post
                                                        <a class="sort-post" href="javascript:void(0)" @click="changeSort" sort="mentions" style="color: #dcdcdc !important;">
                                                            <i class="fa fa-sort"></i>
                                                        </a>
                                                    </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <loader-component :classLoader="isLoaderSocial ? 'overlayTable show' : 'overlayTable hide' "></loader-component>
                                            <tbody id="body_socmed_influencer"></tbody>
                                        </table>
                                        <nav aria-label="..." class="mt-3">
                                            <ul v-if="erroredSocial" class="pagination justify-content-end">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript:void(0)">Previous</a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript:void(0)">Next</a>
                                                </li>
                                            </ul>
                                            <ul v-else class="pagination justify-content-end">
                                                <li class="page-item" :data-item="currentPage" :class="!$route.query.page || $route.query.page == 1 ? 'disabled' : ''">
                                                    <a @click="previousPage(currentPage - 1)" class="page-link" href="javascript:void(0)">Previous</a>
                                                </li>
                                                <li :id="'page-active-'+pageNumber" class="page-item" v-for="pageNumber in totalPages" :key="pageNumber" :class="$route.query.page == pageNumber || pageNumber == currentPage ? 'active' : ''" v-show="Math.abs(pageNumber - currentPage) < 3 || pageNumber == totalPages - 0 || pageNumber == 1">
                                                    <a @click="changePage(pageNumber)" class="page-link" :class="{current: currentPage === pageNumber, last: (pageNumber == totalPages - 0 && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 1 && Math.abs(pageNumber - currentPage) > 3)}" href="javascript:void(0)" :data-page="pageNumber">{{ pageNumber }} <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="page-item" :class="currentPage == Math.ceil(resultCount/10) ? 'disabled':''">
                                                    <a @click="nextPage(currentPage + 1)" class="page-link" href="javascript:void(0)">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- <table-component :headers="header_socmed_influencer" :items="body_socmed_influencer" :key="body_socmed_influencer_key" :resultCount="total" :isLoader="isLoader"></table-component> -->
                                        <!-- <datatable-component :headers="header_socmed_influencer" :items="body_socmed_influencer" :key="body_socmed_influencer_key" id="socmed_datatable_influencer" :ordering="false" :bLengthChange="bLengthChange" :searching="searching" :info="info" type="datatable"></datatable-component> -->
                                        <!-- <tablegrid-component :cols="cols" :rows="rows" :pagination="true"></tablegrid-component> -->

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane animated fadeIn" id="website">
                            <div class="row mb-2">
                                <div class="col-md-1 offset-9">
                                    <label class="my-4" for="">Search :</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-float mt-0">
                                        <div class="form-line">
                                            <input type="text" autocomplete="off" @keyup="websiteSearchAccount" id="website-search-account" class="form-controls form-controls-sm">
                                        </div>
                                    </div>
                                    <div class="icon-clear d-none">
                                        <a href="javascript:void(0)" @click="clearSearch">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive social_media_table">
                                <!-- <loader-component :classLoader="isLoaderWebsite ? 'show' : 'hide' "></loader-component> -->
                                <!-- <alerterror-component v-if="errored"></alerterror-component> -->
                                <!-- <table-component :headers="header_website_influencer" :items="body_website_influencer" :key="body_website_influencer_key" :resultCount="resultTotalWeb"></table-component> -->
                                <!-- <datatable-component :headers="header_website_influencer" :items="body_website_influencer" :key="body_website_influencer_key" tablePage="pagination"></datatable-component> -->
                                <!-- <datatable-component :headers="header_website_influencer" :items="body_website_influencer" :key="body_website_influencer_key" id="wesite_datatable_influencer" :ordering="ordering" :bLengthChange="bLengthChange" :searching="searching" :info="info" type="datatable"></datatable-component> -->
                                <table class="table table-hover table-bordered table-striped" style="max-height: 300px">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Platform</th>
                                            <th>Nama Situs</th>
                                            <th>Post
                                                <a class="sort-post" href="javascript:void(0)" @click="changeSort" sort="mentions" style="color: #dcdcdc !important;">
                                                    <i class="fa fa-sort"></i>
                                                </a>
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <loader-component :classLoader="isLoaderWebsite ? 'overlayTable show' : 'overlayTable hide' "></loader-component>
                                    <tbody id="body_website_influencer"></tbody>
                                </table>
                                <nav aria-label="..." class="mt-3">
                                    <ul v-if="erroredWebsite" class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0)">Previous</a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:void(0)">Next</a>
                                        </li>
                                    </ul>
                                    <ul v-else class="pagination justify-content-end">
                                        <li class="page-item" :data-item="currentPage" :class="!$route.query.page || $route.query.page == 1 ? 'disabled' : ''">
                                            <a @click="previousPage(currentPage - 1)" class="page-link" href="javascript:void(0)">Previous</a>
                                        </li>
                                        <li :id="'page-active-'+pageNumber" class="page-item" v-for="pageNumber in totalPagesWeb" :key="pageNumber" :class="$route.query.page == pageNumber || pageNumber == currentPage ? 'active' : ''" v-show="Math.abs(pageNumber - currentPage) < 3 || pageNumber == totalPagesWeb - 0 || pageNumber == 1">
                                            <a @click="changePage(pageNumber)" class="page-link" :class="{current: currentPage === pageNumber, last: (pageNumber == totalPagesWeb - 0 && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 1 && Math.abs(pageNumber - currentPage) > 3)}" href="javascript:void(0)" :data-page="pageNumber">{{ pageNumber }} <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item" :class="currentPage == Math.ceil(resultCount/10) ? 'disabled':''">
                                            <a @click="nextPage(currentPage + 1)" class="page-link" href="javascript:void(0)">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="alertk">
                            <div class="table-responsive social_media_table">
                                <a href="javascript:void(0)" @click="btnTambahKata">
                                    <span class="btn btn-raised btn-success waves-effect">Tambah</span>
                                </a>
                                <loader-component :classLoader="isLoader ? 'overlayTable show' : 'overlayTable hide' "></loader-component>
                                <datatable-component :headers="header_tandai_kata_influencer" :items="body_tandai_kata_influencer" :key="body_tandai_kata_influencer_key"></datatable-component>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="alerti">
                            <div class="table-responsive social_media_table">
                                <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
                                <datatable-component :headers="header_tandai_influencer" :items="body_tandai_influencer" :key="body_tandai_influencer_key"></datatable-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel-group">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a>Filter Influencer</a>
                  </h4>
                </div>
                <div class="panel-body">
                  <span style="color:#aaa">Urut berdasarkan :</span>
                  <select
                    class="form-control show-tick"
                    style="width:auto;
                    display:inline-block;"
                    onchange="changeSort(this)"
                  >
                    <option value="esmr">Reach</option>
                    <option value="post_count">Jumlah Post</option>
                  </select>

                  <br />

                  <span style="color:#aaa">Tampilkan akun Pers :</span>
                  <select
                    class="form-control show-tick"
                    style="width:auto;
                    display:inline-block;"
                    onchange="changeFilterPers(this)"
                  >
                    <option value="0">Ya</option>
                    <option value="1">Tidak</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix" style="position: sticky;top:20px;">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <accordian-component></accordian-component>
          </div>
        </div>
      </div>-->
    </div>
    <div class="modal fade" id="modalTambahKata" tabindex="-2" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Tambah Kata</h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="form-group">
                            <p>Tandai Kata</p>

                            <div class="form-line">
                                <input type="text" class="form-controls" name="kata" placeholder="Masukan Kata" id="form-word" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn addMarkedWord btn-raised btn-success waves-effect">Tambah</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Keluar</button>
                </div>

            </div>
        </div>
    </div>

</div>
</template>

<script>
import $ from "jquery"
import Datatable from "@/components/DataTable.vue";
// import Table from "@/components/TableComponent.vue";
import Header from "@/components/Header.vue";
import SubBar from "@/components/SubBar.vue";
import Loader from "@/components/Loader.vue";
// import AlertError from "@/components/AlertError.vue";
// import Grid from 'gridjs-vue'
var moment = require("moment");
export default {
    components: {
        "datatable-component": Datatable,
        "header-component": Header,
        "subbar-component": SubBar,
        "loader-component": Loader,
        // "alerterror-component": AlertError,
        // "tablegrid-component": Grid,
        // "table-component": Table,
    },
    data() {
        return {
            start: moment(new Date())
                .subtract(6, "days")
                .format("YYYY-MM-DD 00:00:00"),
            to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
            id_project: this.$store.getters.user.id_project,
            isLoaderSocial: false,
            isLoaderWebsite: false,
            isLoader: false,
            errored: false,
            erroredWebsite: false,
            erroredSocial: false,
            dataset: [],
            infos: [],
            searching: true,
            bLengthChange: true,
            ordering: false,
            info: false,
            topic: false,
            source: false,
            pers: false,
            sort: 'mentions',
            page: 1,
            q_account: false,
            resultCount: 0,
            resultCountWeb: 0,
            dataPers: [],
            markedAccounts: [],
            begin: 0,
            itemsPerPage: 10,
            currentPage: 1,
            isMarked: 0,
            cols: ['Make', 'Model', 'Year', 'Color'],
            rows: [
                ['Ford', 'Fusion', '2011', 'Silver'],
                ['Chevrolet', 'Cruz', '2018', 'White']
            ],
            header_website_influencer: [{
                    key: "no",
                    title: "No",
                    type: "number",
                    width: "5%",
                },
                {
                    key: "platform",
                    title: "Platform",
                    type: "icon",
                    width: "10%",
                },
                {
                    key: "nama_situs",
                    title: "Nama Situs",
                    type: "text",
                    width: "50%",
                },
                {
                    key: "post",
                    title: "Post",
                    type: "text",
                    width: "5%",
                },
                {
                    key: "action",
                    title: "Action",
                    type: "link",
                    width: "5%",
                },
            ],
            body_website_influencer: [],
            body_website_influencer_key: 0,
            header_socmed_influencer: [{
                    key: "no",
                    title: "No",
                    type: "number",
                    width: "5%",
                },
                {
                    key: "platform",
                    title: "Platform",
                    type: "icon",
                    width: "10%",
                },
                {
                    key: "akun",
                    title: "Akun",
                    type: "text",
                    width: "30%",
                },
                {
                    key: "reach",
                    title: "Reach",
                    type: "text",
                    width: "10%",
                },
                {
                    key: "post",
                    title: "Post",
                    type: "text",
                    width: "10%",
                },
                {
                    key: "action",
                    title: "Action",
                    type: "link",
                    width: "5%",
                },
            ],
            body_socmed_influencer: [],
            body_socmed_influencer_key: 0,
            header_tandai_kata_influencer: [{
                    key: "No",
                    title: "No",
                    type: "number",
                },
                {
                    key: "kata",
                    title: "Kata",
                    type: "text",
                },
                {
                    key: "aksi",
                    title: "Aksi",
                    type: "link",
                    width: "10%",
                },
            ],

            body_tandai_kata_influencer: [],
            body_tandai_kata_influencer_key: 0,
            header_tandai_influencer: [{
                    key: "no",
                    title: "No",
                    type: "number",
                },
                {
                    key: "akun",
                    title: "Akun",
                    type: "text",
                },
                {
                    key: "platform",
                    title: "Platform",
                    type: "icon",
                    width: "10%",
                },
                {
                    key: "aksi",
                    title: "Aksi",
                    type: "link",
                },
            ],
            body_tandai_influencer: [],
            body_tandai_influencer_key: 0
        };
    },
    methods: {
        RouteDashboard() {
            this.$router.push({
                path: "/",
            });
        },

        searchAccount() {
            let q_account = document.getElementById("social-search-account").value;

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = this.$route.query.page;
            query.sort = this.$route.query.sort;
            query.q_account = btoa(q_account);

            this.updateUrl(query);
        },

        socialSearchAccount(e) {
            let q_account = e.currentTarget.value;
            if (q_account.length > 0) {
                $('.icon-clear').removeClass('d-none')
            } else {
                $('.icon-clear').addClass('d-none')
            }
            // if (e.keyCode === 13) {
            //     this.searchAccount()
            // }

            this.searchAccount()
        },

        websiteSearchAccount(e) {
            let q_account = e.currentTarget.value;
            if (q_account.length > 0) {
                $('.icon-clear').removeClass('d-none')
            } else {
                $('.icon-clear').addClass('d-none')
            }
            // if (e.keyCode === 13) {
            //     this.searchAccount()
            // }

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = this.$route.query.page;
            query.sort = this.$route.query.sort;
            query.q_account = btoa(q_account);

            this.updateUrl(query);
        },

        clearSearch() {
            $("#social-search-account, #website-search-account")
                .on("keyoup", function () {})
                .val("");
            $('.icon-clear').addClass('d-none')

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = this.$route.query.page;
            query.sort = this.$route.query.sort;

            this.updateUrl(query);
        },

        changeSort(obj) {

            if (obj.currentTarget.getAttribute('sort') == 'esmr') {
                $(obj.currentTarget).find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').find('i').attr('class', 'fa fa-sort');
                $('th a.sort-reach').css({
                    'color': '#444'
                });
                $('th a.sort-post').css({
                    'color': '#dcdcdc'
                });
            } else if (obj.currentTarget.getAttribute('sort') == 'mentions') {
                $('th a.sort-reach').find('i').attr('class', 'fa fa-sort');
                $(obj.currentTarget).find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').css({
                    'color': '#444'
                });
                $('th a.sort-reach').css({
                    'color': '#dcdcdc'
                });
            } else {
                $(obj.currentTarget).find("i").attr('class', 'fa fa-sort');
                $('th a.sort-reach').css({
                    'color': '#dcdcdc'
                });
            }
            let sort = obj.currentTarget.getAttribute('sort')

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = this.$route.query.page;
            query.sort = sort;
            query.q_account = this.$route.query.q_account;
            this.updateUrl(query);
        },
        btnTambahKata() {
            $('#modalTambahKata').modal('show')
        },
        get_data_website() {
            this.$router.replace('/coba').catch(() => {});
            this.getDataWebsite();
        },
        get_social_media() {
            this.$router.replace('/coba').catch(() => {});
            this.getDataSocmed();
        },
        get_mark_word() {
            this.$router.replace('/coba').catch(() => {});
            this.getDataTandaiKata();
        },

        getDataSocmed() {
            this.isLoaderSocial = true;
            let api = process.env.VUE_APP_API_URL;
            let self = this;
            this.$axios
                .get(
                    api + "influencers/" +
                    this.id_project +
                    "/socmed", {
                        params: {
                            wo_news: 1,
                            page: this.page,
                            from: this.start,
                            to: this.to,
                            sort: this.sort,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                            ...(this.q_account ? {
                                q_account: this.q_account,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    $('#body_socmed_influencer').empty()
                    if (response.status === 200) {
                        this.resultCount = response.data.page_info[0].total
                        var body_socmed_influencer2 = [];
                        var isMarked = false;
                        var data_marked = [];
                        var pers = '';
                        var marked = 0;
                        var data_pers = [];
                        self.dataPers.forEach(function (val) {
                            data_pers.push(val)
                        })

                        self.markedAccounts.forEach(function (mark) {
                            data_marked.push(mark)
                        })

                        response.data.accounts.forEach(function (val, i) {

                            if (data_pers.includes(val._id)) {
                                pers = `<span class="label bg-orange"><i class="fa fa-newspaper-o"></i> Pers</span>`;
                            } else {
                                pers = ''
                            }

                            if (data_marked.includes(val._id)) {
                                isMarked = 1;
                                marked = `<span class="label bg-info"><i class="fa fa-bell"></i> Ditandai</span>`
                            } else {
                                isMarked = 0;
                                marked = ''
                            }
                            $('#body_socmed_influencer').append(`
                                    <tr>
                                        <td>` + (i + 1 + self.begin) + `</td>
                                        <td>
                                        <span class="list-icon bg-icon-` + val.source + `"><i class="fa fa-` + val.source + `"></i></span>  
                                        </td>
                                        <td>` + val.account + pers + ' ' + marked + `</td>
                                        <td>` + val.esmr.toLocaleString('id') + `</td>
                                        <td>` + val.mentions.toLocaleString('id') + `</td>
                                        <td>
                                            <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuSocmed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                ` + (isMarked == 1 ? '<a href="javascript:void(0)" data-url="' + val._id + '" class="dropdown-item text-info deleteMarkedInfluencer"><i class="fa fa-bell-slash"></i> Hilangkan Tanda</a>' : '<a class="dropdown-item btnMarked" href="javascript:void(0)" data-url="' + val._id + '"><i class="fa fa-bell"></i> Tandai Akun</a>') + `

                                                <a class="dropdown-item btnPers" data-title="` + (pers ? 'bukan' : 'adalah') + `" data-type="` + (pers ? 'non_pers' : 'pers') + `" href="javascript:void(0)" data-url="` + val._id + `">` +
                                (pers ?
                                    '<i class="fa fa-newspaper-o"></i> Jadikan Non Pers' :
                                    '<i class="fa fa-newspaper-o"></i> Jadikan Pers') +
                                `</a>
                                            </div>
                                        </div>
                                        </td>
                                    </tr>
                            `)
                            var a = {
                                platform: val.source,
                                akun: val.account +
                                    " " + pers + " " + marked,
                                reach: val.esmr,
                                post: val.mentions,
                                action: `<div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuSocmed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                ` + (isMarked == 1 ? '<a href="javascript:void(0)" data-url="' + val._id + '" class="dropdown-item text-info deleteMarkedInfluencer"><i class="fa fa-bell-slash"></i> Hilangkan Tanda</a>' : '<a class="dropdown-item btnMarked" href="javascript:void(0)" data-url="' + val._id + '"><i class="fa fa-bell"></i> Tandai Akun</a>') + `

                                                <a class="dropdown-item btnPers" data-title="` + (pers ? 'bukan' : 'adalah') + `" data-type="` + (pers ? 'non_pers' : 'pers') + `" href="javascript:void(0)" data-url="` + val._id + `">` +
                                    (pers ?
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Non Pers' :
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Pers') +
                                    `</a>
                                            </div>
                                        </div>`,
                            };
                            body_socmed_influencer2.push(a);
                        });

                        this.body_socmed_influencer = body_socmed_influencer2;
                        this.body_socmed_influencer_key++;
                        this.erroredSocial = false;
                    } else {
                        this.erroredSocial = true;
                        $('#body_socmed_influencer').append(`<tr><td colspan="6" class="text-center">Data tidak ditemukan</td></tr>`)
                        this.body_socmed_influencer = null;
                        this.body_socmed_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoaderSocial = false));
        },

        getDataWebsite() {
            let self = this
            this.isLoaderWebsite = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "influencers/" +
                    this.id_project +
                    "/website", {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            sort: this.sort,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                            ...(this.q_account ? {
                                q_account: this.q_account,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    $('#body_website_influencer').empty()
                    if (response.status === 200) {
                        this.resultCountWeb = response.data.page_info[0].total
                        var body_website_influencer2 = [];
                        var pers = '';
                        var data_pers = [];

                        self.dataPers.forEach(function (val) {
                            data_pers.push(val)
                        })

                        response.data.accounts.forEach(function (val, i) {

                            if (data_pers.includes(val._id)) {
                                pers = `<span class="label bg-orange"><i class="fa fa-newspaper-o"></i> Pers</span>`;
                            } else {
                                pers = ''
                            }

                            $('#body_website_influencer').append(`
                                    <tr>
                                        <td>` + (i + 1 + self.begin) + `</td>
                                        <td>
                                        <span class="list-icon bg-icon-` + val.source + `"><i class="fa fa-` + val.source + `"></i></span>  
                                        </td>
                                        <td>` + val.account + pers + ' ' + `</td>

                                        <td>` + val.mentions.toLocaleString('id') + `</td>
                                        <td>
                                            <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuWebsite" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item btnPers" data-title="` + (pers ? 'bukan' : 'adalah') + `" data-type="` + (pers ? 'non_pers' : 'pers') + `" href="javascript:void(0)" data-url="` + i._id + `">` +
                                (pers ?
                                    '<i class="fa fa-newspaper-o"></i> Jadikan Non Pers' :
                                    '<i class="fa fa-newspaper-o"></i> Jadikan Pers') +
                                `</a>
                                            </div>
                                        </div>
                                        </td>
                                    </tr>
                            `)

                            var a = {
                                platform: val.source,
                                nama_situs: val.account + " " + pers,
                                post: val.mentions,
                                action: `<div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuWebsite" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item btnPers" data-title="` + (pers ? 'bukan' : 'adalah') + `" data-type="` + (pers ? 'non_pers' : 'pers') + `" href="javascript:void(0)" data-url="` + val._id + `">` +
                                    (pers ?
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Non Pers' :
                                        '<i class="fa fa-newspaper-o"></i> Jadikan Pers') +
                                    `</a>
                                            </div>
                                        </div>`,
                            };
                            body_website_influencer2.push(a);
                        });

                        this.body_website_influencer = body_website_influencer2;
                        this.body_website_influencer_key++;
                        this.erroredWebsite = false;
                    } else {
                        this.erroredWebsite = true;
                        $('#body_website_influencer').append(`<tr><td colspan="5" class="text-center">Data tidak ditemukan</td></tr>`)
                        this.body_website_influencer = null;
                        this.body_website_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoaderWebsite = false));
        },

        getDataInfluencer() {
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "marked-accounts/" + this.id_project, {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {
                        this.markedAccounts = response.data
                        var body_tandai_influencer2 = [];
                        var source = '';
                        response.data.forEach(function (i) {
                            if (i.includes('twitter')) {
                                source = 'twitter';
                            } else if (i.includes('facebook')) {
                                source = 'facebook';
                            } else if (i.includes('instagram')) {
                                source = 'instagram';
                            } else if (i.includes('youtube')) {
                                source = 'youtube';
                            }
                            var a = {
                                akun: i,
                                platform: source,
                                aksi: `<a href="javascript:void(0)" data-url="` + i + `" class="deleteMarkedInfluencer btn btn-danger btn-sm btn-raised text-white">
                                        <i class="fa fa-trash"></i>    
                                    </a>`,
                            };
                            body_tandai_influencer2.push(a);
                        });

                        this.body_tandai_influencer = body_tandai_influencer2;
                        this.body_tandai_influencer_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.header_tandai_influencer = [{
                                    key: "no",
                                    title: "No",
                                    type: "number",
                                },
                                {
                                    key: "akun",
                                    title: "Akun",
                                    type: "text",
                                },
                                {
                                    key: "platform",
                                    title: "Platform",
                                    type: "icon",
                                    width: "10%",
                                },
                                {
                                    key: "aksi",
                                    title: "Aksi",
                                    type: "link",
                                },
                            ],
                            this.body_tandai_influencer = null;
                        this.body_tandai_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error));
        },

        getDataTandaiKata() {
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "marked-words/" + this.id_project, {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            // items: 100,
                            ...(this.source ? {
                                sources: this.source,
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                            ...(this.pers ? {
                                pers: this.pers,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {

                        var body_tandai_kata_influencer2 = [];

                        response.data.forEach(function (i) {

                            var a = {
                                kata: i.word,
                                aksi: `<a class="btn deleteMarkedWord btn-danger btn-sm btn-raised" data-id="` + i._id.$oid + `" href="javascript:void(0)">
                                        <i class="fa fa-trash"></i>    
                                    </a>`,
                            };
                            body_tandai_kata_influencer2.push(a);
                        });

                        this.body_tandai_kata_influencer = body_tandai_kata_influencer2;
                        this.body_tandai_kata_influencer_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.body_tandai_kata_influencer = null;
                        this.body_tandai_kata_influencer_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoader = false));
        },

        getPers() {
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "pers"
                )
                .then((response) => {
                    if (response.status === 200) {
                        this.dataPers = response.data
                    }
                })
                .catch((error) => console.log(error));
        },

        updateUrl(query) {
            this.$router.replace({
                query: query,
                // start: this.$route.query.start,
                // end: this.$route.query.end,
                // sources: this.$route.query.souces,
                // sentiments: source,
            }).catch(() => {});
        },

        previousPage(pageNumber) {
            this.begin = 0;
            $('#page-active-' + (pageNumber + 1)).removeClass('page-item');

            $('#page-active-' + this.$route.query.page).addClass('active')
            this.begin += pageNumber * 10 - 10

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            if (this.$route.query.page) {
                query.page = this.$route.query.page - 1
            } else {
                query.page = pageNumber
            }

            query.sort = this.$route.query.sort;
            this.updateUrl(query);
        },

        nextPage(pageNumber) {
            this.begin = 0;
            $('#page-active-' + (pageNumber - 1)).removeClass('page-item');

            $('#page-active-' + this.$route.query.page).addClass('active')
            this.begin += pageNumber * 10 - 10

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            if (this.$route.query.page) {
                query.page = parseInt(this.$route.query.page) + 1
            } else {
                query.page = this.currentPage + 1
            }
            query.sort = this.$route.query.sort;
            this.updateUrl(query);
        },

        changePage(pageNumber) {
            // let page = obj.currentTarget.getAttribute('data-page');
            this.begin = 0;
            this.begin += pageNumber * 10 - 10
            this.currentPage = this.$route.query.page;

            var query = {};
            this.currentPage = pageNumber;
            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = pageNumber
            query.sort = this.$route.query.sort;
            query.q_account = this.$route.query.q_account;
            this.updateUrl(query);
        },

    },
    mounted: function () {

    },
    created() {
        if (this.$route.query.page) {
            this.currentPage = this.$route.query.page
            this.begin += this.$route.query.page * 10 - 10
        }

        let self = this;
        $('body').on('click', '.btnPers', function () {
            let url = $(this).data('url');
            let title = $(this).data('title');
            let type = $(this).data('type')
            var href = ''
            if (type == 'non_pers') {
                href = 'pers-delete';
            } else {
                href = 'pers-add';
            }
            self.$swal({
                title: 'Apakah anda yakin akun ini ' + title + ' Pers?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        url: url
                    }
                    self.$axios.post(api + href, data)
                        .then((response) => {
                            if (response.status === 200) {
                                self.getDataSocmed();
                                self.getDataWebsite();
                                self.getPers();
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diubah.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                            }
                        });
                }
            });

        })

        $('body').on('click', '.btnMarked', function () {
            let url = $(this).data('url');
            self.$swal({
                title: 'Apakah anda yakin akan menandai akun ini?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        url: url,
                        id_project: parseInt(self.id_project)
                    }
                    self.$axios.post(api + 'marked-accounts-add', data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diubah.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                                self.getDataSocmed();
                                self.getDataWebsite();
                                self.getDataInfluencer();
                            }
                        });
                }
            });

        })

        $('body').on('click', '.deleteMarkedInfluencer', function () {
            let url = $(this).data('url');
            self.$swal({
                title: 'Apakah anda yakin akan berhenti menandai akun ini?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        url: url,
                        id_project: parseInt(self.id_project)
                    }
                    self.$axios.post(api + 'marked-accounts-delete', data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diubah.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                                self.getDataSocmed();
                                self.getDataWebsite();
                                self.getDataInfluencer();
                            }
                        });
                }
            });

        })

        $('body').on('click', '.deleteMarkedWord', function () {
            let id = $(this).data('id');
            self.$swal({
                title: 'Apakah anda yakin akan menghapus kata ini?',
                icon: "info",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        _id: id,
                    }
                    self.$axios.post(api + 'marked-words-delete', data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil dihapus.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                                self.getDataTandaiKata()
                            }
                        });
                }
            });

        })

        $('body').on('click', '.addMarkedWord', function () {

            let word = $('body #form-word').val();
            let api = process.env.VUE_APP_API_URL;
            let data = {
                word: word,
                id_project: parseInt(self.id_project)
            }
            self.$axios.post(api + 'marked-words-add', data

                )
                .then((response) => {
                    if (response.status === 200) {
                        self.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Anda berhasil menambahkan data!', {
                            theme: "bubble",
                            position: "top-center",
                            duration: 5000,
                            fullWidth: true,
                            type: "success"
                        });
                        self.getDataTandaiKata()
                        $('body #form-word').val('');
                        $('body #modalTambahKata').modal('hide');
                    }
                });

        })

        this.getPers();
        this.getDataSocmed();
        // this.getDataWebsite();
        this.getDataInfluencer();
        this.getDataTandaiKata();

        $(document).click(function () {
            $('body .dropdown-menu').removeClass('show')
        })
    },
    watch: {
        $route() {
            this.start = this.$route.query.start;
            this.to = this.$route.query.end;
            this.source = this.$route.query.sources;
            this.topic = this.$route.query.topic;
            this.pers = this.$route.query.pers;
            this.page = this.$route.query.page;
            this.q_account = this.$route.query.q_account;
            if (!this.$route.query.sort) {
                this.sort = 'mentions'
            } else {
                this.sort = this.$route.query.sort
            }

            if (!this.$route.query.start) {
                this.start = moment(new Date()).subtract(6, "days").format("YYYY-MM-DD 00:00:00")
                this.to = moment(new Date()).format("YYYY-MM-DD 23:59:59"),
                    this.sort = 'mentions'
            }
            this.getPers();
            this.getDataSocmed();
            this.getDataWebsite();
        },
    },

    computed: {
        totalPages: function () {
            return Math.ceil(this.resultCount / this.itemsPerPage);
        },
        totalPagesWeb: function () {
            return Math.ceil(this.resultCountWeb / this.itemsPerPage);
        }
    },
};
</script>

<style>
#dropdownMenuSocmed,
#dropdownMenuWebsite {
    padding: 5px 7px !important;
}

.list-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    color: #fff !important;
    text-align: center !important;
}

.g-bg-blush2 {
    background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
    color: #fff !important;
}

.bg-icon-twitter {
    background-color: #55acee !important;
    color: #fff !important;
}

.bg-icon-facebook {
    background-color: #3b5998 !important;
    color: #fff !important;
}

.bg-icon-youtube {
    background-color: #c4302b !important;
    color: #fff !important;
}

.bg-icon-instagram {
    background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
    color: #fff !important;
}

.bg-icon-blog {
    background: rgb(255, 174, 50) !important;
    color: #fff !important;
}

.bg-icon-forum {
    background: rgb(121, 118, 109) !important;
    color: rgb(255, 255, 255) !important;
}

a.first::after {
    content: '...'
}

a.last::before {
    content: '...'
}

.icon-clear {
    position: absolute;
}

.icon-clear i.fa.fa-times {
    position: absolute;
    left: 205px;
    top: -45px;
    font-size: 16px;
}

@media screen and (min-width:760px) {
    .icon-clear i.fa.fa-times {
        left: 135px;
    }
}

;
</style>
