<template>
  <div class="manejemen-keyword">
    <div class="row clearfix header-component" style="margin-top: 65px">
      <div class="col-md-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-md-5">
                <div class="block-header my-1 p-0">
                  <h2>Manajemen Keyword</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix mt-3">
      <div class="col-md-12" id="accountsContainer" tabindex="0">
        <div class="card" style="min-height: 400px">
          <div class="body">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-toggle="tab"
                  href="#keyword"
                  @click="get_keyword"
                  >Keyword</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="tab"
                  href="#topik"
                  @click="get_topik"
                  >Topik</a
                >
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div
                role="tabpanel"
                class="tab-pane animated fadeIn active"
                id="keyword"
              >
                <div class="col-lg-12">
                  <p>Limit Keyword (Terpakai : {{ keyword_usage }})</p>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      :class="
                        (keyword_usage / keyword_limit) * 100 > 80
                          ? 'bg-danger'
                          : ''
                      "
                      role="progressbar"
                      :style="
                        'width:' + (keyword_usage / keyword_limit) * 100 + '%'
                      "
                      :aria-valuenow="keyword_usage"
                      aria-valuemin="0"
                      :aria-valuemax="keyword_limit"
                    ></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">0</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                      {{ keyword_limit }}
                    </div>
                  </div>
                </div>
                <div id="akun-container">
                  <div class="row justify-content-end">
                    <div class="col-md-12">
                      <a
                        href="javascript:void(0)"
                        class="btn btn-add-keyword btn-sm btn-success btn-raised float-right"
                      >
                        Tambah Keyword
                      </a>
                    </div>
                  </div>
                  <loader-component
                    :classLoader="isLoader ? 'show' : 'hide'"
                  ></loader-component>
                  <datatable-component
                    :headers="table_header_keyword_manajemen_keyword"
                    :items="table_body_keyword_manajemen_keyword"
                    id="dashboard_table_keyword_manajemen_keyword"
                    :ordering="ordering"
                    :bLengthChange="bLengthChange"
                    :searching="searching"
                    :info="info"
                    type="datatable"
                    :key="table_body_keyword_manajemen_keyword_key"
                  ></datatable-component>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane animated fadeIn" id="topik">
                <div id="unggahan-container">
                  <div class="row justify-content-end">
                    <div class="col-md-12">
                      <a
                        href="javascript:void(0)"
                        class="btn btn-add-topic btn-sm btn-success btn-raised float-right"
                        >Tambah Topik</a
                      >
                    </div>
                  </div>
                  <loader-component
                    :classLoader="isLoader ? 'show' : 'hide'"
                  ></loader-component>
                  <datatable-component
                    :headers="table_header_topik_manajemen_keyword"
                    :items="table_body_topik_manajemen_keyword"
                    :key="table_body_topik_manajemen_keyword_key"
                    id="dashboard_table_topik_manajemen_keyword"
                    :ordering="ordering"
                    :bLengthChange="bLengthChange"
                    :searching="searching"
                    :info="info"
                    type="datatable"
                  ></datatable-component>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Tambah Keyword -->
    <div class="modal fade" id="modalFormKeyword" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="largeModalLabel">
              {{ topic_id ? "Edit" : "Tambah" }} Keyword
            </h4>
          </div>
          <form id="form-keyword" @submit.prevent="formKeyword">
            <div class="modal-body" style="margin-top: -25px">
              <input
                type="hidden"
                v-if="old_keyword"
                id="nama-old-keyword"
                class="form-control"
                :value="old_keyword_name"
              />
              <div class="form-group">
                <label for>Nama Topik</label>

                <select
                  v-if="old_keyword"
                  name
                  id="nama-topik"
                  class="form-control"
                  :disabled="isDisable"
                >
                  <option
                    v-for="(topic, i) in topics"
                    :key="i"
                    :value="i"
                    :selected="i == topic_id ? 'selected' : ''"
                  >
                    {{ topic }}
                  </option>
                </select>
                <select
                  v-else
                  name
                  id="nama-topik"
                  class="custom-select form-control"
                  v-model.trim="$v.topic_id.$model"
                  :class="{
                    'is-invalid': $v.topic_id.$error,
                    'is-valid': !$v.topic_id.$invalid,
                  }"
                >
                  <option value="">Pilih Topik</option>
                  <option v-for="(topic, i) in topics" :key="i" :value="i">
                    {{ topic }}
                  </option>
                </select>
                <div class="invalid-feedback">
                  <span v-if="!$v.topic_id.required">Keyword harus diisi.</span>
                </div>
              </div>
              <div class="form-group">
                <label for>Keyword</label>
                <input
                  type="text"
                  id="nama-keyword"
                  class="form-control"
                  v-model.trim="old_keyword"
                  :class="{
                    'is-invalid': $v.old_keyword.$error,
                    'is-valid': !$v.old_keyword.$invalid,
                  }"
                  @input="$v.old_keyword.$touch()"
                />
                <!-- <input type="text" id="nama-keyword" class="form-control" v-model.trim="old_keyword" :class="{'is-invalid' : $v.old_keyword.$error, 'is-valid': !$v.old_keyword.$invalid}" :value="old_keyword ? old_keyword : ''" /> -->
                <div class="invalid-feedback">
                  <span v-if="!$v.old_keyword.required"
                    >Keyword harus diisi.</span
                  >
                </div>
              </div>
              <div class="form-group">
                <label for>Exclude</label>
                <input
                  type="text"
                  id="nama-exclude"
                  class="form-control"
                  :value="exclude ? exclude : ''"
                />
              </div>
            </div>
            <div class="modal-footer" style="padding-bottom: 2rem !important">
              <button
                v-if="isUpdate"
                type="submit"
                class="btn btn-raised btn-success waves-effect"
              >
                {{ isLoading ? "Menyimpan data..." : "Update" }}
              </button>
              <button
                v-else
                type="submit"
                class="btn btn-raised btn-success waves-effect"
              >
                {{ isLoading ? "Menyimpan data..." : "Simpan" }}
              </button>
              <button
                type="button"
                @click="btnCloseFormKeyword"
                class="btn btn-link waves-effect"
                data-dismiss="modal"
              >
                Keluar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Tambah Topik -->
    <div class="modal fade" id="tambahTopik" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="largeModalLabel">
              {{ topic ? "Edit" : "Tambah" }} Topik
            </h4>
          </div>
          <form id="formTopic" @submit.prevent="formTopic">
            <div class="modal-body" style="margin-top: -25px">
              <input v-if="id" type="hidden" id="topik-id" :value="id" />

              <div class="form-group">
                <label for>Nama Topik</label>

                <input
                  type="text"
                  v-model.trim="topik_nama_topik"
                  :class="{
                    'is-invalid': $v.topik_nama_topik.$error,
                    'is-valid': !$v.topik_nama_topik.$invalid,
                  }"
                  id="topik-nama-topik"
                  class="form-control"
                  @input="$v.topik_nama_topik.$touch()"
                />

                <div class="invalid-feedback">
                  <span v-if="!$v.topik_nama_topik.required"
                    >Topik harus diisi.</span
                  >
                </div>
              </div>
            </div>
            <div class="modal-footer" style="padding-bottom: 2rem !important">
              <button
                v-if="id"
                type="submit"
                class="btn btn-raised btn-success waves-effect"
              >
                {{ isLoading ? "Menyimpan data..." : "Update" }}
              </button>
              <button
                v-else
                type="submit"
                class="btn btn-raised btn-success waves-effect"
              >
                {{ isLoading ? "Menyimpan data..." : "Simpan" }}
              </button>
              <button
                type="button"
                @click="btnCloseFormTopik"
                class="btn btn-link waves-effect"
                data-dismiss="modal"
              >
                Keluar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import Loader from "@/components/Loader.vue";
import Datatable from "@/components/DataTable.vue";
// import 'bootstrap';
import { required } from "vuelidate/lib/validators";

export default {
  name: "ManajemenKeyword",
  components: {
    "datatable-component": Datatable,
    "loader-component": Loader,
  },
  data() {
    return {
      isDisable: false,
      isUpdate: false,
      isLoading: false,
      topic_id: "",
      old_keyword: "",
      old_keyword_name: "",
      exclude: "",
      topic: "",
      id: "",
      topik_nama_topik: "",
      keyword_usage: "",
      keyword_limit: "",
      id_project: this.$store.getters.user.id_project,
      isLoader: false,
      searching: true,
      bLengthChange: true,
      ordering: false,
      info: false,
      isRequired: false,
      topics: [],
      table_header_keyword_manajemen_keyword: [
        {
          key: "no",
          title: "No",
          type: "number",
        },
        {
          key: "topik",
          title: "Topik",
          type: "text",
          width: "25%",
        },
        {
          key: "keyword",
          title: "Keyword",
          type: "text",
          width: "25%",
        },
        {
          key: "exclude",
          title: "Exclude",
          type: "text",
          width: "25%",
        },
        {
          key: "aksi",
          title: "Aksi",
          type: "link",
          width: "20%",
        },
      ],
      table_body_keyword_manajemen_keyword: [],
      table_body_keyword_manajemen_keyword_key: 0,

      table_header_topik_manajemen_keyword: [
        {
          key: "no",
          title: "No",
          type: "number",
        },
        {
          key: "topik",
          title: "Topik",
          type: "text",
        },
        {
          key: "aksi",
          title: "Aksi",
          type: "link",
          width: "20%",
        },
      ],
      table_body_topik_manajemen_keyword: [],
      table_body_topik_manajemen_keyword_key: 0,
    };
  },
  validations: {
    topik_nama_topik: {
      required,
    },
    old_keyword: {
      required,
    },
    topic_id: {
      required,
    },
  },
  methods: {
    get_keyword() {
      this.getKeyword();
    },
    get_topik() {
      this.getTopic();
    },

    btnCloseFormTopik() {
      setTimeout(() => {
        this.$v.$reset();
      }, 0);
      this.topik_nama_topik = "";
      this.id = "";
    },

    formTopic() {
      this.$v.topik_nama_topik.$touch();

      if (this.$v.topik_nama_topik.$invalid) {
        console.log(this.$v.$invalid);
      } else {
        let id = $("#tambahTopik #topik-id").val();
        let topik = $("#tambahTopik #topik-nama-topik").val();
        if (id) {
          let data = {
            topic: topik,
            _id: id,
          };

          let api = process.env.VUE_APP_API_URL + "topic-update";
          this.isLoading = true;
          this.$axios
            .post(api, data)
            .then((response) => {
              if (response.status === 200) {
                setTimeout(() => {
                  this.$v.$reset();
                }, 0);
                this.topik_nama_topik = "";
                $("body #tambahTopik").modal("hide");
                this.getTopic();
                this.getTopics();
                this.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Updated!</b> Data berhasil diubah!.',
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            })
            .catch((error) => console.log(error))
            .finally(() => {
              this.isLoading = false;
            });
        } else {
          let data = {
            topic: topik,
            id_project: this.id_project,
          };
          this.isLoading = true;
          let api = process.env.VUE_APP_API_URL + "topic-add";

          this.$axios
            .post(api, data)
            .then((response) => {
              if (response.status === 200) {
                setTimeout(() => {
                  this.$v.$reset();
                }, 0);
                this.topik_nama_topik = "";
                $("#tambahTopik #topik-nama-topik").val("");
                $("#tambahTopik #topik-nama-topik").removeClass("is-invalid");
                $("#tambahTopik #topik-nama-topik").removeClass("is-valid");
                $("body #tambahTopik").modal("hide");

                this.getTopic();
                this.getTopics();
                this.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil ditambahkan!.',
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            })
            .catch((error) => console.log(error))
            .finally(() => {
              this.isLoading = false;
            });
        }
      }
    },

    btnCloseFormKeyword() {
      setTimeout(() => {
        this.$v.$reset();
      }, 0);
      this.old_keyword = "";
    },

    formKeyword() {
      this.$v.old_keyword.$touch();
      this.$v.topic_id.$touch();

      if (this.$v.old_keyword.$invalid == false) {
        let id = $("#nama-topik option:selected").val();
        let old_keyword = $("body #modalFormKeyword #nama-old-keyword").val();

        let keyword = $("#nama-keyword").val();
        let exclude = $("#nama-exclude").val();
        if (old_keyword) {
          let data = {
            old_keyword: old_keyword,
            keyword: keyword,
            excludes: exclude,
            _id: id,
          };
          let api = process.env.VUE_APP_API_URL + "keyword-update";
          this.isLoading = true;
          this.$axios
            .post(api, data)
            .then((response) => {
              if (response.status === 200) {
                setTimeout(() => {
                  this.$v.$reset();
                }, 0);
                this.old_keyword = "";
                $("#modalFormKeyword").modal("hide");
                this.getKeyword();
                this.getProjectDetail();
                this.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Updated!</b> Data berhasil diubah!.',
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            })
            .catch((error) => console.log(error))
            .finally(() => {
              this.isLoading = false;
            });
        } else {
          let data = {
            keyword: keyword,
            excludes: exclude,
            _id: id,
            id_project: this.id_project,
          };
          this.isLoading = true;
          let api = process.env.VUE_APP_API_URL + "keyword-add";
          this.$axios
            .post(api, data)
            .then((response) => {
              if (response.status === 200) {
                setTimeout(() => {
                  this.$v.$reset();
                }, 0);
                this.old_keyword = "";
                $("#modalFormKeyword").modal("hide");
                this.getKeyword();
                this.getProjectDetail();
                this.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil ditambahkan!.',
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            })
            .catch((error) => console.log(error))
            .finally(() => {
              this.isLoading = false;
            });
        }
      }
    },

    btnAddKeyword() {
      let id = $("#nama-topik option:selected").val();
      let keyword = $("#nama-keyword").val();
      let exclude = $("#nama-exclude").val();
      let data = {
        keyword: keyword,
        excludes: exclude,
        _id: id,
        id_project: this.id_project,
      };
      this.isLoading = true;
      let api = process.env.VUE_APP_API_URL + "keyword-add";
      this.$axios
        .post(api, data)
        .then((response) => {
          if (response.status === 200) {
            $("#modalFormKeyword").modal("hide");
            this.getKeyword();
            this.getProjectDetail();
            this.$toasted.show(
              '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil ditambahkan!.',
              {
                theme: "bubble",
                position: "top-center",
                duration: 5000,
                fullWidth: true,
                type: "success",
              }
            );
          }
        })
        .catch((error) => console.log(error))
        .finally(() => {
          this.isLoading = false;
        });
    },

    btnUpdateKeyword() {
      let id = $("#modalFormKeyword #nama-topik option:selected").val();
      let old_keyword = $("#modalFormKeyword #nama-old-keyword").val();
      let keyword = $("#modalFormKeyword #nama-keyword").val();
      let exclude = $("#modalFormKeyword #nama-exclude").val();
      let data = {
        old_keyword: old_keyword,
        keyword: keyword,
        excludes: exclude,
        _id: id,
      };
      let api = process.env.VUE_APP_API_URL + "keyword-update";
      this.isLoading = true;
      this.$axios
        .post(api, data)
        .then((response) => {
          if (response.status === 200) {
            $("#modalFormKeyword").modal("hide");
            this.getKeyword();
            this.getProjectDetail();
            this.$toasted.show(
              '<i class="fa fa-check-circle"></i> <b>Updated!</b> Data berhasil diubah!.',
              {
                theme: "bubble",
                position: "top-center",
                duration: 5000,
                fullWidth: true,
                type: "success",
              }
            );
          }
        })
        .catch((error) => console.log(error))
        .finally(() => {
          this.isLoading = false;
        });
    },

    getTopics() {
      let api = process.env.VUE_APP_API_URL + "topics/" + this.id_project;
      this.$axios
        .get(api, {
          params: {
            wo_news: 1,
          },
        })
        .then((response) => {
          if (response.status === 200) {
            this.topics = response.data;
          } else {
            console.log("error");
          }
        })
        .catch((error) => console.log(error));
    },

    getKeyword() {
      this.isLoader = true;
      let api = process.env.VUE_APP_API_URL + "keywords/" + this.id_project;
      this.$axios
        .get(api)
        .then((response) => {
          if (response.status === 200) {
            // console.log(response.data)
            let table_body_keyword_manajemen_keyword2 = [];
            response.data.forEach(function (val) {
              let a = {
                topik: val.topic,
                keyword: val.keyword,
                exclude: val.excludes,
                aksi:
                  `<a href="javascript:void(0)" data-id="` +
                  val.topic_id +
                  `" data-keyword="` +
                  val.keyword +
                  `" data-exclude="` +
                  val.excludes +
                  `" class="btn-edit-keyword btn btn-info btn-sm btn-raised">Edit</a> <a href="javascript:void(0)" data-id="` +
                  val.topic_id +
                  `" data-keyword="` +
                  val.keyword +
                  `" class="btn-delete-keyword btn btn-danger btn-sm btn-raised">Delete</a>`,
              };
              table_body_keyword_manajemen_keyword2.push(a);
            });

            this.table_body_keyword_manajemen_keyword = table_body_keyword_manajemen_keyword2;
            this.table_body_keyword_manajemen_keyword_key++;
            // this.errored = false;
          } else {
            // this.errored = true;
            this.table_body_keyword_manajemen_keyword = [];
            this.table_body_keyword_manajemen_keyword_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },

    getTopic() {
      this.isLoader = true;
      let api = process.env.VUE_APP_API_URL + "topics/" + this.id_project;
      this.$axios
        .get(api)
        .then((response) => {
          if (response.status === 200) {
            // console.log(response)
            let table_body_topik_manajemen_keyword2 = [];
            for (var val in response.data) {
              let a = {
                topik: response.data[val],
                aksi:
                  `<a href="javascript:void(0)" data-topic="` +
                  response.data[val] +
                  `" data-id="` +
                  val +
                  `" class="btn btn-edit-topic btn-info btn-sm btn-raised">Edit</a> 
                                        <a href="javascript:void(0)" data-id="` +
                  val +
                  `" class="btn-delete-topic btn btn-danger btn-sm btn-raised">Delete</a>`,
              };
              table_body_topik_manajemen_keyword2.push(a);
            }

            this.table_body_topik_manajemen_keyword = table_body_topik_manajemen_keyword2;
            this.table_body_topik_manajemen_keyword_key++;
            // this.errored = false;
          } else {
            // this.errored = true;
            this.table_body_topik_manajemen_keyword = [];
            this.table_body_topik_manajemen_keyword_key = 0;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },

    getProjectDetail() {
      let api =
        process.env.VUE_APP_API_URL + "project-detail/" + this.id_project;
      this.$axios.get(api).then((response) => {
        if (response.status === 200) {
          // console.log(response.data)
          this.keyword_usage = response.data.keyword_usage;
          this.keyword_limit = response.data.project_detail.keyword_limit;
        }
      });
    },
  },

  created() {
    this.getProjectDetail();
    this.getKeyword();
    this.getTopic();
    this.getTopics();
    let self = this;

    $("body").on("click", ".btn-add-keyword", function () {
      setTimeout(() => {
        self.$v.$reset();
      }, 0);

      self.topic_id = "";
      self.old_keyword = "";
      self.exclude = "";
      self.isDisable = false;
      $("#modalFormKeyword #nama-topik").val("");
      $("#modalFormKeyword #nama-keyword").val("");
      $("#modalFormKeyword").modal("show");
    });

    $("body").on("click", ".btn-delete-keyword", function () {
      let id = $(this).data("id");
      let keyword = $(this).data("keyword");
      self
        .$swal({
          title: "Apakah anda yakin akan menghapus keyword ini?",
          icon: "info",
          showCancelButton: true,
          confirmButtonColor: "#28a745",
          cancelButtonColor: "#DD6B55",
          confirmButtonText: "Ya, Saya yakin !",
          cancelButtonText: "Tidak, tolong batalkan!",
        })
        .then((result) => {
          if (result.value) {
            let api = process.env.VUE_APP_API_URL + "keyword-delete";
            let data = {
              keyword: keyword,
              _id: id,
            };
            self.$axios.post(api, data).then((response) => {
              if (response.status === 200) {
                self.getKeyword();
                self.getProjectDetail();
                self.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Deleted!</b> Data berhasil dihapus!.',
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            });
          }
        })
        .catch((error) => console.log(error));
    });

    $("body").on("click", ".btn-edit-keyword", function () {
      self.isDisable = true;
      self.isUpdate = true;
      let id = $(this).data("id");
      let keyword = $(this).data("keyword");
      let exclude = $(this).data("exclude");
      self.topic_id = id;
      self.old_keyword = keyword;
      self.old_keyword_name = keyword;
      self.exclude = exclude;
      $("#modalFormKeyword").modal("show");
    });

    $("body").on("click", ".btn-add-topic", function () {
      self.id = "";
      self.topic = "";
      $("#tambahTopik").modal("show");
      $("#topik-nama-topik").val("");
    });

    $("body").on("click", ".btn-edit-topic", function () {
      let id = $(this).data("id");
      let topic = $(this).data("topic");
      self.id = id;
      self.topic = topic;
      self.topik_nama_topik = topic;
      $("#tambahTopik").modal("show");
    });

    $("body").on("click", ".btn-delete-topic", function () {
      let id = $(this).data("id");
      self
        .$swal({
          title: "Apakah anda yakin akan menghapus topik ini?",
          icon: "info",
          showCancelButton: true,
          confirmButtonColor: "#28a745",
          cancelButtonColor: "#DD6B55",
          confirmButtonText: "Ya, Saya yakin !",
          cancelButtonText: "Tidak, tolong batalkan!",
        })
        .then((result) => {
          if (result.value) {
            let api = process.env.VUE_APP_API_URL + "topic-delete";
            let data = {
              _id: id,
            };
            self.$axios
              .post(api, data)
              .then((response) => {
                if (response.status === 200) {
                  self.getTopics();
                  self.getTopic();
                  self.$toasted.show(
                    '<i class="fa fa-check-circle"></i> <b>Deleted!</b> Data berhasil dihapus!.',
                    {
                      theme: "bubble",
                      position: "top-center",
                      duration: 5000,
                      fullWidth: true,
                      type: "success",
                    }
                  );
                }
              })
              .catch((error) => console.log(error));
          }
        });
    });
  },
};
</script>

<style></style>
