<template>
<div class="map">
    <pageloader></pageloader>
    <!-- Title -->
    <header-component headerTitle="Map"></header-component>

    <div class="col-md-12">
        <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
        <div class="card wrapper-map" style="height: 500px">
            <div class="header">
                <h4 class="text-center">
                    Jumlah Mention Twitter per Provinsi di Indonesia
                </h4>
            </div>
            <div class="body">
                <!-- <alerterror-component v-if="errored"></alerterror-component> -->
                <maps-component :dataset="data_map" :key="map_key" @render-account="getProvinceId"></maps-component>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12" id="accountsContainer" tabindex="0">
            <div class="card" style="min-height: 400px">
                <div class="header">
                    <b>
                        Data Akun dan Unggahan per Provinsi
                        <span id="nama_provinsi"></span>
                    </b>
                </div>
                <div class="body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#akun" @click="get_account">Akun Terpopuler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#unggahan" @click="get_post">Unggahan Terbaru</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="akun">
                            <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
                            <div id="akun-container">
                                <section v-if="isTable">
                                    <alerterror-component v-if="errored"></alerterror-component>
                                    <datatable-component v-else :headers="header_accounts_map" :items="body_accounts_map" :key="body_accounts_map_key" id="datatable_accounts_map" :ordering="ordering" :bLengthChange="bLengthChange" :searching="searching" :info="info" type="datatable"></datatable-component>
                                </section>
                                <span v-else style="line-height: 300px" id="MessageAccount">
                                    <div class="text-center">
                                        <b>Silakan pilih Provinsi terlebih dahulu.</b>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="unggahan">
                            <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
                            <div id="unggahan-container">
                                <section v-if="isTable">
                                    <alerterror-component v-if="errored"></alerterror-component>
                                    <datatable-component :headers="header_post_latest" :items="body_post_latest" :key="body_post_latest_key">
                                    </datatable-component>
                                </section>
                                <span v-else style="line-height: 300px" id="MessagePost">
                                    <center>
                                        <b>Silakan pilih Provinsi terlebih dahulu.</b>
                                    </center>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
        <div class="row clearfix" style="position: sticky;top:20px;">
          <div class="ol-sm-12 col-md-12 col-lg-12">
            <accordian-component page="map"></accordian-component>
          </div>
        </div>
      </div>-->
    </div>
</div>
</template>

<script>
import pageloader from "@/components/PageLoader.vue";
import maps from "@/components/Maps.vue";
import Header from "@/components/Header.vue";
import Loader from "@/components/Loader.vue";
import AlertError from "@/components/AlertError.vue";
import Datatable from "@/components/DataTable.vue";
var moment = require("moment");
export default {
    components: {
        pageloader: pageloader,
        "maps-component": maps,
        "header-component": Header,
        "loader-component": Loader,
        "alerterror-component": AlertError,
        "datatable-component": Datatable,
    },
    data() {
        return {
            errored: false,
            isLoader: false,
            start: moment(new Date())
                .subtract(6, "days")
                .format("YYYY-MM-DD 00:00:00"),
            to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
            topic: false,
            propince_id: "",
            id_project: this.$store.getters.user.id_project,
            data_map: [],
            map_key: 0,

            isTable: false,
            searching: true,
            bLengthChange: false,
            ordering: true,
            info: false,

            header_accounts_map: [{
                    key: "no",
                    title: "No",
                    type: "number",
                    width: "10%",
                },
                {
                    key: "channel",
                    title: "Channel",
                    type: "icon",
                    width: "10%",
                },
                {
                    key: "akun",
                    title: "Akun",
                    type: "text",
                    width: "50%",
                },
                {
                    key: "followers",
                    title: "Followers",
                    type: "text",
                    width: "5%",
                },
            ],
            body_accounts_map: [],
            body_accounts_map_key: 0,

            header_post_latest: [{
                    key: "konten",
                    title: "Konten",
                    type: "content",
                },
                {
                    key: "sentimen",
                    title: "Sentimen",
                    type: "label",
                },
            ],

            body_post_latest: [],
            body_post_latest_key: 0,
            moments: moment,
        };
    },
    methods: {
        get_account() {
            this.getAccounts();
        },
        get_post() {
            this.getLatestPost();
        },
        getProvinceId(id) {
            this.isTable = true;
            this.propince_id = id;
            this.getAccounts();
            this.getLatestPost();
        },

        getAccounts() {
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "influencers/" +
                    this.id_project +
                    "/socmed", {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            items: 100,
                            province: this.propince_id,
                            sources: "dHdpdHRlcg==",
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {
                        var body_accounts_map2 = [];
                        response.data.accounts.forEach(function (i) {
                            var a = {
                                channel: i.source,
                                akun: i.account.toLocaleString("en") +
                                    " " +
                                    (i.pers == 1 ?
                                        `<span class="label bg-orange"><i class="fa fa-newspaper-o"></i> Pers</span>` :
                                        ""),
                                followers: i.followers.toLocaleString("en"),
                            };
                            body_accounts_map2.push(a);
                        });

                        this.body_accounts_map = body_accounts_map2;
                        this.body_accounts_map_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.body_accounts_map = null;
                        this.body_accounts_map_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoader = false));
        },

        getLatestPost() {
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "posts-classic/" +
                    this.id_project, {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            province: this.propince_id,
                            to: this.to,
                            sort: "date",
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {
                        var body_post_latest2 = [];

                        let moments = this.moments;
                        response.data.posts.forEach(function (i) {
                            var a = {
                                konten: `<b>
                      <a href="` +
                                    i.id_account +
                                    `" target="_blank"><span class="list-name" style="text-transform: none;float: left">` +
                                    i.account +
                                    `</span></a>
                      <span class="text-muted" style="float: right">` +
                                    moments(i.date.$date).format("DD MMM YYYY - HH:mm") +
                                    `</span></b>
                      <br>
                      <span class="list-name" style="text-transform: none">` +
                                    i.content.substring(0, 100) +
                                    (i.content.length > 100 ? "..." : "") +
                                    `</span>`,
                                sentimen: `<span>` + (i.sentimen == 0) ?
                                    "netral" : "negatif" + `</span>`,
                            };
                            body_post_latest2.push(a);
                        });

                        this.body_post_latest = body_post_latest2;
                        this.body_post_latest_key++;
                        this.errored = false;
                    } else {
                        this.errored = true;
                        this.body_post_latest = null;
                        this.body_post_latest_key = 0;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => (this.isLoader = false));
        },

        renameKey(object, key, newKey) {
            const clonedObj = this.clone(object);

            const targetKey = clonedObj[key];

            delete clonedObj[key];

            clonedObj[newKey] = targetKey;

            return clonedObj;
        },

        clone(obj) {
            Object.assign({}, obj);
        },

        getMap() {
            this.isLoader = true;
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(api + "map/" + this.id_project, {
                    params: {
                        classic: 1,
                        from: this.start,
                        to: this.to,
                        ...(this.topic ? {
                            topic: this.topic,
                        } : {}),
                    },
                })
                .then((response) => {
                    if (response.status === 200) {
                        this.data_map = response.data;
                        this.map_key++;
                        this.errored = false;
                    } else {
                        this.data_map = [];
                        this.map_key = 0;
                        this.errored = true;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.errored = true;
                })
                .finally(() => (this.isLoader = false));
        },
    },
    watch: {
        $route() {
            if (this.$route.query.start) {
                this.start = this.$route.query.start;
                this.to = this.$route.query.end;
            }
            this.topic = this.$route.query.topic;
            this.getMap();
        },
    },

    created() {
        this.getMap();
    },

    mounted() {

    },
};
</script>
