<template>
  <div class="authentication" id="authentication">
    <div class="container-fluid">
      <loader-component
        v-if="isLoader"
        classLoader="loader-login"
      ></loader-component>
      <div class="row clearfix">
        <div class="col-xl-9 col-lg-8 col-md-12 p-l-0">
          <div class="l-detail">
            <h2 class="position">
              <!-- <img src="assets/images/logo.svg" alt="profile img" /> -->
              <div class="text-center">
                <img
                  src="assets/images/digivla.png"
                  alt="profile img"
                  width="500"
                  style="margin-top: -5px"
                />
              </div>
            </h2>
            <p class="position text-center" style="margin-top: 20px">
              Harap Log in terlebih dahulu untuk mengakses Dashboard
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 p-r-0">
          <div class="card position">
            <h4 class="l-login">Login</h4>
            <div class="alert alert-danger" v-if="msgError">
              Username atau Password salah!
            </div>
            <form
              @submit.prevent="userLogin"
              class="col-md-12"
              id="sign_in"
              method="POST"
            >
              <div class="form-group form-float">
                <div class="form-line">
                  <input
                    v-model="form.username"
                    type="text"
                    class="form-controls"
                    id="username"
                  />
                  <label class="form-label">Username</label>
                </div>
                <span class="text-danger" v-if="error_username">{{
                  error_username
                }}</span>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <input
                    v-model="form.password"
                    id="password"
                    type="password"
                    class="form-controls"
                  />
                  <label class="form-label">Password</label>
                </div>
                <div class="icon-password">
                  <i
                    @click="showPassword"
                    class="fa fa-eye-slash show-password"
                  ></i>
                </div>
                <span class="text-danger" v-if="error_password">{{
                  error_password
                }}</span>
              </div>
              <button
                class="btn text-uppercase btn-raised g-bg-blue waves-effect"
                type="submit"
              >
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <modal-component
      :modalTitle="modalTitle"
      :modalTarget="modalTarget"
      :modalType="modalType"
      :modalVariant="modalVariant"
    >
    </modal-component>
  </div>
</template>

<script src="assets/plugins/sketch/sketch.min.js"></script>
<script src="assets/js/pages/authentication/sketch.js"></script>
<script>
import $ from "jquery";
import Loader from "@/components/Loader.vue";
import Modal from "@/components/ModalComponent.vue";

export default {
  name: "Login",
  components: {
    "loader-component": Loader,
    "modal-component": Modal,
  },
  data() {
    return {
      isLoader: false,
      modalTitle: "Form Tambah Grafik",
      modalVariant: "modal-lg",
      modalType: "addGrafikModal",
      modalTarget: "addGrafikModal",
      msgError: false,
      form: {
        username: "",
        password: "",
        ref: "web",
      },
      errors: {},
      error_username: "",
      error_password: "",
    };
  },
  methods: {
    showPassword() {
      let pass = $("#password").attr("type");
      if (pass == "password") {
        $("#password").attr("type", "text");
        $(".show-password").removeClass("fa-eye-slash");
        $(".show-password").addClass("fa-eye");
      } else {
        $("#password").attr("type", "password");
        $(".show-password").removeClass("fa-eye");
        $(".show-password").addClass("fa-eye-slash");
      }
    },
    userLogin() {
      this.error_username = "";
      this.error_password = "";
      if (this.form.username == "" || this.form.password == "") {
        if (this.form.username == "") {
          this.error_username = "username tidak boleh kosong";
        }

        if (this.form.password == "") {
          this.error_password = "password tidak boleh kosong";
        }
      } else {
        this.isLoader = true;
        this.$store
          .dispatch("Login", {
            username: this.form.username,
            password: btoa(this.form.password),
            ref: "web",
          })
          .then(
            (response) => {
              if (response.status === 200) {
                this.$router.push({
                  path: "/dashboard",
                });
              } else {
                console.log();
              }
            },
            (err) => {
              console.log(err.response);
              if (err.response.status === 400) {
                this.msgError = true;
              }
            }
          )
          // .catch((error) => {
          //   console.log(error.response.status);
          //   if (error.response.status === 400) {
          //     this.msgError = true;
          //   }
          //   let errorMsg = error.response.data.status;
          //   if (errorMsg.search("Password") == 6) {
          //     this.error_password = error.response.data.status;
          //   } else {
          //     this.error_username = error.response.data.status;
          //   }
          //   console.log(error);
          // })
          .finally(() => (this.isLoader = false));
      }
    },
  },
  watch: {
    $route() {
      if (this.$route.query.log) {
        $("title").text("Online Media Monitoring");
        this.form.username = "";
        this.form.password = "";
        if (this.form.username == "") {
          $("input#username").parent().removeClass("focused");
        }
        if (this.form.username == "") {
          $("input#password").parent().removeClass("focused");
        }
        this.$toasted.show(
          '<i class="fa fa-times-circle"></i> <b>' +
            decodeURI(atob(this.$route.query.log_t)) +
            "</b> " +
            decodeURI(atob(this.$route.query.log)),
          {
            theme: "bubble",
            position: "top-center",
            duration: 5000,
            fullWidth: true,
          }
        );
      }
    },
  },
  created() {
    if (this.$route.query.log) {
      $("title").text("Online Media Monitoring");
      this.$toasted.show(
        '<i class="fa fa-times-circle"></i> <b>' +
          decodeURI(atob(this.$route.query.log_t)) +
          "</b> " +
          decodeURI(atob(this.$route.query.log)),
        {
          theme: "bubble",
          position: "top-center",
          duration: 5000,
          fullWidth: true,
        }
      );
    }
  },

  mounted() {
    $("body").attr("id", "authentication");
    $("input").focus(function () {
      $(this).parent().addClass("focused");
    });
    $("input").blur(function () {
      if (!$(this).val()) {
        $(this).parent().removeClass("focused");
      }
    });

    const plugin = document.createElement("script");
    plugin.setAttribute("src", "assets/plugins/sketch/sketch.min.js");
    plugin.async = false;
    const pluginSketch = document.createElement("script");
    pluginSketch.setAttribute(
      "src",
      "assets/js/pages/authentication/sketch.js"
    );
    pluginSketch.async = false;
    document.body.appendChild(plugin);
    document.body.appendChild(pluginSketch);

    // console.clear();
  },
};
</script>

<style>
h2#swal2-title {
  font-size: 18px !important;
}

.swal2-actions {
  padding: 0 !important;
}

.icon-password {
  position: relative !important;
}

.show-password {
  position: absolute !important;
  right: 0px;
  top: -34px;
}

.icon-password .fa {
  cursor: pointer !important;
  color: #aaa !important;
}
</style>
