<template>
<div class="trash-bin">
    <header-component headerTitle="Trash Bin"></header-component>

    <!-- Block pencarian-->
    <div class="card">
        <div class="body">
            <panel-search-component></panel-search-component>
        </div>
    </div>

    <!-- Filter Post -->
    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 0">
        <filter-post-component @stream-select-all="StreamSelectAll" page="trash" @change-takes="changeTakes"></filter-post-component>
    </div>
    <!-- Block berita + filter samping kanan-->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 multipleaction hide" style="display: none">
                    <div class="card">
                        <div class="body">
                            <b>Aksi untuk item yang ditandai</b>
                            <hr />
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <b>Restore Data</b>
                                    <button type="button" name="button" class="btn btn-raised bg-green btn-block btn-sm waves-effect" @click="restoreMultiplePost">
                                        Restore Data
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <b>Hapus data</b>
                                    <button type="button" name="button" class="btn btn-raised bg-red btn-block btn-sm waves-effect" @click="deleteMultiplePost">
                                        Hapus Data
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" id="section-left">
                <!-- timeline -->
                <loader-component :classLoader="isLoader ? 'loader-post show' : 'loader-post hide' "></loader-component>
                <alerterror-component v-if="errored"></alerterror-component>
                <post-component v-else :dataset="posts" :q="q" type="trash-bin" @restore-post="restorePost" @delete-post="deletePost" @click-stream="clickStream" :numCek="num_ceks"></post-component>
            </div>
            <div class="col-lg-12" style="height: 150px; display: none" id="loaderCol"></div>
            <div class="col-lg-12" style="height: 80px" id="paggerCol">
                <loader-component :classLoader="loaderLoadMore ? 'loader-loadmore show' : 'loader-loadmore hide' "></loader-component>
                <loadmore-component @change-takes="AppendData" :dataId="parseInt(takes)" v-if="erroredLoadMore"></loadmore-component>
            </div>
            <div v-if="isStream" class="col-lg-12" id="finData">
                <div class="alert alert-info" style="text-align: center">
                    <strong>Opss!</strong> data stream sudah habis.
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import $ from "jquery";
import PanelSearch from "@/components/PanelSearch.vue";
import FilterPost from "@/components/FilterPost.vue";
import Header from "@/components/Header.vue";
import Loader from "@/components/Loader.vue";
import AlertError from "@/components/AlertError.vue";
import Post from "@/components/PostComponent.vue";
import LoadMore from "@/components/LoadMore.vue";
var moment = require("moment");
let num_cek = 0;
let num_ceks = 0;
let temp = [];
let check_all = 0;
let empty = 1;

export default {
    components: {
        "panel-search-component": PanelSearch,
        "filter-post-component": FilterPost,
        "header-component": Header,
        "loader-component": Loader,
        "post-component": Post,
        "alerterror-component": AlertError,
        "loadmore-component": LoadMore,
    },
    data() {
        return {
            errored: false,
            isLoader: false,
            loaderLoadMore: false,
            isAppendData: false,
            erroredLoadMore: false,
            isStream: false,
            q: false,
            offset: 10,
            posts: [],
            topic: false,
            start: moment(new Date())
                .subtract(6, "days")
                .format("YYYY-MM-DD 00:00:00"),
            to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
            id_project: this.$store.getters.user.id_project,
            takes: 10,
            num_ceks: 0,
            isUpdateCheck: false,
        };
    },
    methods: {
        clickStream(obj) {
            console.log(obj)
            var checked = obj.currentTarget.getAttribute('mark');
            var id = obj.currentTarget.getAttribute('stream-id');
            console.log(parseInt(num_cek));
            if (checked == 0) {
                console.log(obj.currentTarget.getAttribute('class'))
                temp[id] = obj.currentTarget.getAttribute('class');
                console.log(temp[id])
                num_cek++;
                obj.currentTarget.setAttribute('mark', 1);
                obj.currentTarget.setAttribute('class', 'cbp_tmicon bg-grey klik animated fadeInRight');
                //   $(obj).attr('class','cbp_tmicon bg-grey klik animated fadeInRight');
                $(obj.currentTarget).find("i").attr('class', 'fa fa-check m-t-10');
                this.cek_multipel();
            } else {
                console.log(num_cek)
                num_cek--;
                obj.currentTarget.setAttribute('mark', 0);
                var cat = obj.currentTarget.getAttribute('cat');
                // obj.currentTarget.setAttribute('class', temp[id]);
                obj.currentTarget.setAttribute('class', 'cbp_tmicon bg-light-blue klik');
                console.log('else')
                //   $(obj).attr('class',temp[id]);
                //   $(obj).find("i").attr('class','fa fa-'+cat+' m-t-10');
                $(obj.currentTarget).find("i").attr('class', 'fa fa-' + cat + ' m-t-10');
                this.cek_multipel();
            }
        },

        restoreMultiplePost() {
            let selectedID = [];
            // let element = document.getElementsByClassName("getID");
            $('div#getID').each(function (ind, obj) {
                console.log(ind);
                if ($(obj).attr('mark') === '1') {
                    selectedID.push($(obj).attr('stream-id'));
                }
            });
            this.$swal({
                title: "Apakah anda yakin akan mengembalikan data ini?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        _id: selectedID
                    }
                    this.$axios.post(api + "post-restore-many", data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                this.$router.replace('/trash').catch(() => {});
                                this.num_ceks = 0;
                                num_cek = 0
                                check_all = 0;
                                empty = 1;
                                console.log(empty);
                                this.isUpdateCheck = true;
                                this.unchekStream();
                                this.getPost();
                                this.$toasted.show('<i class="fa fa-check-circle"></i> <b>Restored!</b> Data berhasil dikembalikan.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                            }
                        });
                }
            });
        },
        deleteMultiplePost() {
            let selectedID = [];
            // let element = document.getElementsByClassName("getID");
            $('div#getID').each(function (ind, obj) {
                console.log(ind);
                if ($(obj).attr('mark') === '1') {
                    selectedID.push($(obj).attr('stream-id'));
                }
            });
            this.$swal({
                title: "Apakah anda yakin akan menghapus data ini?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        _id: selectedID
                    }
                    this.$axios.post(api + "post-perma-delete-many", data

                        )
                        .then((response) => {
                            if (response.status === 200) {
                                this.num_ceks = 0;
                                this.isUpdateCheck = true;
                                this.unchekStream();
                                this.getPost();
                                this.$toasted.show('<i class="fa fa-check-circle"></i> <b>Deleted!</b> Data berhasil dihapus.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                            }
                        });
                }
            });
        },

        restorePost(id) {
            this.$swal({
                title: "Apakah anda yakin akan mengembalikan data ini?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                console.log(result)
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        _id: id
                    }
                    this.$axios
                        .post(api + "post-restore", data)
                        .then((response) => {
                            if (response.status === 200) {
                                this.$toasted.show('<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil dikembalikan.', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                                this.getPost();
                            }
                        });
                }
            });
        },
        deletePost(id) {
            this.$swal({
                title: "Apakah anda yakin akan menghapus data ini?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                cancelButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Saya yakin !",
                cancelButtonText: "Tidak, tolong batalkan!",
            }).then(result => {
                console.log(result)
                if (result.value) {
                    let api = process.env.VUE_APP_API_URL;
                    let data = {
                        _id: id
                    }
                    this.$axios
                        .post(api + "post-perma-delete", data)
                        .then((response) => {
                            if (response.status === 200) {
                                this.getPost();
                                this.$toasted.show('<i class="fa fa-check-circle"></i> <b>Deleted!</b> Data berhasil dihapus!', {
                                    theme: "bubble",
                                    position: "top-center",
                                    duration: 5000,
                                    fullWidth: true,
                                    type: "success"
                                });
                            }
                        });
                }
            });
        },

        changeTakes(e) {
            this.takes = e;
            this.offset = e;
            this.getPost();
            // this.getPostStast();
        },
        AppendData(take) {
            this.loaderLoadMore = true;
            this.isAppendData = true;
            this.takes = parseInt(take) + this.offset;
            this.getPost();
        },

        getPost() {
            if (this.isAppendData) {
                this.loaderLoadMore = true;
            } else {
                this.isLoader = true;
            }
            let api = process.env.VUE_APP_API_URL;
            this.$axios
                .get(
                    api + "trash-bin/" + this.id_project, {
                        params: {
                            wo_news: 1,
                            from: this.start,
                            to: this.to,
                            items: this.takes,
                            // ...(this.takes ? {
                            //     items: this.takes,
                            // } : {}),
                            ...(this.q ? {
                                q: btoa(this.q),
                            } : {}),
                            ...(this.topic ? {
                                topic: this.topic,
                            } : {}),
                        },
                    }
                )
                .then((response) => {
                    if (response.status === 200) {
                        if (response.data.page_info.limit > response.data.page_info.total) {
                            this.isStream = true;
                            this.erroredLoadMore = false
                        } else {

                            this.erroredLoadMore = true;
                        }
                        this.posts = response.data.posts;
                        this.errored = false;
                        // this.erroredLoadMore = true;
                    } else {
                        this.posts = [];
                        this.errored = true;
                        this.erroredLoadMore = false;
                    }
                })
                .catch((error) => console.log(error))
                .finally(() => {
                    this.isLoader = false;
                    this.loaderLoadMore = false;
                });
        },

        StreamSelectAll() {
            if (this.isUpdateCheck) {
                num_cek = 0
                check_all = 0;
                empty = 1;
                this.isUpdateCheck = false;
            }
            console.log(empty);
            let self = this;
            // let element = document.getElementsByClassName("getID");
            // console.log(element.length)
            $('div#getID').each(function (ind, obj) {
                console.log(ind);
                empty = 0;
                // let checked = parseInt(obj.getAttribute("mark"));
                // let id = obj.getAttribute("stream-id");
                let checked = parseInt($(obj).attr('mark'));
                let id = $(obj).attr('stream-id');

                // $(obj).find("i").attr("class", "fa fa-check m-t-10");
                console.log(check_all)
                console.log(checked)
                if (!check_all) {
                    if (!checked) {
                        temp[id] = $(obj).attr("class");
                        console.log(temp[id])
                        num_cek++;

                        $(obj).attr("mark", "1");
                        $(obj).attr(
                            "class",
                            "cbp_tmicon bg-grey klik animated fadeInRight"
                        );
                        $(obj).find("i").attr("class", "fa fa-check m-t-10");
                        $('input[name="sentimentAll"]').attr('jumlah-cek', num_cek)
                    }
                } else {
                    console.log('else satu')
                    if (checked) {
                        console.log(temp[id])
                        console.log('else')
                        var cat = $(obj).attr("cat");
                        num_cek--;

                        $(obj).attr("mark", "0");
                        $(obj).attr("class", temp[id]);
                        $(obj)
                            .find("i")
                            .attr("class", "fa fa-" + cat + " m-t-10");
                    }
                }
            });
            if (!empty) {
                if (!check_all) {
                    check_all = 1;
                    console.log('if di if empty')
                    $('input[name="sentimentAll"]').prop("checked", true);
                } else {
                    check_all = 0;
                    console.log('else di if empty')
                    $('input[name="sentimentAll"]').prop("checked", false);
                }
            } else {
                console.log('else empty')
            }
            console.log(empty)
            self.cek_multipel();
        },

        cek_multipel() {
            // let self = this;
            console.log(num_cek)
            $('input[name="sentimentAll"]').attr('jumlah-cek', num_cek)
            $('#isCheckbox').attr('jumlah-cek', num_cek)

            if (num_cek > 0) {
                $(".multipleaction").show(1000);
                $('#isCheckbox').attr('check-type', 'check')
            } else {
                check_all = 0;
                $('#isCheckbox').attr('check-type', 'uncheck')
                $('input[name="sentimentAll"]').prop("checked", false);
                $(".multipleaction").hide(1000);
            }
        },

        unchekStream() {
            // let self = this;
            $('div#getID').each(function (ind, obj) {
                console.log(ind);
                empty = 0;

                let checked = parseInt($(obj).attr('mark'));
                let id = $(obj).attr('stream-id');

                if (checked == 1) {
                    temp[id] = 'cbp_tmicon klik getID bg-icon-twitter';
                    var cat = $(obj).attr("cat");
                    $(obj).attr("mark", "0");
                    $(obj).attr("class", temp[id]);
                    $(obj)
                        .find("i")
                        .attr("class", "fa fa-" + cat + " m-t-10");
                }
            })

            if (!empty) {
                if (!check_all) {
                    check_all = 1;

                    $('input[name="sentimentAll"]').prop("checked", true);
                } else {
                    check_all = 0;
                    $('input[name="sentimentAll"]').prop("checked", false);
                }
            }

            this.cek_multiples();
        },

        cek_multiples() {
            if (num_ceks > 0) {
                $(".multipleaction").show(1000);
            } else {
                // check_all = 0;
                $('input[name="sentimentAll"]').prop("checked", false);
                $(".multipleaction").hide(1000);
            }
        },
    },
    watch: {
        $route() {
            this.start = this.$route.query.start;
            this.to = this.$route.query.end;
            // this.source = this.$route.query.sources;
            // this.sentiment = this.$route.query.sentiments;
            this.q = this.$route.query.q;
            this.topic = this.$route.query.topic;
            this.getPost();
        },
    },

    created() {
        this.getPost();
    },
};
</script>
