<template>
  <div class="unggahan-terbaru">
    <header-component headerTitle="Posting Terbaru"></header-component>
    <!-- Block pencarian-->
    <div class="card">
      <div class="body" style="height: 68px">
        <panel-search-component :value="valueSearch"></panel-search-component>
      </div>
    </div>

    <!-- Block Filter kategori-->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <poststats-component
          :dataset="post_stast"
          :isLoader="isLoader"
          :valueStats="sentiment"
        >
        </poststats-component>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 0">
      <filter-post-component
        @stream-select-all="StreamSelectAll"
        @change-takes="changeTakes"
        @change-sort="changeSort"
        @change-pers="changePers"
      >
      </filter-post-component>
    </div>

    <!-- Block berita + filter samping kanan-->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-8 col-sm-8">
        <div class="row clearfix">
          <div
            class="col-lg-12 col-md-12 col-sm-12 multipleaction hide"
            style="display: none"
          >
            <div class="card">
              <div class="body">
                <b>Aksi untuk item yang ditandai</b>
                <hr />
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <b>Ubah Sentimen</b>
                    <form class action="#" method="post">
                      <div class="form-group m-t-5">
                        <select
                          class="form-control test"
                          name="periode"
                          @change="updateMultipleSentiment"
                          id="change-sentiment"
                        >
                          <option value>Pilih Sentimen</option>
                          <option value="1">Positif</option>
                          <option value="0">Netral</option>
                          <option value="-1">Negatif</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-6">
                    <b>Hapus data</b>
                    <button
                      type="button"
                      name="button"
                      class="btn btn-raised bg-red btn-block btn-sm waves-effect"
                      @click="deleteMultiplePost"
                    >
                      Hapus Data
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <loader-component
          :classLoader="isLoaderPost ? 'loader-post show' : 'loader-post hide'"
        ></loader-component>
        <div class="col-lg-12 col-md-12 col-sm-12" id="section-left">
          <div
            v-if="errorPost"
            class="alert alert-danger"
            style="text-align: center"
          >
            Data yang anda cari tidak ditemukan. Klik
            <a href="UnggahanTerbaru">tautan ini</a>
            <a>untuk kembali ke halaman awal.</a>
          </div>
          <post-component
            v-else
            :dataset="posts"
            :q="q"
            @delete-post="deletePost"
            @btn-update-sentiment="btnUpdateSentiment"
            @click-stream="clickStream"
            :numCek="num_ceks"
          ></post-component>
        </div>
        <div class="row clearfix">
          <div
            class="col-lg-12"
            style="height: 150px; display: none"
            id="loaderCol"
          ></div>
          <div v-if="isStream" class="col-lg-12" id="finData">
            <div class="alert alert-info" style="text-align: center">
              <strong>Opss!</strong> data stream sudah habis.
            </div>
          </div>
          <div v-else class="col-lg-12" style="height: 80px" id="paggerCol">
            <loader-component
              :classLoader="
                isLoadMore ? 'loader-loadmore show' : 'loader-loadmore hide'
              "
            ></loader-component>
            <loadmore-component
              @change-takes="AppendData"
              :dataId="takes"
              v-if="erroredLoadMore"
            ></loadmore-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import PanelSearch from "@/components/PanelSearch.vue";
import FilterPost from "@/components/FilterPost.vue";
import Header from "@/components/Header.vue";
import PostStats from "@/components/PostStats.vue";
import Loader from "@/components/Loader.vue";
import Post from "@/components/PostComponent.vue";
import LoadMore from "@/components/LoadMore.vue";
import mark from "mark.js";
$.mark = mark;
var moment = require("moment");
moment.tz = require("moment-timezone");

let num_cek = 0;
let num_ceks = 0;
let temp = [];
let check_all = 0;
let empty = 1;

export default {
  components: {
    "panel-search-component": PanelSearch,
    "filter-post-component": FilterPost,
    "header-component": Header,
    "poststats-component": PostStats,
    "loader-component": Loader,
    "post-component": Post,
    "loadmore-component": LoadMore,
  },
  data() {
    return {
      now: moment(new Date()).format("DD-MMM-YYYY"),
      kemarin: moment(new Date()).add(-1, "days").format("DD-MMM-YYYY"),
      isHide: false,
      errored: false,
      errorPost: false,
      erroredLoadMore: true,
      isAppendData: false,
      valueSearch: "",
      moment: moment,
      isLoader: false,
      isLoaderPost: false,
      isLoadMore: false,
      isStream: false,
      start: moment(new Date())
        .subtract(6, "days")
        .format("YYYY-MM-DD 00:00:00"),
      to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
      // id_project: this.$cookie.get('id_project'),

      id_project: this.$store.getters.user.id_project,
      post_stast: {},
      posts: [],
      takes: 10,
      offset: 10,
      sort: false,
      pers: false,
      source: false,
      sentiment: false,
      q: false,
      topic: false,
      num_ceks: 0,
      isUpdateCheck: false,
      streamAll: 0,
      post_stast_def: {
        blog: 0,
        engagement: 0,
        esmr: 0,
        facebook: 0,
        forum: 0,
        instagram: 0,
        media_cetak: 0,
        negatif: 0,
        netral: 0,
        positif: 0,
        total: 0,
        twitter: 0,
        youtube: 0,
      },
    };
  },

  methods: {
    deleteMultiplePost() {
      let selectedID = [];
      // let element = document.getElementsByClassName("getID");
      $("div#getID").each(function (ind, obj) {
        console.log(ind);
        if ($(obj).attr("mark") === "1") {
          selectedID.push($(obj).attr("stream-id"));
        }
      });
      this.$swal({
        title: "Apakah anda yakin akan menghapus data ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#DD6B55",
        confirmButtonText: "Ya, Saya yakin !",
        cancelButtonText: "Tidak, tolong batalkan!",
      }).then((result) => {
        if (result.value) {
          let api = process.env.VUE_APP_API_URL;
          let data = {
            _id: selectedID,
          };
          this.$axios.post(api + "post-delete-many", data).then((response) => {
            if (response.status === 200) {
              this.num_ceks = 0;
              this.isUpdateCheck = true;
              this.uncheckStream();
              this.getPost();
              this.getPostStast();
              this.$toasted.show(
                '<i class="fa fa-check-circle"></i> <b>Deleted!</b> Data berhasil dihapus!',
                {
                  theme: "bubble",
                  position: "top-center",
                  duration: 5000,
                  fullWidth: true,
                  type: "success",
                }
              );
            }
          });
        }
      });
    },

    deletePost(id) {
      this.$swal({
        title: "Apakah anda yakin akan menghapus data ini?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#DD6B55",
        confirmButtonText: "Ya, Saya yakin !",
        cancelButtonText: "Tidak, tolong batalkan!",
      }).then((result) => {
        if (result.value) {
          let api = process.env.VUE_APP_API_URL;
          let data = {
            _id: id,
          };
          this.$axios.post(api + "post-delete", data).then((response) => {
            if (response.status === 200) {
              this.$toasted.show(
                '<i class="fa fa-check-circle"></i> <b>Deleted!</b> Data berhasil dihapus!',
                {
                  theme: "bubble",
                  position: "top-center",
                  duration: 5000,
                  fullWidth: true,
                  type: "success",
                }
              );
              this.getPost();
              this.getPostStast();
            }
          });
        }
      });
    },

    btnUpdateSentiment(dataID, sentimentID) {
      this.$swal({
        title: "Apakah anda yakin akan mengubah sentiment data ini ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#DD6B55",
        confirmButtonText: "Ya, Saya yakin !",
        cancelButtonText: "Tidak, tolong batalkan!",
      }).then((result) => {
        if (result.value) {
          let api = process.env.VUE_APP_API_URL;
          let data = {
            sentiment: parseInt(sentimentID),
            _id: dataID,
          };
          this.$axios.post(api + "post-sentiment", data).then((response) => {
            if (response.status === 200) {
              this.$toasted.show(
                '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diupdate!',
                {
                  theme: "bubble",
                  position: "top-center",
                  duration: 5000,
                  fullWidth: true,
                  type: "success",
                }
              );
              this.getPost();
              this.getPostStast();
            }
          });
        }
      });
    },

    updateMultipleSentiment() {
      let selectedID = [];
      let sentimentID = document.getElementById("change-sentiment").value;

      $("div#getID").each(function (ind, obj) {
        console.log(ind);
        if ($(obj).attr("mark") === "1") {
          selectedID.push($(obj).attr("stream-id"));
        }
      });

      this.$swal({
        title: "Apakah anda yakin akan mengubah sentiment data ini ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#DD6B55",
        confirmButtonText: "Ya, Saya yakin !",
        cancelButtonText: "Tidak, tolong batalkan!",
      }).then((result) => {
        if (result.value) {
          let api = process.env.VUE_APP_API_URL;
          let data = {
            sentiment: parseInt(sentimentID),
            _id: selectedID,
          };
          this.$axios
            .post(api + "post-sentiment-many", data)
            .then((response) => {
              if (response.status === 200) {
                $('input[name="sentimentAll"]').prop("checked", false);
                this.num_ceks = 0;
                this.isUpdateCheck = true;
                console.log(this.num_ceks);
                this.uncheckStream();
                this.getPost();
                this.getPostStast();
                this.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Data berhasil diupdate!',
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            });
        }
      });
    },

    clickStream(obj) {
      var checked = obj.currentTarget.getAttribute("mark");
      var id = obj.currentTarget.getAttribute("stream-id");
      console.log(parseInt(num_cek));
      if (checked == 0) {
        console.log(obj.currentTarget.getAttribute("class"));
        temp[id] = obj.currentTarget.getAttribute("class");
        console.log(temp[id]);
        num_cek++;
        obj.currentTarget.setAttribute("mark", 1);
        obj.currentTarget.setAttribute(
          "class",
          "cbp_tmicon bg-grey klik animated fadeInRight"
        );
        //   $(obj).attr('class','cbp_tmicon bg-grey klik animated fadeInRight');
        $(obj.currentTarget).find("i").attr("class", "fa fa-check m-t-10");
        this.cek_multipel();
      } else {
        console.log(num_cek);
        num_cek--;
        obj.currentTarget.setAttribute("mark", 0);
        var cat = obj.currentTarget.getAttribute("cat");
        // obj.currentTarget.setAttribute('class', temp[id]);
        obj.currentTarget.setAttribute(
          "class",
          "cbp_tmicon bg-light-blue klik"
        );
        console.log("else");
        //   $(obj).attr('class',temp[id]);
        //   $(obj).find("i").attr('class','fa fa-'+cat+' m-t-10');
        $(obj.currentTarget)
          .find("i")
          .attr("class", "fa fa-" + cat + " m-t-10");
        this.cek_multipel();
      }
    },

    StreamSelectAll() {
      if (this.isUpdateCheck) {
        num_cek = 0;
        check_all = 0;
        empty = 1;
        this.isUpdateCheck = false;
      }
      console.log(empty);
      let self = this;
      // let element = document.getElementsByClassName("getID");
      // console.log(element.length)
      $("div#getID").each(function (ind, obj) {
        console.log(ind);
        empty = 0;
        // let checked = parseInt(obj.getAttribute("mark"));
        // let id = obj.getAttribute("stream-id");
        let checked = parseInt($(obj).attr("mark"));
        let id = $(obj).attr("stream-id");

        // $(obj).find("i").attr("class", "fa fa-check m-t-10");
        console.log(check_all);
        console.log(checked);
        if (!check_all) {
          if (!checked) {
            temp[id] = $(obj).attr("class");
            console.log(temp[id]);
            num_cek++;

            $(obj).attr("mark", "1");
            $(obj).attr(
              "class",
              "cbp_tmicon bg-grey klik animated fadeInRight"
            );
            $(obj).find("i").attr("class", "fa fa-check m-t-10");
            $('input[name="sentimentAll"]').attr("jumlah-cek", num_cek);
          }
        } else {
          console.log("else satu");
          if (checked) {
            console.log(temp[id]);
            console.log("else");
            var cat = $(obj).attr("cat");
            num_cek--;

            $(obj).attr("mark", "0");
            $(obj).attr("class", temp[id]);
            $(obj)
              .find("i")
              .attr("class", "fa fa-" + cat + " m-t-10");
          }
        }
      });
      if (!empty) {
        if (!check_all) {
          check_all = 1;
          console.log("if di if empty");
          $('input[name="sentimentAll"]').prop("checked", true);
        } else {
          check_all = 0;
          console.log("else di if empty");
          $('input[name="sentimentAll"]').prop("checked", false);
        }
      } else {
        console.log("else empty");
      }
      console.log(empty);
      self.cek_multipel();
    },

    cek_multipel() {
      // let self = this;
      console.log(num_cek);
      $('input[name="sentimentAll"]').attr("jumlah-cek", num_cek);
      $("#isCheckbox").attr("jumlah-cek", num_cek);

      if (num_cek > 0) {
        $(".multipleaction").show(1000);
        $("#isCheckbox").attr("check-type", "check");
      } else {
        check_all = 0;
        $("#isCheckbox").attr("check-type", "uncheck");
        $('input[name="sentimentAll"]').prop("checked", false);
        $(".multipleaction").hide(1000);
      }
    },

    uncheckStream() {
      // let self = this;
      $("div#getID").each(function (ind, obj) {
        console.log(ind);
        empty = 0;

        let checked = parseInt($(obj).attr("mark"));
        let id = $(obj).attr("stream-id");

        if (checked == 1) {
          temp[id] = "cbp_tmicon klik getID bg-icon-twitter";
          var cat = $(obj).attr("cat");
          $(obj).attr("mark", "0");
          $(obj).attr("class", temp[id]);
          $(obj)
            .find("i")
            .attr("class", "fa fa-" + cat + " m-t-10");
        }
      });

      if (!empty) {
        if (!check_all) {
          check_all = 1;

          $('input[name="sentimentAll"]').prop("checked", true);
        } else {
          check_all = 0;
          $('input[name="sentimentAll"]').prop("checked", false);
        }
      }

      this.cek_multiple();
    },

    cek_multiple() {
      if (num_ceks > 0) {
        $(".multipleaction").show(1000);
      } else {
        // check_all = 0;
        $('input[name="sentimentAll"]').prop("checked", false);
        $(".multipleaction").hide(1000);
      }
    },

    markString: function (content) {
      let kata = this.$route.query.q;
      kata = kata.split(" ");
      kata.forEach(function (word) {
        word = word.trim();
        let reg_exp = new RegExp(word, "igm");
        content = content.replace(
          reg_exp,
          '<mark data-markjs="true" style="background: #ff0 !important;">' +
            word +
            "</mark>"
        );
      });
      return content;
    },
    changeTakes(e) {
      this.takes = e;
      this.offset = e;
      this.getPost();
      // this.getPostStast();
    },
    AppendData(take) {
      let id = take - 1;

      this.isLoadMore = true;
      this.isAppendData = true;
      this.takes = parseInt(take) + this.offset;
      this.getPost();
      let def = $("body #cbp_tmtimeline li#content-" + id + "");
      let offset = "";

      if ($(window).width() > 727) {
        if (take == 9) {
          offset = def.offset().top - 70;
        } else {
          offset = def.offset().top - 440;
        }
      } else {
        if (take == 9) {
          offset = def.offset().top;
        } else {
          offset = def.offset().top - 440;
        }
      }
      // console.log(offset)
      // $([document.documentElement, document.body]).animate({
      //     scrollTop: def.offset().top
      // });
      $([document.documentElement, document.body]).animate({
        scrollTop: offset,
      });

      // console.log($(window).scrollTop())
    },
    changeSort(sort) {
      this.sort = sort;
      this.getPost();
      // this.getPostStast();
    },
    changePers(pers) {
      this.pers = pers;
      this.getPost();
      // this.getPostStast();
    },
    getPost() {
      if (this.isAppendData) {
        this.isLoadMore = true;
      } else {
        this.isLoaderPost = true;
      }
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "posts-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            items: this.takes,
            // sort: this.sort,
            // pers: this.pers,
            // sources: this.source,
            ...(this.sort
              ? {
                  sort: this.sort,
                }
              : {}),
            ...(this.pers
              ? {
                  pers: this.pers,
                }
              : {}),
            ...(this.source
              ? {
                  sources: this.source,
                }
              : {}),
            ...(this.sentiment
              ? {
                  sentiments: this.sentiment,
                }
              : {}),
            ...(this.q
              ? {
                  q: btoa(this.q),
                }
              : {}),
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
          },
        })
        .then((response) => {
          if (response.status === 200) {
            if (response.data.page_info.limit > response.data.page_info.total) {
              this.isStream = true;
            } else {
              this.isStream = false;
            }
            this.posts = response.data.posts;

            this.errorPost = false;
            this.erroredLoadMore = true;
          } else {
            console.log("error");
            this.errorPost = true;
            this.erroredLoadMore = false;
            this.posts = null;
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.isLoaderPost = false;
          this.isLoadMore = false;
        });
    },

    getPostStast() {
      this.isLoader = true;
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "stats-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: this.start,
            to: this.to,
            // items: this.takes,
            // sort: this.sort,
            // pers: this.pers,
            ...(this.topic
              ? {
                  topic: this.topic,
                }
              : {}),
            ...(this.q
              ? {
                  q: btoa(this.q),
                }
              : {}),
          },
        })
        .then((response) => {
          // console.log(response)
          if (response.status === 200) {
            this.post_stast = response.data;
            this.errored = false;
          } else {
            this.errored = true;
            this.post_stast = {
              blog: 0,
              engagement: 0,
              esmr: 0,
              facebook: 0,
              forum: 0,
              instagram: 0,
              media_cetak: 0,
              negatif: 0,
              netral: 0,
              positif: 0,
              total: 0,
              twitter: 0,
              youtube: 0,
            };
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },
  },
  created() {
    // container.scrollTop = container.scrollHeight;
    // if (this.$route.query.start) {
    //     this.start = this.$route.query.start;
    //     this.to = this.$route.query.end;

    // }
    // if (this.$route.query.sources) {
    //     this.source = this.$route.query.sources;

    // }

    // if (this.$route.query.topic) {
    //     this.topic = this.$route.query.topic;

    // }
    // if (this.$route.query.sentiments) {
    //     this.sentiment = this.$route.query.sentiments;
    // }

    if (this.$route.query.start) {
      this.start = this.$route.query.start;
      this.to = this.$route.query.end;
      this.getPost();
      this.getPostStast();
    } else {
      this.getPost();
      this.getPostStast();
    }
  },
  mounted() {
    if (this.$route.query.q != "") {
      this.valueSearch = this.$route.query.q;
    }
  },
  watch: {
    $route() {
      if (this.$route.query.start) {
        this.start = this.$route.query.start;
        this.to = this.$route.query.end;
      }

      this.source = this.$route.query.sources;
      this.sentiment = this.$route.query.sentiments;
      this.q = this.$route.query.q;
      this.topic = this.$route.query.topic;

      // if (this.$route.query.sources == undefined && this.$route.query.sentiments == undefined) {
      //     this.getPostStast();
      // }
      this.getPost();
      this.getPostStast();
      // this.getPost();
    },
  },
};
</script>

<style scoped>
.bg-icon-twitter {
  background-color: #55acee !important;
  color: #fff !important;
}

.bg-icon-facebook {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.bg-icon-youtube {
  background-color: #c4302b !important;
  color: #fff !important;
}

.bg-icon-instagram {
  background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
  color: #fff !important;
}

.bg-icon-blog {
  background: rgb(255, 174, 50) !important;
  color: #fff !important;
}

.cbp_tmicon.bg-icon-forum {
  background: rgb(121, 118, 109) !important;
  color: rgb(255, 255, 255) !important;
}

/* .cbp_tmtimeline>li:first-child .cbp_tmicon {
    /* background: #fff; */
/* color: #fff; */
#post_timeline mark {
  background-color: #ff0 !important;
}
</style>
