<template>
  <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
    <!-- Panel filter waktu -->
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingOne_1">
        <h4 class="panel-title">
          <a
            role="button"
            data-toggle="collapse"
            data-parent="#accordion_1"
            href="#collapseOne_1"
            aria-expanded="true"
            aria-controls="collapseOne_1"
            id="toggleWaktu"
          >
            Filter Berdasarkan
            Waktu
          </a>
        </h4>
      </div>
      <div
        id="collapseOne_1"
        class="panel-collapse collapse show"
        role="tabpanel"
        aria-labelledby="headingOne_1"
      >
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#periode">Periode</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tanggal">Tanggal</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="periode">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row clearfix">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a href="javascript:void(0);" style="text-decoration:none; color:#fff;"></a>
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                      klik="1"
                    >
                      <a
                        href="javascript:void(0);"
                        style="text-decoration:none; color:#fff;!important"
                      >Hari Ini</a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a
                      href="javascript:void(0);"
                      style="text-decoration:none; color:#fff;!important"
                    ></a>
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                      klik="2"
                    >
                      <a
                        href="javascript:void(0);"
                        style="text-decoration:none; color:#fff;!important"
                      >Kemarin</a>
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a
                      href="javascript:void(0);"
                      style="text-decoration:none; color:#fff;!important"
                    ></a>
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                      klik="3"
                    >
                      <a
                        href="javascript:void(0);"
                        style="text-decoration:none; color:#fff;!important"
                      >7 Hari Terakhir</a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a
                      href="javascript:void(0);"
                      style="text-decoration:none; color:#fff;!important"
                    ></a>
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                      klik="4"
                    >
                      <a
                        href="javascript:void(0);"
                        style="text-decoration:none; color:#fff;!important"
                      >1 Bulan Terakhir</a>
                    </div>
                  </div>
                </div>

                <div class="row clearfix">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a
                      href="javascript:void(0);"
                      style="text-decoration:none; color:#fff;!important"
                    ></a>
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                      klik="5"
                    >
                      <a
                        href="javascript:void(0);"
                        style="text-decoration:none; color:#fff;!important"
                      >3 Bulan Terakhir</a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a
                      href="javascript:void(0);"
                      style="text-decoration:none; color:#fff;!important"
                    ></a>
                    <div
                      class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                      klik="6"
                    >
                      <a
                        href="javascript:void(0);"
                        style="text-decoration:none; color:#fff;!important"
                      >Semua</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              role="tabpanel"
              class="tab-pane animated fadeIn active"
              id="tanggal"
              aria-expanded="true"
            >
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row clearfix">
                  <div class="form-group">
                    <div class="form-line">
                      <input
                        type="text"
                        class="datepicker form-control"
                        placeholder="Dari Tanggal"
                        id="tgl_awal"
                        data-dtp="dtp_ocNP0"
                      />
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="form-group">
                    <div class="form-line">
                      <input
                        type="text"
                        class="datepicker form-control"
                        placeholder="Sampai Tanggal"
                        id="tgl_akhir"
                        data-dtp="dtp_6Z8qL"
                      />
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <button
                    type="submit"
                    class="btn btn-raised btn-success waves-effect"
                    onclick="periodeTanggal()"
                  >Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- panel filter channel -->
    <div v-if="page != 'map'" class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingTwo_1">
        <h4 class="panel-title">
          <a
            class="collapsed"
            role="button"
            data-toggle="collapse"
            data-parent="#accordion_1"
            href="#collapseTwo_1"
            aria-expanded="false"
            aria-controls="collapseTwo_1"
            id="toggleChannel"
          >Filter Berdasarkan Channel</a>
        </h4>
      </div>
      <div
        id="collapseTwo_1"
        class="panel-collapse collapse"
        role="tabpanel"
        aria-labelledby="headingTwo_1"
      >
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#sosmed">
                Sosial
                Media
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#website">Website</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="sosmed">
              <div class="row clearfix">
                <div class="col-sm-3 text-center social_media_table m-t-10">
                  <span class="list-icon facebook">
                    <i class="fa fa-facebook"></i>
                  </span>
                  <br />
                  <span style="font-size:12px;">Facebook</span>
                  <br />
                  <input
                    type="checkbox"
                    style="opacity:1; position:inherit; left:0; !important"
                    name="source[]"
                    class="check-source"
                    value="8"
                    checked
                  />
                </div>

                <div class="col-sm-3 text-center social_media_table m-t-10">
                  <span class="list-icon g-bg-blush2">
                    <i class="fa fa-instagram"></i>
                  </span>
                  <br />
                  <span style="font-size:12px;">Instagram</span>
                  <br />
                  <input
                    type="checkbox"
                    style="opacity:1; position:inherit; left:0; !important"
                    name="source[]"
                    class="check-source"
                    value="7"
                    checked
                  />
                </div>

                <div class="col-sm-3 text-center social_media_table m-t-10">
                  <span class="list-icon twitter-table">
                    <i class="fa fa-twitter"></i>
                  </span>
                  <br />
                  <span style="font-size:12px;">Twitter</span>
                  <br />
                  <input
                    type="checkbox"
                    style="opacity:1; position:inherit; left:0; !important"
                    name="source[]"
                    class="check-source"
                    value="1"
                    checked
                  />
                </div>

                <div class="col-sm-3 text-center social_media_table m-t-10">
                  <span class="list-icon youtube">
                    <i class="fa fa-youtube"></i>
                  </span>
                  <br />
                  <span style="font-size:12px;">Youtube</span>
                  <br />
                  <input
                    type="checkbox"
                    style="opacity:1; position:inherit; left:0; !important"
                    name="source[]"
                    class="check-source"
                    value="6"
                    checked
                  />
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn" id="website">
              <div class="row clearfix">
                <div class="col-sm-6 text-center social_media_table m-t-10">
                  <span class="list-icon" style="background:#79766d; color:#fff;!important">
                    <i class="fa fa-comments-o"></i>
                  </span>
                  <br />
                  <span style="font-size:12px;">Forum</span>
                  <br />
                  <input
                    type="checkbox"
                    style="opacity:1; position:inherit; left:0; !important"
                    name="source[]"
                    class="check-source"
                    value="3"
                    checked
                  />
                </div>
                <div class="col-sm-6 text-center social_media_table m-t-10">
                  <span class="list-icon" style="background:#ffae32; color:#fff;!important">
                    <i class="fa fa-rss"></i>
                  </span>
                  <br />
                  <span style="font-size:12px;">Blog</span>
                  <br />
                  <input
                    type="checkbox"
                    style="opacity:1; position:inherit; left:0; !important"
                    name="source[]"
                    class="check-source"
                    value="2"
                    checked
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- panel filter topik -->
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingThree_1">
        <h4 class="panel-title">
          <a
            class="collapsed"
            role="button"
            data-toggle="collapse"
            data-parent="#accordion_1"
            href="#collapseThree_1"
            aria-expanded="false"
            aria-controls="collapseThree_1"
            id="toggleTopik"
          >Filter Berdasarkan Topik</a>
        </h4>
      </div>
      <div
        id="collapseThree_1"
        class="panel-collapse collapse"
        role="tabpanel"
        aria-labelledby="headingThree_1"
      >
        <div class="panel-body" style="padding: 10px">
          <div class="demo-checkbox">
            <div style="float: right;margin-top: -15px">
              <a role="button" onclick="checkAllTopik()" style="color:#0275d8;">
                <small>
                  Semua
                  Topik
                </small>
              </a>
              |
              <a role="button" onclick="UncheckAllTopik()" style="color:#0275d8;">
                <small>
                  Hapus Semua
                  Topik
                </small>
              </a>
            </div>
            <br />
            <input
              type="checkbox"
              id="Lainnya"
              name="topic[]"
              value="0"
              class="filled-in check-topik"
              checked
            />
            <label for="Lainnya">Lainnya</label>
            <input
              type="checkbox"
              id="Kemdikbud"
              name="topic[]"
              value="3"
              class="filled-in check-topik"
              checked
            />
            <label for="Kemdikbud">Kemdikbud</label>
            <input
              type="checkbox"
              id="Mendikbud"
              name="topic[]"
              value="4"
              class="filled-in check-topik"
              checked
            />
            <label for="Mendikbud">Mendikbud</label>
            <input
              type="checkbox"
              id="Ujian Nasional"
              name="topic[]"
              value="5"
              class="filled-in check-topik"
              checked
            />
            <label for="Ujian Nasional">Ujian Nasional</label>
            <input
              type="checkbox"
              id="Kebudayaan"
              name="topic[]"
              value="7"
              class="filled-in check-topik"
              checked
            />
            <label for="Kebudayaan">Kebudayaan</label>
            <input
              type="checkbox"
              id="PPDB"
              name="topic[]"
              value="8"
              class="filled-in check-topik"
              checked
            />
            <label for="PPDB">PPDB</label>
            <input
              type="checkbox"
              id="Zonasi"
              name="topic[]"
              value="10"
              class="filled-in check-topik"
              checked
            />
            <label for="Zonasi">Zonasi</label>
            <input
              type="checkbox"
              id="Digitalisasi Sekolah"
              name="topic[]"
              value="11"
              class="filled-in check-topik"
              checked
            />
            <label for="Digitalisasi Sekolah">Digitalisasi Sekolah</label>
            <input
              type="checkbox"
              id="Gaji Guru"
              name="topic[]"
              value="12"
              class="filled-in check-topik"
              checked
            />
            <label for="Gaji Guru">Gaji Guru</label>
            <input
              type="checkbox"
              id="Nadiem Makarim"
              name="topic[]"
              value="13"
              class="filled-in check-topik"
              checked
            />
            <label for="Nadiem Makarim">Nadiem Makarim</label>
            <input
              type="checkbox"
              id="SNMPTN"
              name="topic[]"
              value="14"
              class="filled-in check-topik"
              checked
            />
            <label for="SNMPTN">SNMPTN</label>
            <input
              type="checkbox"
              id="SBMPTN"
              name="topic[]"
              value="15"
              class="filled-in check-topik"
              checked
            />
            <label for="SBMPTN">SBMPTN</label>
            <input
              type="checkbox"
              id="Bidikmisi"
              name="topic[]"
              value="16"
              class="filled-in check-topik"
              checked
            />
            <label for="Bidikmisi">Bidikmisi</label>
            <input
              type="checkbox"
              id="KIP Kuliah"
              name="topic[]"
              value="17"
              class="filled-in check-topik"
              checked
            />
            <label for="KIP Kuliah">KIP Kuliah</label>
            <input
              type="checkbox"
              id="Bullying"
              name="topic[]"
              value="18"
              class="filled-in check-topik"
              checked
            />
            <label for="Bullying">Bullying</label>
            <input
              type="checkbox"
              id="UU Guru dan Dosen"
              name="topic[]"
              value="19"
              class="filled-in check-topik"
              checked
            />
            <label for="UU Guru dan Dosen">UU Guru dan Dosen</label>
            <input
              type="checkbox"
              id="Lembaga Pendidik dan Tenaga Kependidikan"
              name="topic[]"
              value="20"
              class="filled-in check-topik"
              checked
            />
            <label
              for="Lembaga Pendidik dan Tenaga Kependidikan"
            >Lembaga Pendidik dan Tenaga Kependidikan</label>
            <input
              type="checkbox"
              id="Ospek"
              name="topic[]"
              value="21"
              class="filled-in check-topik"
              checked
            />
            <label for="Ospek">Ospek</label>
            <input
              type="checkbox"
              id="NIDN"
              name="topic[]"
              value="22"
              class="filled-in check-topik"
              checked
            />
            <label for="NIDN">NIDN</label>
            <input
              type="checkbox"
              id="Rektor"
              name="topic[]"
              value="23"
              class="filled-in check-topik"
              checked
            />
            <label for="Rektor">Rektor</label>
            <input
              type="checkbox"
              id="Akreditasi Perguruan Tinggi"
              name="topic[]"
              value="24"
              class="filled-in check-topik"
              checked
            />
            <label for="Akreditasi Perguruan Tinggi">Akreditasi Perguruan Tinggi</label>
            <input
              type="checkbox"
              id="Hari Guru"
              name="topic[]"
              value="25"
              class="filled-in check-topik"
              checked
            />
            <label for="Hari Guru">Hari Guru</label>
            <input
              type="checkbox"
              id="Gerakan Seniman Masuk Sekolah"
              name="topic[]"
              value="26"
              class="filled-in check-topik"
              checked
            />
            <label for="Gerakan Seniman Masuk Sekolah">Gerakan Seniman Masuk Sekolah</label>
            <button class="btn btn-success" id="submit-check-topik" style="color:white">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  props: {
    page: String,
  },
  mounted: function () {
    $("#toggleWaktu").on("click", function () {
      $("#collapseTwo_1").removeClass("show");
      // $("#collapseTwo_1").collapse("hide");
      $("#collapseThree_1").removeClass("show");
      // $("#collapseThree_1").collapse("hide");
    });

    $("#toggleChannel").on("click", function () {
      $("#collapseOne_1").removeClass("show");
      // $("#collapseOne_1").collapse("hide");
      $("#collapseThree_1").removeClass("show");
      // $("#collapseThree_1").collapse("hide");
    });

    $("#toggleTopik").on("click", function () {
      $("#collapseOne_1").removeClass("show");
      // $("#collapseOne_1").collapse("hide");
      $("#collapseTwo_1").removeClass("show");
      // $("#collapseTwo_1").collapse("hide");
    });
  },
};
</script>