<template>
  <div :class="'alert '+type " role="alert">{{ text }}</div>
</template>

<script>
export default {
  // props: {
  //   text: String,
  //   type: String,
  // },
  props: ["text", "type", "data"],
  mounted() {
    console.log(this.data);
  },
};
</script>