<template>
<div class="alert alert-danger" style="text-align:center;">
    Data yang anda cari tidak ditemukan. Klik
    <a href="UnggahanTerbaru">tautan ini</a>
    <a>untuk kembali ke halaman awal.</a>
</div>
</template>

<script>
export default {
    name: "AlertError",
};
</script>

<style>
</style>
