<template>
  <div class="average-mention" style="height: 100% !important">
    <div class="col-sm-12">
      <i class="zmdi zmdi-trending-up" style="padding-right: 10px"></i>
      <b>Rata-rata Mentions</b>
    </div>
    <carousel
      :per-page="1"
      :mouse-drag="false"
      :autoplay="true"
      :loop="true"
      :speed="1300"
      easing="ease"
      :autoplayTimeout="4000"
    >
      <slide>
        <!-- <div class="col-sm-12 mt-3">
                <h3 class="m-t-0" style="font-size: 20px">
                    <i class="zmdi zmdi-calendar" style="padding-right: 10px; font-size: 20px"></i>{{ formatNumber(parseInt(dataset ? dataset.avg_weekly : '')) }}
                </h3>
                <p class="text-muted">Mentions per hari</p>
                <div class="progress">
                    <div class="progress-bar l-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <small v-if="dataset.past_avg_weekly == 0 &&  dataset.avg_weekly == 0" class="mentions_growth">Tidak ada perubahan</small>
                <small v-else class="mentions_growth" :class="
                dataset.past_avg_weekly < dataset.avg_weekly
                  ? 'text-danger'
                  : 'text-success'
              ">
                    <span v-html="
                  dataset.past_avg_weekly < dataset.avg_weekly
                    ? 'Turun'
                    : 'Naik'
                ">
                    </span>
                    {{
                Math.abs(
                  parseInt(
                    ((dataset.past_avg_weekly - dataset.avg_weekly) /
                      dataset.avg_weekly) *
                      100
                  )
                ) + "%"
              }}
                    dari periode lalu</small>
            </div> -->
        <div class="col-sm-12 mt-3">
          <h3 class="m-t-0" style="font-size: 20px">
            <i class="zmdi zmdi-calendar" style="padding-right: 10px; font-size: 20px"></i
            >{{ formatNumber(parseInt(dataset ? dataset.avg_weekly : "")) }}
          </h3>
          <p class="text-muted">Mentions per hari</p>
          <div class="progress">
            <div
              class="progress-bar l-green"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 0%"
            ></div>
          </div>
          <small
            v-if="dataset.past_avg_weekly == 0 && dataset.avg_weekly == 0"
            class="mentions_growth"
            >Tidak ada perubahan</small
          >
          <small
            v-else
            class="mentions_growth"
            :class="
              totalAvgWeekly == 0
                ? 'text-navy'
                : dataset.past_avg_weekly > dataset.avg_weekly
                ? 'text-danger'
                : 'text-success'
            "
          >
            <span
              v-html="
                totalAvgWeekly == 0
                  ? ''
                  : dataset.past_avg_weekly > dataset.avg_weekly
                  ? 'Turun'
                  : 'Naik'
              "
            >
            </span>
            {{
              totalAvgWeekly == 0
                ? "Tidak ada perubahan"
                : totalAvgWeekly + "% dari periode lalu"
            }}
          </small>
        </div>
      </slide>
      <slide>
        <div class="row">
          <!-- <div class="col-sm-12 mt-3">
                    <h3 class="m-t-0" style="font-size: 20px">
                        <i class="zmdi zmdi-time" style="padding-right: 10px; font-size: 20px"></i>{{ formatNumber(parseInt(dataset.avg_hourly)) }}
                    </h3>
                    <p class="text-muted">Mentions per jam</p>
                    <div class="progress">
                        <div class="progress-bar l-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <small class="mentions_growth" v-if="dataset.past_avg_hourly == 0 && dataset.avg_hourly == 0">Tidak ada perubahan</small>
                    <small v-else class="mentions_growth" :class="
                dataset.past_avg_hourly < dataset.avg_hourly
                  ? 'text-danger'
                  : 'text-success'
              "><span v-html="
                  dataset.past_avg_hourly < dataset.avg_hourly
                    ? 'Turun'
                    : 'Naik'
                ">
                        </span>
                        {{
                Math.abs(
                  parseInt(
                    ((dataset.past_avg_hourly - dataset.avg_hourly) /
                      dataset.avg_hourly) *
                      100
                  )
                ) + "%"
              }}
                        dari periode lalu</small>
                </div> -->
          <div class="col-sm-12 mt-3">
            <h3 class="m-t-0" style="font-size: 20px">
              <i class="zmdi zmdi-time" style="padding-right: 10px; font-size: 20px"></i
              >{{ formatNumber(parseInt(dataset.avg_hourly)) }}
            </h3>
            <p class="text-muted">Mentions per jam</p>
            <div class="progress">
              <div
                class="progress-bar l-green"
                role="progressbar"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 0%"
              ></div>
            </div>
            <small
              class="mentions_growth"
              v-if="dataset.past_avg_hourly == 0 && dataset.avg_hourly == 0"
              >Tidak ada perubahan</small
            >
            <small
              v-else
              class="mentions_growth"
              :class="
                totalAvgHourly == 0
                  ? 'text-navy'
                  : dataset.past_avg_hourly > dataset.avg_hourly
                  ? 'text-danger'
                  : 'text-success'
              "
              ><span
                v-html="
                  totalAvgHourly == 0
                    ? ''
                    : dataset.past_avg_hourly > dataset.avg_hourly
                    ? 'Turun'
                    : 'Naik'
                "
              >
              </span>
              {{
                totalAvgHourly == 0
                  ? "Tidak ada perubahan"
                  : totalAvgHourly + "% dari periode lalu"
              }}
            </small>
          </div>
        </div>
      </slide>
    </carousel>

    <!-- <div id="avgcard" class="carousel slide twitter-feed" data-ride="carousel" style="background-color: white; color: black; height: 100% !important">
        <div class="col-sm-12">
            <i class="zmdi zmdi-trending-up" style="padding-right: 10px"></i>
            <b>Rata-rata Mentions</b>
        </div>
        <ul class="carousel-indicators" style="margin-top: 10px">
            <li data-target="#avgcard" data-slide-to="0" class="active"></li>
            <li data-target="#avgcard" data-slide-to="1"></li>
        </ul>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item row active" style="margin-top: 5px" data-ride="carousel">
                <div class="col-sm-12 mt-3">
                    <h3 class="m-t-0" style="font-size: 20px">
                        <i class="zmdi zmdi-calendar" style="padding-right: 10px; font-size: 20px"></i>{{ formatNumber(parseInt(dataset ? dataset.avg_weekly : '')) }}
                    </h3>
                    <p class="text-muted">Mentions per hari</p>
                    <div class="progress">
                        <div class="progress-bar l-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <small class="mentions_growth" :class="
                dataset.past_avg_weekly < dataset.avg_weekly
                  ? 'text-danger'
                  : 'text-success'
              ">
                        <span v-html="
                  dataset.past_avg_weekly < dataset.avg_weekly
                    ? 'Turun'
                    : 'Naik'
                ">
                        </span>
                        {{
                Math.abs(
                  parseInt(
                    ((dataset.past_avg_weekly - dataset.avg_weekly) /
                      dataset.avg_weekly) *
                      100
                  )
                ) + "%"
              }}
                        dari periode lalu</small>
                </div>
            </div>
            <div class="carousel-item row" style="margin-top: 5px">
                <div class="col-sm-12 mt-3">
                    <h3 class="m-t-0" style="font-size: 20px">
                        <i class="zmdi zmdi-time" style="padding-right: 10px; font-size: 20px"></i>{{ formatNumber(parseInt(dataset.avg_hourly)) }}
                    </h3>
                    <p class="text-muted">Mentions per jam</p>
                    <div class="progress">
                        <div class="progress-bar l-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <small class="mentions_growth" :class="
                dataset.past_avg_hourly < dataset.avg_hourly
                  ? 'text-danger'
                  : 'text-success'
              "><span v-html="
                  dataset.past_avg_hourly < dataset.avg_hourly
                    ? 'Turun'
                    : 'Naik'
                ">
                        </span>
                        {{
                Math.abs(
                  parseInt(
                    ((dataset.past_avg_hourly - dataset.avg_hourly) /
                      dataset.avg_hourly) *
                      100
                  )
                ) + "%"
              }}
                        dari periode lalu</small>
                </div>
            </div>
        </div>
    </div> -->
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  name: "AverageMention",
  props: ["dataset"],
  components: {
    Carousel,
    Slide,
  },
  methods: {
    intToString(value) {
      var suffixes = ["", "k", "m", "b", "t"];
      var suffixNum = Math.floor(("" + value).length / 3);
      var shortValue = parseFloat(
        (suffixNum != 0 ? value / Math.pow(1000, suffixNum) : value).toPrecision(2)
      );
      if (value < 999) {
        shortValue = parseFloat(value);
        return shortValue;
      } else {
        if (shortValue % 1 != 0) {
          shortValue = shortValue.toFixed(2);
        }
        return shortValue + suffixes[suffixNum];
      }
    },

    formatNumber(num, fixed) {
      if (num === null) {
        return null;
      } // terminate early
      if (num === 0) {
        return "0";
      } // terminate early
      fixed = !fixed || fixed < 0 ? 0 : fixed; // number of decimal places to show
      var b = num.toPrecision(2).split("e"), // get power
        k = b.length === 1 ? 0 : Math.floor(Math.min(b[1].slice(1), 14) / 3), // floor at decimals, ceiling at trillions
        c =
          k < 1 ? num.toFixed(0 + fixed) : (num / Math.pow(10, k * 3)).toFixed(1 + fixed), // divide by power
        d = c < 0 ? c : Math.abs(c), // enforce -0 is 0
        e = d + ["", "K", "M", "B", "T"][k]; // append power
      return e.replace(".", ",");
    },
  },

  computed: {
    totalAvgHourly() {
      let total_avg_hourly = Math.abs(
        parseInt(
          ((this.dataset.past_avg_hourly - this.dataset.avg_hourly) /
            this.dataset.past_avg_hourly) *
            100
        )
      );
      return isNaN(total_avg_hourly) ? 0 : total_avg_hourly;
    },

    totalAvgWeekly() {
      let total_avg_weekly = Math.abs(
        parseInt(
          ((this.dataset.past_avg_weekly - this.dataset.avg_weekly) /
            this.dataset.past_avg_weekly) *
            100
        )
      );
      // return total_avg_weekly;
      return isNaN(total_avg_weekly) ? 0 : total_avg_weekly;
    },
  },
};
</script>

<style scoped>
.mentions_growth.text-navy {
  color: rgb(96, 125, 139);
}
.carousel-indicators li {
  background-color: #9f9f9f !important;
}

.carousel-indicators .active {
  background-color: #2d2d2d !important;
}

ul.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: flex-end;
  border-radius: 0.25rem;
}
</style>
