<template>
  <div :class="'col-sm-'+cardColumn">
    <div class="card">
      <div class="body">
        <div class="row clearfix">{{ cardTitle }}</div>
        <div class="row clearfix">
          <div class="col-sm-12 text-center social_media_table m-t-10">
            <span class="list-icon g-bg-blue">
              <i class="fa fa-globe"></i>
            </span>
            <br />
            <span style="font-size:12px;">{{ cardSubtitle }}</span>
            <br />
            <span style="text-align:center !important">1200</span>
            <br />
            <input
              v-if="isCheckbox"
              type="checkbox"
              style="opacity:1; position:inherit; left:0; !important"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //   props: ["cardTitle", "cardSubtitle", "cardColumn"],
  props: {
    cardTitle: String,
    cardSubtitle: String,
    cardColumn: String,
    isCheckbox: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style>
</style>