<template>
  <div :id="id" class="graph" style="height: 410px"></div>
</template>

<script>
import Highcharts from "highcharts/highcharts.js";
var chart_config = "";
export default {
  props: ["id", "type"],
  methods: {
    LoadChart: function() {
      chart_config = {
        chart: {
          type: this.type,
        },
        title: {
          text: "",
        },
        credits: {
          enabled: false,
        },
        xAxis: [
          {
            categories: [
              "2020-01-01",
              "2020-01-02",
              "2020-01-03",
              "2020-01-04",
              "2020-01-05",
              "2020-01-06",
              "2020-01-07",
              "2020-01-08",
              "2020-01-09",
              "2020-01-10",
              "2020-01-11",
              "2020-01-12",
              "2020-01-13",
              "2020-01-14",
              "2020-01-15",
              "2020-01-16",
              "2020-01-17",
              "2020-01-18",
              "2020-01-19",
              "2020-01-20",
              "2020-01-21",
              "2020-01-22",
              "2020-01-23",
              "2020-01-24",
              "2020-01-25",
              "2020-01-26",
              "2020-01-27",
              "2020-01-28",
              "2020-01-29",
              "2020-01-30",
              "2020-01-31",
            ],
            crosshair: true,
          },
        ],
        yAxis: [
          {
            // Primary yAxis
            title: {
              text: "Mentions",
            },
            labels: {
              format: "{value}",
            },
          },
          {
            // Secondary yAxis
            labels: {
              format: "{value}",
            },
            title: {
              text: "Reach",
            },
            opposite: true,
          },
        ],
        tooltip: {
          shared: true,
        },
        legend: {
          layout: "horizontal",
          align: "center",
          verticalAlign: "bottom",
        },
        plotOptions: {
          series: {
            label: {
              connectorAllowed: false,
            },
          },
        },

        series: [
          {
            name: "Mentions",
            data: [
              43934,
              52503,
              57177,
              69658,
              97031,
              119931,
              137133,
              154175,
              43934,
              52503,
              57177,
              69658,
              97031,
              119931,
              137133,
              154175,
              43934,
              52503,
              57177,
              69658,
              97031,
              119931,
              137133,
              154175,
              43934,
              52503,
              57177,
              69658,
              97031,
              119931,
              137133,
            ],
            color: "#89658f",
          },
          {
            name: "Reach",
            data: [
              24916,
              24064,
              29742,
              29851,
              32490,
              30282,
              38121,
              40434,
              24916,
              24064,
              29742,
              29851,
              32490,
              30282,
              38121,
              40434,
              24916,
              24064,
              29742,
              29851,
              32490,
              30282,
              38121,
              40434,
              24916,
              24064,
              29742,
              29851,
              32490,
              30282,
              38121,
            ],
            color: "#f48c21",
            yAxis: 1,
          },
        ],
      };
      new Highcharts.chart(this.id, chart_config);
    },
  },
  mounted: function() {
    this.LoadChart();
  },
};
</script>
