<template>
<div :id="id" :style="'height:'+heightChart"></div>
</template>

<script>
import Highcharts from "highcharts/highcharts.js";

export default {
    props: ["id", "categories", "series", "dataset", "heightChart"],
    methods: {
        HC_Config: function () {
            let self = this;
            var chart_config = {
                chart: {
                    type: "column",
                },
                title: {
                    text: "",
                },

                xAxis: {
                    categories: this.dataset ? this.dataset.categories : '',
                },
                yAxis: {
                    title: {
                        text: "",
                    },
                    labels: {
                        formatter: function () {
                            if (this.value >= 1000 && this.value <= 999999) {
                                return this.value / 1000 + "K"
                            } else if (this.value >= 1000000 && this.value < 999999999) {
                                return this.value / 1000000 + "M"
                            } else if (this.value >= 1000000000) {
                                return this.value / 1000000000 + "B"
                            } else {
                                return this.value
                            }
                        },
                    },
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                        },
                        point: {
                            events: {
                                click: function () {
                                    let query = {};
                                    if (
                                        this.category == "WWE" ||
                                        this.category == "Kemdikbud" ||
                                        this.category == "Wrestlemania" ||
                                        this.category == "AEW"
                                    ) {
                                        query.topic = this.category;
                                    } else {
                                        query.q = this.category;
                                    }
                                    // query = {
                                    //     source: btoa(this.category),
                                    // };

                                    self.$router.push({
                                        path: "/UnggahanTerbaru",
                                        query: query,
                                    });
                                },
                            },
                        },
                    },
                },
                credits: {
                    enabled: false,
                },
                series: this.dataset.series,
            };
            return chart_config;
        },
    },
    mounted: function () {
        Highcharts.setOptions({
            lang: {
                numericSymbols: null, //otherwise by default ['k', 'M', 'G', 'T', 'P', 'E']
            },
        });
        new Highcharts.chart(this.id, this.HC_Config());
    },
};
</script>
