<template>
  <div>
    <table
      class="table table-hover"
      v-bind:class="type == 'datatable' ? 'table-bordered table-striped' : ''"
      :id="id"
      style="max-height: 300px"
    >
      <thead>
        <tr>
          <th
            v-for="(header, index) in headers"
            :key="index"
            :width="header.width"
          >
            {{ header.title }}
          </th>
        </tr>
      </thead>
      <tbody id="dashboard_table_tbody">
        <tr v-if="type != 'datatable'">
          <td v-if="items == null" colspan="3" class="text-center">
            Data tidak ditemukan !
          </td>
        </tr>
        <tr v-for="(item, i) in dataItems" :key="i">
          <td v-for="(col, ind) in headers" :key="ind">
            <span v-if="col.type === 'icon'">
              <span
                v-if="item[col.key] === 'blog'"
                class="list-icon bg-icon-blog"
                ><i class="fa fa-rss"></i
              ></span>
              <span
                v-else-if="item[col.key] === 'forum'"
                class="list-icon bg-icon-forum"
                ><i class="fa fa-comments-o"></i
              ></span>
              <span v-else class="list-icon" :class="'bg-icon-' + item[col.key]"
                ><i :class="'fa fa-' + item[col.key]"></i
              ></span>
            </span>
            <span v-if="col.type === 'number'">{{ i + 1 }}</span>
            <span v-if="col.type === 'link'" v-html="item[col.key]"> </span>
            <span
              class="label"
              :class="
                item[col.key] == 'netral'
                  ? 'label-info'
                  : item[col.key] == 'positif'
                  ? 'label-success'
                  : 'label-danger'
              "
              v-if="col.type === 'label'"
              v-html="item[col.key]"
            >
            </span>
            <span v-if="col.type === 'text'" v-html="item[col.key]"></span>
            <span v-if="col.type === 'content'">
              <div class="row clearfix">
                <div class="col-11" v-html="item[col.key]"></div>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="..." v-if="type == 'table-paging'" class="mt-3">
      <ul class="pagination">
        <li
          class="page-item"
          :class="
            !$route.query.page || $route.query.page == 1 ? 'disabled' : ''
          "
        >
          <a @click="previousPage" class="page-link" href="javascript:void(0)"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          v-for="x in Math.ceil(totalData / 10)"
          :key="x"
          :class="$route.query.page == x ? 'active' : ''"
        >
          <a
            @click="changePage"
            class="page-link"
            href="javascript:void(0)"
            :data-page="x"
            >{{ x }} <span class="sr-only">(current)</span></a
          >
        </li>
        <li
          class="page-item"
          :class="
            $route.query.page == Math.ceil(totalData / 10) ? 'disabled' : ''
          "
        >
          <a @click="nextPage" class="page-link" href="javascript:void(0)"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import $ from "jquery";
import datatables from "datatables.net-bs4";
import moment from "moment";
$.datatables = datatables;
export default {
  // props: ["id", "headers", "dataItems", "type"],
  props: {
    id: {
      type: String,
    },
    headers: Array,
    // dataset: Array,
    items: Array,

    type: String,
    tablePage: {
      type: String,
      default: "",
    },
    searching: {
      type: Boolean,
      default: false,
    },
    bLengthChange: {
      type: Boolean,
      default: false,
    },
    ordering: {
      type: Boolean,
      default: true,
    },
    info: {
      type: Boolean,
      default: true,
    },
    isNumber: {
      type: Boolean,
      default: true,
    },
    widthTable: {
      type: String,
    },
    totalData: {
      type: Number,
      default: 0,
    },
    pageLength: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      dataItems: this.items,
    };
  },
  name: "DataTable",
  methods: {
    previousPage() {
      var query = {};

      if ("start" in this.$route.query) {
        query.start = this.$route.query.start;
      } else {
        query.start = moment(new Date())
          .subtract(6, "days")
          .format("YYYY-MM-DD 00:00:00");
      }
      if ("end" in this.$route.query) {
        query.end = this.$route.query.end;
      } else {
        query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
      }
      query.sources = this.$route.query.sources;
      query.topic = this.$route.query.topic;
      query.pers = this.$route.query.pers;
      query.page = parseInt(this.$route.query.page - 1);
      this.updateUrl(query);
    },
    nextPage() {
      var query = {};

      if ("start" in this.$route.query) {
        query.start = this.$route.query.start;
      } else {
        query.start = moment(new Date())
          .subtract(6, "days")
          .format("YYYY-MM-DD 00:00:00");
      }
      if ("end" in this.$route.query) {
        query.end = this.$route.query.end;
      } else {
        query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
      }
      query.sources = this.$route.query.sources;
      query.topic = this.$route.query.topic;
      query.pers = this.$route.query.pers;
      query.page = parseInt(this.$route.query.page) + 1;
      this.updateUrl(query);
    },
    changePage(obj) {
      let page = obj.currentTarget.getAttribute("data-page");
      var query = {};

      if ("start" in this.$route.query) {
        query.start = this.$route.query.start;
      } else {
        query.start = moment(new Date())
          .subtract(6, "days")
          .format("YYYY-MM-DD 00:00:00");
      }
      if ("end" in this.$route.query) {
        query.end = this.$route.query.end;
      } else {
        query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
      }
      query.sources = this.$route.query.sources;
      query.topic = this.$route.query.topic;
      query.pers = this.$route.query.pers;
      query.page = page;
      this.updateUrl(query);
    },
    updateUrl(query) {
      this.$router.replace({
        query: query,
        // start: this.$route.query.start,
        // end: this.$route.query.end,
        // sources: this.$route.query.souces,
        // sentiments: source,
      });
    },
    HC_Config: function () {
      let config = {
        searching: this.searching,
        pageLength: this.pageLength ? 5 : 10,
        lengthMenu: [5, 10, 25, 50, 75, 100],
        bLengthChange: this.bLengthChange,
        ordering: this.ordering,
        info: this.info,
        language: {
          processing: "Mohon tunggu ...",
          search: "Cari",
          lengthMenu: "Menampilkan _MENU_ baris",
          zeroRecords: "Tidak dapat ditemukan",
          infoEmpty: "Tidak ada data yang dapat ditampilkan",
          infoFiltered: " (terfilter dari _MAX_ baris)",
          paginate: {
            first: "Pertama",
            last: "Terakhir",
            next: "Selanjutnya",
            previous: "Sebelumnya",
          },
        },
      };
      return config;
    },
  },
  created() {},
  mounted: function () {
    $("#" + this.id).DataTable(this.HC_Config());
    $("body table#socmed_datatable_influencer tr th").removeAttr("style");
    $("body table#wesite_datatable_influencer tr th").removeAttr("style");
  },
};
</script>

<style>
.list-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  line-height: 40px;
  color: #fff !important;
  text-align: center !important;
}

.g-bg-blush2 {
  background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
  color: #fff !important;
}

.bg-icon-twitter {
  background-color: #55acee !important;
  color: #fff !important;
}

.bg-icon-facebook {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.bg-icon-youtube {
  background-color: #c4302b !important;
  color: #fff !important;
}

.bg-icon-instagram {
  background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
  color: #fff !important;
}

.bg-icon-blog {
  background: rgb(255, 174, 50) !important;
  color: #fff !important;
}

.bg-icon-forum {
  background: rgb(121, 118, 109) !important;
  color: rgb(255, 255, 255) !important;
}
</style>
