<template>
  <div :id="id" class="graph" style="height: 400px"></div>
</template>

<script>
import Highcharts from "highcharts/highcharts.js";
export default {
  props: {
    id: String,
  },
  methods: {
    LoadChart: function() {
      Highcharts.chart(this.id, {
        chart: {
          type: "pie",
        },
        credits: {
          enabled: false,
        },
        title: {
          text: "",
        },
        tooltip: {
          pointFormat: "{series.name}: <b>{point.y:.1f}</b>",
        },
        plotOptions: {
          pie: {
            // size: 200,
            // center : ['50%','50%'],
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              format: "{point.percentage:.0f}%",
              distance: -20,
            },
            colorByPoint: true,
            showInLegend: true,
          },
        },
        legend: {
          align: "center",
          layout: "horizontal",
          verticalAlign: "bottom",
          y: 20,
        },
        series: [
          {
            name: "Mentions",
            colorByPoint: true,
            innerSize: this.innersize,

            data: [
              {
                name: "A",
                y: 10,
              },
              {
                name: "B",
                y: 2,
              },
              {
                name: "C",
                y: 4,
              },
              {
                name: "D",
                y: 6,
              },
              {
                name: "E",
                y: 11,
              },
              {
                name: "F",
                y: 10,
              },
              {
                name: "G",
                y: 9,
              },
              {
                name: "H",
                y: 1,
              },
              {
                name: "I",
                y: 22,
              },
              {
                name: "J",
                y: 30,
              },
              {
                name: "K",
                y: 12,
              },
              {
                name: "L",
                y: 15,
              },
              {
                name: "M",
                y: 22,
              },
              {
                name: "N",
                y: 19,
              },
              {
                name: "O",
                y: 24,
              },
              {
                name: "P",
                y: 21,
              },
              {
                name: "Q",
                y: 32,
              },
              {
                name: "R",
                y: 33,
              },
              {
                name: "S",
                y: 40,
              },
              {
                name: "T",
                y: 50,
              },
              {
                name: "U",
                y: 52,
              },
              {
                name: "V",
                y: 53,
              },
              {
                name: "W",
                y: 36,
              },
            ],
          },
        ],
      });
    },
  },
  mounted: function() {
    this.LoadChart();
  },
};
</script>
