<template>
  <div class="d-inline">
    <button
      v-if="is_connected"
      class="btn btn-connect btn-primary btn-raised text-white btn-twitter"
      type="button"
      disabled
    >
      <i class="fa fa-facebook"></i>
      <span> {{ facebook_name }}</span>
    </button>
    <button
      v-else
      @click="logInWithFacebook"
      aria-label=""
      class="btn btn-primary btn-raised text-white btn-twitter"
      :class="is_loading ? 'btn-load' : ''"
      type="button"
    >
      <span v-if="is_loading">{{ loading_text }}</span>
      <span v-else>
        <i class="fa fa-facebook"></i>
        <span> Hubungkan Facebook</span>
      </span>
    </button>
  </div>
</template>
<script>
// import $ from "jquery";
import firebase from "firebase/app";
import "firebase/auth";
//   import loader from '@/views/components/floatingLoader.vue';
//   import notif from '@/assets/js/notif.js';
//   $.pgNotification = notif;

export default {
  name: "facebookLogin",
  components: {},
  data() {
    return {
      is_connected: false,
      is_loading: false,
      facebook_name: null,
      loading_key: 0,
      id_project: this.$store.getters.user.id_project,
      param: null,
    };
  },

  methods: {
    logInWithFacebook: function () {
      this.loading_text = "Menghubungkan akun..";

      this.is_loading = true;
      var provider = new firebase.auth.FacebookAuthProvider();
      var firebaseConfig = {
        apiKey: "AIzaSyAxIakGo7kFN7otPziKDz0VUrCHlAcaAuQ",
        authDomain: "online-media-monitoring.firebaseapp.com",
        databaseURL: "https://online-media-monitoring.firebaseio.com",
        projectId: "online-media-monitoring",
        storageBucket: "online-media-monitoring.appspot.com",
        messagingSenderId: "204769415074",
        appId: "1:204769415074:web:f6a24efb54c0d3886d6cfb",
        measurementId: "G-E4M32WF0M1",
      };

      console.log(provider);
      console.log(firebase.apps.length);
      if (firebase.apps.length === 0) {
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
      }

      // firebase.analytics();
      provider.addScope("public_profile");
      provider.addScope("email");
      provider.addScope("instagram_basic");
      provider.addScope("pages_show_list");
      firebase
        .auth()
        .signInWithPopup(provider)
        .then((result) => {
          console.log(result);
          /*let nama = result.additionalUserInfo.name;
          let id = parseInt(result.additionalUserInfo.id);
          let token = result.credential.accessToken;*/
          this.facebook_name = result.additionalUserInfo.profile.name;
          this.getToken(result);
        })
        .catch((error) => {
          // Handle Errors here.
          // var errorCode = error.code;
          // var errorMessage = error.message;
          // The email of the user's account used.
          // var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          // var credential = error.credential;
          console.log(error);
          this.is_loading = false;

          this.$toasted.show(
            '<i class="fa fa-times"></i> <b>Error!</b> ' + error.message,
            {
              theme: "bubble",
              position: "top-center",
              duration: 10000,
              fullWidth: true,
            }
          );
        });
    },

    getToken: function (result) {
      this.loading_text = "Mendapatkan token...";
      this.loading_key++;

      delete this.$axios.defaults.headers.common["token"];

      this.param = {
        id_project: this.id_project,
        // id_project: 1,
        account_id: parseInt(result.additionalUserInfo.profile.id),
        account_name: result.additionalUserInfo.profile.name,
      };

      let user_id = result.additionalUserInfo.profile.id;
      let url_permanent_fb =
        "https://graph.facebook.com/v3.2/" +
        user_id +
        "/accounts?access_token=" +
        result.credential.accessToken;
      this.$axios
        .get(url_permanent_fb)
        .then((response) => {
          console.log(response);
          if (response.data.data.length > 0) {
            this.param.token = response.data.data[0].access_token;
            this.param.page_id = parseInt(response.data.data[0].id);
            this.getInstagramID();
          } else {
            this.param.token = null;
            this.param.page_id = null;
            this.param.instagram_id = null;

            this.$toasted.show(
              '<i class="fa fa-times"></i> <b>Error!</b> Wajib mengaitkan akun yang memiliki Facebook Fanpage dan Instagram Akun',
              {
                theme: "bubble",
                position: "top-center",
                duration: 10000,
                fullWidth: true,
              }
            );

            this.is_loading = false;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getInstagramID: function () {
      let api =
        "https://graph.facebook.com/v3.2/" +
        this.param.page_id +
        "?fields=instagram_business_account&access_token=" +
        this.param.token;
      this.$axios
        .get(api)
        .then((response) => {
          if ("instagram_business_account" in response.data) {
            console.log("ada instagram_business_account");
            this.param.instagram_id = parseInt(
              response.data.instagram_business_account.id
            );
          } else {
            this.param.instagram_id = null;
          }
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.saveCredential();
        });
    },

    saveCredential: function () {
      this.loading_text = "Menyimpan data...";
      this.loading_key++;

      let api = process.env.VUE_APP_API_URL + "credential_fb";

      this.$axios
        .post(api, this.param)
        .then((res) => {
          if (res.status == 200) {
            this.is_connected = true;
            this.$toasted.show(
              '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Akun berhasil dihubungkan.',
              {
                theme: "bubble",
                position: "top-center",
                duration: 5000,
                fullWidth: true,
                type: "success",
              }
            );
          }
        })
        .catch((err) => {
          this.$toasted.show(
            '<i class="fa fa-times"></i> <b>Error!</b> ' +
              err.response.data.status,
            {
              theme: "bubble",
              position: "top-center",
              duration: 10000,
              fullWidth: true,
            }
          );
        })
        .finally(() => {
          this.is_loading = false;
        });
    },

    getProjectDetail() {
      let api =
        process.env.VUE_APP_API_URL + "project-detail/" + this.id_project;
      this.$axios.get(api).then((response) => {
        if (response.status === 200) {
          if (response.data.project_detail.socmed_creds) {
            if (response.data.project_detail.socmed_creds.facebook) {
              this.facebook_name =
                response.data.project_detail.socmed_creds.facebook.account_name;
              this.is_connected = true;
            }
          } else {
            this.is_connected = false;
          }
        }
      });
    },
  },

  created() {
    this.getProjectDetail();
  },
};
</script>
<style>
.button {
  color: white;
  min-width: 150px;
  background-color: #000000a1;
  height: 2.5rem;
  border-radius: 2rem;
  font-weight: 400;
  font-size: 0.8rem;
}

div.d-inline .btn-twitter {
  cursor: pointer !important;
}

div.d-inline .btn-connect {
  cursor: default !important;
}

div.d-inline .btn-twitter.btn-load {
  cursor: not-allowed !important;
  pointer-events: none;
}
</style>
