<template>
  <div class="card" style="min-height: 30px">
    <div class="body" style="padding: 5px 10px 0 20px">
      <div class="row clearfix">
        <input type="hidden" jumlah-cek="0" check-type="uncheck" id="isCheckbox" />
        <div v-if="role_id == 2 || role_id == 3" class="col-sm-2 col-md-2 col-lg-2 col-xl-2" style="padding: 7px 0 0 0">
          <input type="checkbox" jumlah-cek="0" @click="StreamSelectAll" name="sentimentAll" class="filled-in" id="StreamSelectAll" />
          <label for="StreamSelectAll" style="color: #444">Tandai Semua Post</label>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7" :class="role_id == 2 || role_id == 3 ? 'offset-md-3' : 'offset-md-5'">
          <div class="row clearfix" v-bind:class="page == 'trash' ? 'justify-content-end' : ''">
            <div class="col-md-4">
              <div class="row clearfix">
                <span style="padding: 7px 0 0 0; font-weight: bold">Tampilkan :</span>
                <select id="changeTakes" class="form-controls show-tick col-md-6" v-on:change="changeTakes">
                  <option value="10">10 Post</option>
                  <option value="25">25 Post</option>
                  <option value="50">50 Post</option>
                  <option value="100">100 Post</option>
                </select>
                <span style="padding: 5px 10px 0 0">
                  <center>|</center>
                </span>
              </div>
            </div>

            <div v-if="page !== 'trash'" class="col-md-4">
              <div class="row clearfix">
                <span style="padding: 7px 0 0 0; font-weight: bold">Urutkan post :</span>
                <select id="changeSort" @change="changeSort" class="form-controls show-tick col-md-5">
                  <option value="date">Tanggal</option>
                  <option value="engagement">Engagement</option>
                  <option value="esmr">Esmr (Reach)</option>
                </select>
                <span style="padding: 5px 10px 0 0">
                  <center>|</center>
                </span>
              </div>
            </div>

            <div v-if="page !== 'trash'" class="col-md-4">
              <div class="row clearfix">
                <span style="padding: 7px 0 0 0; font-weight: bold">Tampilkan pers :</span>
                <select id="changePers" @change="changePers" class="form-controls show-tick col-md-4">
                  <option value="2">Ya</option>
                  <option value="1">Tidak</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import $ from "jquery";
// let num_cek = 0;
// let temp = [];
// let check_all = 0;
// let empty = 1;
import Cookie from "vue-cookies";
export default {
  name: "FilterPost",
  props: {
    page: String,
  },

  data() {
    return {
      role_id: Cookie.get("role_id"),
      empty: 1,
      temp: [],
      check_all: 0,
      num_cek: 0,
      checked: "",
      cat: "",
      id: "",
      jumlahCek: 0,
    };
  },
  methods: {
    changeTakes() {
      let take = parseInt(document.getElementById("changeTakes").value);
      this.$emit("change-takes", take);
    },
    changeSort() {
      let sort = document.getElementById("changeSort").value;
      this.$emit("change-sort", sort);
    },
    changePers() {
      let pers = parseInt(document.getElementById("changePers").value);
      this.$emit("change-pers", pers);
    },

    StreamSelectAll() {
      this.$emit("stream-select-all");
      // console.log(this.empty);
      // console.log(this.$parent.isUpdateCheck)
      // if (this.$parent.isUpdateCheck) {
      //     num_cek = 0;
      //     check_all = 0
      //     this.$parent.isUpdateCheck = false
      // }
      // let self = this;
      // // let element = document.getElementsByClassName("getID");
      // // console.log(element.length)
      // $('div#getID').each(function (ind, obj) {
      //     console.log(ind);
      //     empty = 0;
      //     // let checked = parseInt(obj.getAttribute("mark"));
      //     // let id = obj.getAttribute("stream-id");
      //     let checked = parseInt($(obj).attr('mark'));
      //     let id = $(obj).attr('stream-id');

      //     // $(obj).find("i").attr("class", "fa fa-check m-t-10");
      //     console.log(check_all)
      //     console.log(checked)
      //     if (!check_all) {
      //         if (!checked) {
      //             temp[id] = $(obj).attr("class");
      //             console.log(temp[id])
      //             num_cek++;

      //             $(obj).attr("mark", "1");
      //             $(obj).attr(
      //                 "class",
      //                 "cbp_tmicon bg-grey klik animated fadeInRight"
      //             );
      //             $(obj).find("i").attr("class", "fa fa-check m-t-10");
      //             $('input[name="sentimentAll"]').attr('jumlah-cek', num_cek)
      //         }
      //     } else {
      //         console.log('else satu')
      //         if (checked) {
      //             console.log(temp[id])
      //             console.log('else')
      //             var cat = $(obj).attr("cat");
      //             num_cek--;

      //             $(obj).attr("mark", "0");
      //             $(obj).attr("class", temp[id]);
      //             $(obj)
      //                 .find("i")
      //                 .attr("class", "fa fa-" + cat + " m-t-10");
      //         }
      //     }
      // });
      // if (!empty) {
      //     if (!check_all) {
      //         check_all = 1;
      //         console.log('if di if empty')
      //         $('input[name="sentimentAll"]').prop("checked", true);
      //     } else {
      //         check_all = 0;
      //         console.log('else di if empty')
      //         $('input[name="sentimentAll"]').prop("checked", false);
      //     }
      // } else {
      //     console.log('else empty')
      // }
      // console.log(empty)
      // self.cek_multipel();
    },

    // cek_multipel() {
    //     // let self = this;
    //     console.log(num_cek)
    //     this.$parent.streamAll = num_cek
    //     $('input[name="sentimentAll"]').attr('jumlah-cek', num_cek)
    //     $('#isCheckbox').attr('jumlah-cek', num_cek)

    //     if (num_cek > 0) {
    //         $(".multipleaction").show(1000);
    //         $('#isCheckbox').attr('check-type', 'check')
    //     } else {
    //         check_all = 0;
    //         $('#isCheckbox').attr('check-type', 'uncheck')
    //         $('input[name="sentimentAll"]').prop("checked", false);
    //         $(".multipleaction").hide(1000);
    //     }
    // },
  },

  created() {
    // let self = this;
    // $('body').on('click', 'input[name="sentimentAll"]', function () {
    //     self.StreamSelectAll();
    //     console.log('oke')
    // })
    // if (this.$parent.isUpdateCheck == false) {
    //     num_cek = 0;
    //     check_all = 0
    // }
  },
};
</script>
