<template>
  <div class="row clearfix header-component" style="margin-top: 65px">
    <div class="col-md-12">
      <div class="card">
        <div class="body">
          <div class="row">
            <div class="col-md-5">
              <div class="block-header my-1 p-0">
                <h2>{{ headerTitle }}</h2>
              </div>
            </div>
            <div class="col-md-3">
              <form action>
                <select
                  name
                  id="change-topic"
                  class="form-control"
                  @change="changeTopic"
                >
                  <option value="">Semua</option>
                  <option v-for="(topic, i) in topics" :key="i" :value="i">
                    {{ topic }}
                  </option>
                </select>
              </form>
            </div>
            <div class="col-md-4 justify-content-end mt-2 mt-lg-0">
              <div
                class="input-group"
                style="
                  border: 1px solid rgba(0, 0, 0, 0.15) !important;
                  margin-bottom: 0 !important;
                "
              >
                <div class="input-group-prepend mt-1 px-2">
                  <i class="material-icons">date_range</i>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="daterange"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  style="font-size: 15px !important"
                />
                <!-- <input v-on:input="udpateValue($event.target.value)" v-bind:value="value" type="text" class="form-control" id="daterange" aria-label="Username" aria-describedby="basic-addon1" style="font-size: 15px !important;" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
var moment = require("moment");
import daterangepicker from "daterangepicker/daterangepicker.js";
import "daterangepicker/daterangepicker.css";
import "bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css";
$.daterangepicker = daterangepicker;

var start = moment().subtract(6, "days");
var end = moment();
// let user = JSON.parse(localStorage.getItem("user"));
// let id_project = localStorage.getItem("id_project");
export default {
  name: "Header",
  props: {
    headerTitle: String,
    value: {
      type: String,
      default:
        start.format("D MMM YYYY 00:00") +
        " - " +
        end.format("D MMM YYYY 23:59:59"),
    },
  },
  data() {
    return {
      start: moment(new Date()).subtract(6, "days").format("YYYY-MM-DD"),
      to: moment(new Date()).format("YYYY-MM-DD"),
      topics: [],
      id_project: localStorage.getItem("id_project"),
    };
  },
  methods: {
    cb: function (start, end) {
      $("#daterange").val(
        start.format("D MMM YYYY") + " - " + end.format("D MMM YYYY")
      );
    },

    changeTopic() {
      let topic = document.getElementById("change-topic").value;
      var query = {};
      query.start = this.$route.query.start;
      query.end = this.$route.query.end;
      query.sources = this.$route.query.sources;
      query.sentiments = this.$route.query.sentiments;
      query.q = this.$route.query.q;
      query.topic = topic;
      query.pers = this.$route.query.pers;
      this.updateUrl(query);
      // this.$emit("change-topic", topic);
    },

    updateUrl: function (query) {
      // console.log(query);
      this.$router.replace({
        query: query,
      });
    },

    getTopics() {
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "topics/" + this.id_project, {
          params: {
            wo_news: 1,
          },
          // headers: {
          //     token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoyLCJleHAiOjE2MDE4NzM5NzR9.GY5975HsCFtYHNKzBbH8agbmGShTs0kPizv2je92f6U",
          // },
        })
        .then((response) => {
          if (response.status === 200) {
            // console.log(response.data);
            this.topics = response.data;
          } else {
            console.log("error");
          }
        })
        .catch((error) => console.log(error));
    },
  },
  created() {
    this.getTopics();
  },
  mounted() {
    var self = this;
    $("#daterange")
      .daterangepicker(
        {
          startDate: start,
          endDate: end,
          timePicker: true,
          autoApply: true,
          timePicker24Hour: true,
          opens: "right",
          locale: {
            format: " D MMM YYYY",
            applyLabel: "cari",
            cancelLabel: "batal",
          },
          monthNames: [
            "Januari",
            "Februari",
            "Maret",
            "April",
            "Mei",
            "Juni",
            "Juli",
            "Agustus",
            "September",
            "Oktober",
            "November",
            "Desember",
          ],
          showDropdowns: true,
          ranges: {
            "Hari Ini": [moment().startOf("days"), moment().endOf("now")],
            Kemarin: [
              moment().subtract(1, "days").startOf("days"),
              moment().subtract(1, "days").endOf("days"),
            ],
            "7 Hari Terahir": [
              moment().subtract(6, "days").startOf("days"),
              moment().endOf("now"),
            ],
            "30 Hari Terakhir": [
              moment().subtract(29, "days").startOf("days"),
              moment().endOf("now"),
            ],
            "Bulan Ini": [moment().startOf("month"), moment().endOf("month")],
            "Bulan Lalu": [
              moment().subtract(1, "month").startOf("month"),
              moment().subtract(1, "month").endOf("month"),
            ],
          },
        },
        this.cb(start, end)
      )
      .on("apply.daterangepicker", function (e, picker) {
        // let start = picker.startDate.format("YYYY-MM-DD");
        // let end = picker.endDate.format("YYYY-MM-DD");
        let query = {};
        query.start = picker.startDate.format("YYYY-MM-DD 00:00:00");
        query.end = picker.endDate.format("YYYY-MM-DD HH:mm:ss");
        query.sources = self.$route.query.sources;
        query.sentiments = self.$route.query.sentiments;
        query.q = self.$route.query.q;
        query.topic = self.$route.query.topic;
        query.pers = self.$route.query.pers;
        query.page = self.$route.query.page;
        query.sort = self.$route.query.sort;
        self.updateUrl(query);
      });

    this.cb(start, end);
  },
};
</script>

<style>
.input-group {
  border: 1px !important;
}

/* .n-top {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
} */
</style>
