<template>
<div>
    <div :id="id" style="height: 450px"></div>
</div>
</template>

<script>
import Highcharts from "highcharts/highcharts.js";
import Heatmap from "highcharts/modules/heatmap.js";
import Eksporting from "highcharts/modules/exporting.js";
Heatmap(Highcharts);
Eksporting(Highcharts);
export default {
    // props: {
    //     id: String,
    //     data
    // },
    props: ["id", "dataset"],
    methods: {
        getPointCategoryName: function (point, dimension) {
            var series = point.series,
                isY = dimension === "y",
                axis = series[isY ? "yAxis" : "xAxis"];
            return axis.categories[point[isY ? "y" : "x"]];
        },
        LoadMap: function () {
            Highcharts.chart(this.id, {
                chart: {
                    type: "heatmap",
                    // marginTop: 40,
                    // marginBottom: 80,
                    plotBorderWidth: 1,
                },

                title: {
                    text: "",
                },

                xAxis: {
                    categories: [
                        "Minggu",
                        "Senin",
                        "Selasa",
                        "Rabu",
                        "Kamis",
                        "Jumat",
                        "Sabtu",
                    ],
                },

                yAxis: {
                    categories: [
                        "23:00-24:00",
                        "22:00-23:00",
                        "21:00-22:00",
                        "20:00-21:00",
                        "19:00-20:00",
                        "18:00-19:00",
                        "17:00-18:00",
                        "16:00-17:00",
                        "15:00-16:00",
                        "14:00-15:00",
                        "13:00-14:00",
                        "12:00-13:00",
                        "11:00-12:00",
                        "10:00-11:00",
                        "09:00-10:00",
                        "08:00-09:00",
                        "07:00-08:00",
                        "06:00-07:00",
                        "05:00-06:00",
                        "04:00-05:00",
                        "03:00-04:00",
                        "02:00-03:00",
                        "01:00-02:00",
                        "00:00-01:00",
                    ],
                    title: null,
                },

                accessibility: {
                    point: {
                        descriptionFormatter: function (point) {
                            var ix = point.index + 1,
                                xName = this.getPointCategoryName(point, "x"),
                                yName = this.getPointCategoryName(point, "y"),
                                val = point.value;
                            return ix + ". " + xName + " sales " + yName + ", " + val + ".";
                        },
                    },
                },

                colorAxis: {
                    min: 0,
                    minColor: "#FFFFFF",
                    maxColor: "#6358e2",
                    // maxColor: Highcharts.getOptions().colors[0],
                },

                legend: {
                    align: "right",
                    layout: "vertical",
                    // margin: 0,
                    verticalAlign: "top",
                    // y: 25,
                    symbolHeight: 280,
                },
                credits: {
                    enabled: false,
                },
                tooltip: {
                    formatter: function () {
                        return (
                            "Terdapat <b>" +
                            this.point.value +
                            "</b> mention pada <br><b>" +
                            this.series.yAxis.categories[this.point.y] +
                            " " +
                            this.series.xAxis.categories[this.point.x] +
                            "</b>"
                        );
                    },
                },

                series: [{
                    name: "Mentions per Hari",
                    borderWidth: 1,
                    data: this.dataset,
                    dataLabels: {
                        enabled: true,
                        color: "#000000",
                    },
                }, ],
            });
        },
    },
    mounted: function () {
        this.LoadMap();
    },
};
</script>
