<template>
  <div class="col-lg-1 col-md-1 col-sm-4 col-4 text-center">
    <p class="m-t-10">{{ platform.title }}</p>
    <input
      type="text"
      :class="platform.name"
      :value="parseInt(platform.value, 0)"
      :color="platform.color"
      data-linecap="round"
      data-width="70"
      data-height="70"
      data-thickness="0.15"
      :data-max="dataMax"
      readonly
    />
  </div>
</template>

<script>
import $ from "jquery";
import knob from "jquery-knob";
$.knob = knob;
export default {
  name: "knobComponent",
  props: ["platform", "className", "value", "color", "dataMax"],
  methods: {},
  mounted: function () {
    var bgcColor = this.platform.color;
    var nameClass = this.platform.name;

    $("." + nameClass).knob({
      fgColor: bgcColor,
      change: function (v) {
        console.log("knob change:", v);
      },
      format: function (num, fixed) {
        if (num === null) {
          return null;
        } // terminate early
        if (num === 0) {
          return "0";
        } // terminate early
        fixed = !fixed || fixed < 0 ? 0 : fixed; // number of decimal places to show
        var b = num.toPrecision(2).split("e"), // get power
          k = b.length === 1 ? 0 : Math.floor(Math.min(b[1].slice(1), 14) / 3), // floor at decimals, ceiling at trillions
          c =
            k < 1
              ? num.toFixed(0 + fixed)
              : (num / Math.pow(10, k * 3)).toFixed(1 + fixed), // divide by power
          d = c < 0 ? c : Math.abs(c), // enforce -0 is 0
          e = d + ["", "K", "M", "B", "T"][k]; // append power
        return e.replace(".", ",");
      },
      //   format: function (value) {
      //     if (value >= 1000 && value <= 999999) {
      //       return value / 1000 + "K";
      //     } else if (value >= 1000000 && value < 999999999) {
      //       return value / 1000000 + "M";
      //     } else if (value >= 1000000000) {
      //       return value / 1000000000 + "B";
      //     } else {
      //       return value;
      //     }
      //   },
      draw: function () {
        // console.log("drawing", $(this).find(".knob"));
        $(this.i).css("font-size", "14px");
      },
    });
  },
};
</script>
