<template>
<div :id="id" :style="'height:' + height"></div>
</template>

<script>
import Highcharts from "highcharts/highcharts.js";
import moment from "moment";

export default {
    name: "LineChart",
    props: ["id", "dataset", "height"],
    data() {
        return {};
    },
    methods: {
        HC_Config: function () {
            let self = this;
            var chart_config = {
                chart: {
                    type: "line",
                },
                credits: {
                    enabled: false,
                },
                title: {
                    text: "",
                },
                xAxis: [{
                    categories: this.dataset ? this.dataset.categories : '',
                    crosshair: true,
                }, ],
                yAxis: [{
                    // Primary yAxis
                    labels: {
                        formatter: function () {
                            if (this.value >= 1000 && this.value <= 999999) {
                                return this.value / 1000 + "K"
                            } else if (this.value >= 1000000 && this.value < 999999999) {
                                return this.value / 1000000 + "M"
                            } else if (this.value >= 1000000000) {
                                return this.value / 1000000000 + "B"
                            } else {
                                return this.value
                            }
                        }
                    },
                    title: {
                        text: "Jumlah",
                    },
                }],

                tooltip: {
                    shared: true,
                },
                legend: {
                    layout: "horizontal",
                    align: "center",
                    verticalAlign: "bottom",
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false,
                        },
                        point: {
                            events: {
                                click: function () {
                                    let start = "";
                                    let end = "";
                                    let query = {};
                                    if (moment(this.category).isValid()) {
                                        start = moment(this.category).format("YYYY-MM-DD 00:00:00");
                                        end = moment(this.category).format("YYYY-MM-DD 23:59:00");
                                    } else {
                                        let start_jam = this.category + ":00";
                                        let end_jam = this.category.replace("00", "59") + ":00";
                                        start = moment(self.$route.query.from).format(
                                            "YYYY-MM-DD " + start_jam
                                        );
                                        end = moment(self.$route.query.to).format(
                                            "YYYY-MM-DD " + end_jam
                                        );
                                    }

                                    query = {
                                        start: start,
                                        end: end,
                                    };

                                    if ("topic" in self.$route.query) {
                                        query.topic = self.$route.query.topic;
                                    }

                                    self.$router.push({
                                        path: "/UnggahanTerbaru",
                                        query: query,
                                    });
                                    // window.open(
                                    //     "UnggahanTerbaru?start=" + query.start + "&end=" + query.end
                                    // );
                                },
                            },
                        },
                    },

                },

                series: this.dataset ? this.dataset.series : '',
            };
            return chart_config;
        },
    },
    mounted: function () {
        if (this.dataset != null) {
            new Highcharts.chart(this.id, this.HC_Config());
        }

    },
};
</script>
