<template>
  <div class="overlayDiv loader" :class="classLoader">
    <div
      class="loader"
      :class="
        classLoader == 'loader-login' ||
        classLoader == 'loader-delete' ||
        classLoader == 'loader-layout'
          ? 'login loader-delete'
          : 'absolute-center'
      "
    >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <p v-if="classLoader == 'loader-login' || classLoader == 'loader-layout'">
        Please Wait...
      </p>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  name: "Loader",
  props: ["classLoader"],
  mounted() {
    $(".loader-layout").fadeOut(5000);
  },
};
</script>

<style>
.overlayDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.overlayDiv.overlayTable {
  position: absolute;
  /* top: 222px; */
  /* height: 100px; */
  background-color: white;
  opacity: 0.7;
}

.overlayDiv.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s ease-in-out;
  -moz-transition: visibility 1s, opacity 1s ease-in-out;
  -ms-transition: visibility 1s, opacity 1s ease-in-out;
  -o-transition: visibility 1s, opacity 1s ease-in-out;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* .overlayDiv.loader-post {
    height: 100vh !important;
} */

.overlayDiv.loader-loadmore {
  background: #f0f3f5 !important;
}

.overlayDiv.loader-login,
.overlayDiv.loader-layout {
  position: fixed !important;
  bottom: 0;
  right: 0;
  overflow: hidden !important;
  text-align: center !important;
  background: #f0f3f5 !important;
  opacity: 1;
  z-index: 8 !important;
  display: block;
}

.overlayDiv.loader-layout {
  z-index: 24 !important;
}

.loader.login {
  position: relative !important;
  top: calc(50% - 30px);
}

.overlayDiv.loader-delete {
  position: fixed !important;
  bottom: 0;
  right: 0;
  overflow: hidden !important;
  text-align: center !important;
  background: #fff !important;
  /* opacity: 0.5; */
  z-index: 8 !important;
}

.overlayDiv p {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
  color: #444;
}
</style>
