<template>
<div id="pagger">
    <div class="text-center">
        <a href="javascript:void(0)" @click="AppendData" class="btn btn-default btn-raised waves-effect" id="btn-load-more" :data-id="dataId">
            Load More
        </a>
    </div>
</div>
</template>

<script>
import $ from "jquery";
export default {
    name: "ButtonLoadMore",
    props: {
        dataId: {
            type: Number,
            default: 10,
        },
    },

    methods: {
        AppendData() {
            let take = document
                .getElementById("btn-load-more")
                .getAttribute("data-id");
            this.$emit("change-takes", take);
        },
    },

    mounted() {
        $("body").on("click", ".btn-load-more", function () {
            let take = $(this).attr("data-id");
            // let self = this;
            this.$emit("change-takes", take);
        });
    },
};
</script>

<style>
</style>
