<template>
  <div id="mapcontainer"></div>
</template>
<script>
// import $ from "jquery";
import * as Highcharts from "highcharts/highmaps.js";
import map_id from "@/plugins/new-id-all.js";
import "highcharts/themes/grid.js";
Highcharts.maps["countries/id/id-all"] = map_id.load_data();
export default {
  props: ["dataset"],
  data() {
    return {
      data: this.dataset,
    };
  },
  methods: {
    HC_Config: function () {
      var map_config = {
        chart: {
          map: "countries/id/id-all",
          height: 35 + "%",
        },
        exporting: {
          enabled: false,
        },
        title: {
          text: "",
        },

        // legend: {
        //   enabled: false,
        // },

        mapNavigation: {
          enabled: true,
          buttonOptions: {
            verticalAlign: "bottom",
          },
        },

        colorAxis: {
          min: 0,
          max: this.data[0].value,
        },

        series: [
          {
            // type: "map",
            joinBy: "hc_key",
            name: "Provinsi",
            // color: "#E0E0E0",
            // nullColor: "#f8f9fa",
            // enableMouseTracking: true,
            states: {
              hover: {
                color: "#BADA55",
              },
            },
            data: this.data,
            dataLabels: {
              enabled: true,
              format: "{point.name}",
              // '<span class="point-name" data-code="{point.hc_key}">{point.name}</span>',
              // formatter: function () {
              //   return (
              //     '<span class="point-name" data-id="' +
              //     this.point.hc_key +
              //     '">' +
              //     this.point.name +
              //     "</span>"
              //   );
              // },
              // enabled: false,
              // useHTML: true,
            },
            // tooltip: {
            //   pointFormat: "{point.name} <br/> Jumlah Mentions: {point.value} ",
            // },
            cursor: "pointer",
          },
          // {
          //   type: "mapbubble",
          //   name: "Jumlah Mentions",
          //   joinBy: "hc_key",
          //   color: $("body").css("--purple"),
          //   data: this.data,
          //   // minSize: 16,
          //   maxSize: "12%",
          //   marker: {
          //     fillOpacity: 0.6,
          //   },
          //   tooltip: {
          //     pointFormat: "{point.name} <br/> Jumlah Mentions: {point.z} ",
          //   },
          //   dataLabels: {
          //     allowOverlap: true,
          //     format: "{point.name}",
          //     enabled: true,
          //   },
          //   point: {
          //     events: {
          //       click: function() {
          //         nv.$parent.bubbleClicked(this);
          //       },
          //     },
          //   },
          //   cursor: "pointer",
          //   zIndex: 99,
          // },
        ],
      };
      return map_config;
    },
  },
  mounted: function () {
    new Highcharts.mapChart("mapcontainer", this.HC_Config());
    console.log(this.data.value);
  },
};
</script>
<style></style>
