<template>
<div id="mapcontainer"></div>
</template>

<script>
import $ from "jquery";
import * as Highcharts from "highcharts/highmaps.js";
import map_id from "@/plugins/new-id-all.js";
import "highcharts/themes/grid.js";
Highcharts.maps["countries/id/id-all"] = map_id.load_data();
export default {
    props: ["dataset"],
    data() {
        return {
            data: this.dataset,
            dataId: "",
            datas: [{
                    hc_key: "id-sr",
                    value: 100,
                },
                {
                    hc_key: "id-ib",
                    value: 10000,
                },
            ],
        };
    },
    methods: {
        HC_Config: function () {
            var map_config = {
                chart: {
                    map: "countries/id/id-all",
                    // height: 35 + "%",
                    width: $(".wrapper-map").width(),
                },
                exporting: {
                    enabled: false,
                },
                title: {
                    text: "",
                },

                // legend: {
                //   enabled: false,
                // },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: "bottom",
                    },
                },

                colorAxis: {
                    min: 0,
                    max: this.data.value,
                },

                series: [{
                        // type: "map",
                        joinBy: "hc_key",
                        name: "Provinsi",
                        // color: "#BADA55",
                        // nullColor: "#f8f9fa",
                        enableMouseTracking: true,
                        states: {
                            hover: {
                                color: "#BADA55",
                            },
                        },
                        data: this.data,
                        dataLabels: {
                            // format: '<span class="point-name" data-code="{point.hc_key}">{point.name}</span>',
                            // formatter: function () {
                            //     return (
                            //         '<span class="point-name" data-id="' +
                            //         this.point.hc_key +
                            //         '">' +
                            //         this.point.name +
                            //         "</span>"
                            //     );
                            // },
                            enabled: true,
                            format: "{point.name}",
                            // useHTML: true,
                        },
                        tooltip: {
                            pointFormat: "{point.name} : {point.value} ",
                        },
                        cursor: "pointer",
                        point: {
                            events: {
                                click: (e) => {
                                    this.generateDataProvince(e);
                                },
                            },
                        },
                    },
                    // {
                    //   type: "mapbubble",
                    //   name: "Jumlah Mentions",
                    //   joinBy: "hc_key",
                    //   color: $("body").css("--purple"),
                    //   data: this.data,
                    //   // minSize: 16,
                    //   maxSize: "12%",
                    //   marker: {
                    //     fillOpacity: 0.6,
                    //   },
                    //   tooltip: {
                    //     pointFormat: "{point.name} <br/> Jumlah Mentions: {point.z} ",
                    //   },
                    //   dataLabels: {
                    //     allowOverlap: true,
                    //     format: "{point.name}",
                    //     enabled: true,
                    //   },
                    //   point: {
                    //     events: {
                    //       click: function() {
                    //         nv.$parent.bubbleClicked(this);
                    //       },
                    //     },
                    //   },
                    //   cursor: "pointer",
                    //   zIndex: 99,
                    // },
                ],
            };
            return map_config;
        },
        generateDataProvince(e) {
            $("#nama_provinsi").html(": " + e.point.name);
            $("#MessageAccount").html("");
            // console.log(e.point.hc_key);
            this.renderAccounts(e.point.hc_key);
            // renderStream(id_province);

            $("html, body").animate({
                    scrollTop: $("#accountsContainer").offset().top,
                },
                500
            );
        },

        renderAccounts(id) {
            // this.data = id;
            this.$emit("render-account", id);
        },
    },
    mounted: function () {
        new Highcharts.Map("mapcontainer", this.HC_Config());
    },
};
</script>

<style>
/* #mapcontainer {
    display: table-cell;
    position: absolute;
    width: 100%;
} */
</style>
