<template>
  <div class="modal fade" :id="modalTarget" tabindex="-1" role="dialog">
    <div class="modal-dialog" v-bind:class="modalVariant" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ modalTitle }}</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            v-if="modalType == 'hubungAkunModal'"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <section v-if="modalType == 'chgPassModal'">
          <form id="change-password" @submit.prevent="formChangePass">
            <div class="modal-body" style="margin-top: -35px !important">
              <div class="row clearfix">
                <div class="form-group">
                  <label for="current_password">
                    <strong>Password Saat ini</strong>
                  </label>
                  <!-- <input class="form-control" placeholder="Enter password" id="new_pass" name="password" type="text"> -->
                  <input
                    class="form-control"
                    v-model.trim="$v.currentPassword.$model"
                    :class="{
                      'is-invalid': $v.currentPassword.$error,
                      'is-valid': !$v.currentPassword.$invalid,
                    }"
                    placeholder="Masukan password saat ini"
                    name="current_password"
                    id="current_password"
                    type="password"
                  />
                  <div class="icon-curent-password">
                    <i
                      @click="showPassword"
                      class="show-icon fa fa-eye-slash show-password"
                    ></i>
                  </div>
                  <div class="invalid-feedback">
                    <span v-if="!$v.currentPassword.required"
                      >Password harus diisi.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="new_password">
                    <strong>Password Baru</strong>
                  </label>
                  <input
                    class="form-control"
                    v-model.trim="$v.newPassword.$model"
                    :class="{
                      'is-invalid': $v.newPassword.$error,
                      'is-valid': !$v.newPassword.$invalid,
                    }"
                    placeholder="Masukan password baru"
                    name="new_password"
                    id="new_password"
                    type="password"
                  />
                  <div class="icon-curent-password">
                    <i
                      @click="showPassword"
                      class="show-icon fa fa-eye-slash show-new-password"
                    ></i>
                  </div>
                  <div class="invalid-feedback">
                    <span v-if="!$v.newPassword.required"
                      >Password baru harus diisi.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirm_password">
                    <strong>Konfirmasi Password</strong>
                  </label>
                  <input
                    class="form-control"
                    v-model.trim="$v.confirmNewPassword.$model"
                    :class="{
                      'is-invalid': $v.confirmNewPassword.$error,
                      'is-valid':
                        newPassword != ''
                          ? !$v.confirmNewPassword.$invalid
                          : '',
                    }"
                    placeholder="Masukan konfirmasi password baru"
                    name="confirm_password"
                    id="confirm_password"
                    type="password"
                  />
                  <div class="icon-curent-password">
                    <i
                      @click="showPassword"
                      class="show-icon fa fa-eye-slash show-confirm-password"
                    ></i>
                  </div>
                  <div class="invalid-feedback">
                    <span v-if="!$v.confirmNewPassword.sameAsPassword"
                      >Konfirmasi password tidak cocok.</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="padding-bottom: 2rem !important">
              <button
                v-if="btnChangePass"
                type="button"
                disabled
                class="text-white btn btnExport btn-raised btn-success waves-effect"
              >
                Loading...
              </button>
              <button
                v-else
                type="submit"
                class="btn btn-raised btn-success waves-effect"
              >
                Ubah Password
              </button>
              <button
                type="button"
                @click="btnCloseChangePass"
                class="btn btn-link waves-effect"
                data-dismiss="modal"
              >
                Keluar
              </button>
            </div>
          </form>
        </section>
        <section v-if="modalType == 'exportModal'">
          <div class="modal-body">
            <div class="row clearfix">
              <p>Topik</p>
            </div>
            <div class="row clearfix">
              <div class="col-md-12">
                <div class="demo-checkbox" id="topicExp">
                  <!-- <span v-for="(topic, i) in topics" :key="i">
                                    <input @click="topicExp" class="filled-in topic-exp" type="checkbox" name="topic-exp" :id="'ex-' + topic" :value="i" checked />
                                    <label :for="'ex-' + topic">{{ topic }}</label>
                                </span> -->
                  <select name id="change-topic-exp" class="form-control">
                    <option value="">Semua</option>
                    <option
                      class="topic-option"
                      v-for="(topic, i) in topics"
                      :key="i"
                      :value="i"
                    >
                      {{ topic }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <br />
            <div class="row clearfix">
              <p>Sumber</p>
            </div>
            <div class="row clearfix">
              <div class="demo-checkbox" id="sourceExp">
                <span v-for="(source, i) in sources" :key="i">
                  <input
                    class="filled-in source-exp"
                    name="source-exp"
                    type="checkbox"
                    :id="'sr-' + source"
                    :value="source.toLowerCase()"
                    checked
                  />
                  <label :for="'sr-' + source">{{ source }}</label>
                </span>
              </div>
            </div>

            <br />
            <div class="row clearfix">
              <p>Jangka Waktu</p>
            </div>
            <div class="row clearfix">
              <div class="col-md-12">
                <ul class="nav nav-tabs">
                  <li class="nav-item" @click="clearExportTanggal">
                    <a
                      class="nav-link active"
                      data-toggle="tab"
                      href="#export_periode"
                      >Berdasarkan Periode</a
                    >
                  </li>
                  <li class="nav-item" @click="clearExportPeriode">
                    <a class="nav-link" data-toggle="tab" href="#export_tangal">
                      Berdasarkan Tanggal
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div
                    role="tabpanel"
                    class="tab-pane animated fadeIn active"
                    id="export_periode"
                  >
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <input
                          name="periodeExp"
                          type="radio"
                          value="0"
                          style="display: none"
                          id="null_export_periode"
                        />
                        <input
                          @click="today"
                          name="periodeExp"
                          type="radio"
                          class="with-gap"
                          id="radio_1"
                          value="1"
                        />
                        <label for="radio_1">Hari ini</label>
                        <br />
                        <input
                          @click="lastOneMonth"
                          name="periodeExp"
                          type="radio"
                          class="with-gap"
                          id="radio_2"
                          value="4"
                        />
                        <label for="radio_2">1 Bulan Terakhir</label>
                        <br />
                      </div>
                      <div class="col-md-4">
                        <input
                          @click="yesterday"
                          name="periodeExp"
                          type="radio"
                          class="with-gap"
                          id="radio_3"
                          value="2"
                        />
                        <label for="radio_3">Kemarin</label>
                        <br />
                        <input
                          @click="lastThreeMonth"
                          name="periodeExp"
                          type="radio"
                          class="with-gap"
                          id="radio_4"
                          value="5"
                        />
                        <label for="radio_4">3 Bulan Terakhir</label>
                      </div>
                      <div class="col-md-4">
                        <input
                          @click="lastSevenDay"
                          name="periodeExp"
                          type="radio"
                          class="with-gap"
                          id="radio_5"
                          value="3"
                          checked
                        />
                        <label for="radio_5">7 Hari Terakhir</label>
                        <br />
                        <!-- <input @click="all" name="periodeExp" type="radio" class="with-gap" id="radio_6" value="6" />
                                            <label for="radio_6">Semua</label> -->
                      </div>
                    </div>
                  </div>

                  <div
                    role="tabpanel"
                    class="tab-pane animated fadeIn"
                    id="export_tangal"
                  >
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">date_range</i>
                      </span>
                      <div class="form-line">
                        <input
                          type="text"
                          class="form-control col-md-10"
                          id="daterangepicker-exp"
                          name="daterange"
                        />
                      </div>
                    </div>

                    <input
                      type="hidden"
                      name="export_tgl_awal"
                      class="datepicker form-control"
                      placeholder="Dari Tanggal"
                      id="export_tgl_awal"
                      :value="start"
                    />
                    <input
                      type="hidden"
                      name="export_tgl_akhir"
                      class="datepicker form-control"
                      placeholder="Sampai Tanggal"
                      id="export_tgl_akhir"
                      :value="to"
                    />
                  </div>
                </div>
              </div>
            </div>

            <br />
            <div class="row clearfix">
              <p>Sentimen</p>
            </div>
            <div class="row clearfix">
              <div class="demo-checkbox">
                <input
                  type="checkbox"
                  id="positifExp"
                  name="sentiment-exp"
                  value="1"
                  class="filled-in sentiment-exp"
                  checked
                />
                <label for="positifExp">Positif</label>
                <input
                  type="checkbox"
                  id="netralExp"
                  name="sentiment-exp"
                  value="0"
                  class="filled-in sentiment-exp"
                  checked
                />
                <label for="netralExp">Netral</label>
                <input
                  type="checkbox"
                  id="negatifExp"
                  name="sentiment-exp"
                  value="-1"
                  class="filled-in sentiment-exp"
                  checked
                />
                <label for="negatifExp">Negatif</label>
              </div>
            </div>
            <div class="row clearfix">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" name="penulis" class="form-controls" />
                  <label class="form-label">Penulis (Optional)</label>
                </div>
              </div>
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" name="domain" class="form-controls" />
                  <label class="form-label">Domain (Optional)</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              v-if="isLoader"
              type="button"
              disabled
              class="text-white btn btnExport btn-raised btn-success waves-effect"
            >
              Sedang Mengekspor..........
            </button>
            <button
              v-else
              type="button"
              @click="btnExport"
              class="btn btnExport btn-raised btn-success waves-effect"
            >
              Ekspor
            </button>

            <button
              type="button"
              class="btn btn-link waves-effect"
              data-dismiss="modal"
            >
              Keluar
            </button>
          </div>
        </section>
        <section v-if="modalType == 'hubungAkunModal'">
          <div class="modal-body">
            <div style="font-size: 12px !important">
              Silahkan hubungkan akun sosial media anda untuk mendapatkan data
              lebih banyak
            </div>
            <twitterLogin></twitterLogin>
            <facebookLogin></facebookLogin>
            <div style="font-size: 12px !important; text-align: justify">
              Note: Online Media Monitoring terhubung ke akun Facebook dan
              Instagram Anda secara eksklusif untuk mengumpulkan data yang
              bersifat publik. Online Media Monitoring tidak mengumpulkan data
              pribadi apa pun. Selain itu, Online Media Monitoring hanya meminta
              izin yang benar-benar diperlukan untuk melakukan pengumpulan data,
              dan tidak akan pernah digunakan untuk mengelola atau memposting ke
              Halaman Facebook, Profil, atau akun Instagram Anda dengan cara apa
              pun.
            </div>
          </div>
        </section>
        <section v-if="modalType == 'viewAllNotif'">
          <div class="modal-body">
            <div
              class="content-notification"
              style="height: 450px; overflow-y: auto"
            >
              <ul class="dropdown-menu">
                <li class="body">
                  <ul class="menu">
                    <li>
                      <a href="javascript:void(0);">
                        <div class="icon-circle bg-light-green">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="menu-info">
                          <h4>12 new members joined</h4>
                          <p>
                            <i class="material-icons">access_time</i> 14 mins
                            ago
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="icon-circle bg-cyan">
                          <i class="fa fa-youtube"></i>
                        </div>
                        <div class="menu-info">
                          <h4>4 sales made</h4>
                          <p>
                            <i class="material-icons">access_time</i> 22 mins
                            ago
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="icon-circle bg-red">
                          <i class="fa fa-instagram"></i>
                        </div>
                        <div class="menu-info">
                          <h4><b>Nancy Doe</b> deleted account</h4>
                          <p>
                            <i class="material-icons">access_time</i> 3 hours
                            ago
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="icon-circle bg-orange">
                          <i class="material-icons">mode_edit</i>
                        </div>
                        <div class="menu-info">
                          <h4><b>Nancy</b> changed name</h4>
                          <p>
                            <i class="material-icons">access_time</i> 2 hours
                            ago
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="icon-circle bg-blue-grey">
                          <i class="material-icons">comment</i>
                        </div>
                        <div class="menu-info">
                          <h4><b>John</b> commented your post</h4>
                          <p>
                            <i class="material-icons">access_time</i> 4 hours
                            ago
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="icon-circle bg-light-green">
                          <i class="material-icons">cached</i>
                        </div>
                        <div class="menu-info">
                          <h4><b>John</b> updated status</h4>
                          <p>
                            <i class="material-icons">access_time</i> 3 hours
                            ago
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="icon-circle bg-purple">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="menu-info">
                          <h4>Settings updated</h4>
                          <p>
                            <i class="material-icons">access_time</i> Yesterday
                          </p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="modal-footer view-all-notif"
            style="justify-content: center !important"
          >
            <a href="javascript;" class="text-center">
              <i class="fa fa-trash"></i> Hapus
            </a>
          </div>
        </section>
        <!-- <section v-if="modalType == 'addGrafikModal'">
                <div class="modal-body">
                    <fieldset>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="font-weight-bold">Data yang ditampilkan</div>
                                <select v-if="isValue" class="form-controls data_grafik local" name="data_grafik" id="dataGrafiks" required>
                                    <option data-hidden="hide" value>Pilih Data yang Ditampilkan</option>
                                    <option v-for="(grafik, i) in grafiks" :key="i" :value="grafik.value" :disabled="(isValue && !isValue.includes(grafik.value))">
                                        {{ grafik.name }}
                                    </option>

                                </select>
                                <select v-else class="form-controls data_grafik" name="data_grafik" id="dataGrafiks" required>
                                    <option data-hidden="hide" value>Pilih Data yang Ditampilkan</option>
                                    <option disabled value="1">
                                        Tren Mentions per Topik
                                    </option>
                                    <option disabled value="2">Tren Reach per Topik</option>
                                    <option disabled value="3">
                                        Komparasi Sentimen per Topik
                                    </option>
                                    <option disabled value="4">
                                        Tren Mentions per Channel
                                    </option>
                                    <option disabled value="5">Tren Reach per Channel</option>
                                    <option disabled value="6">
                                        Komparasi Sentimen per Channel
                                    </option>
                                    <option disabled value="7">
                                        Tren Mentions per Sentimen
                                    </option>
                                    <option disabled value="8">
                                        Tren Reach per Sentimen
                                    </option>
                                    <option disabled value="9">Komparasi Sentimen</option>

                                </select>
                            </div>

                            <div class="col-lg-5 col-md-12 col-sm-12 push-1">
                                <b>Contoh Grafik {{ Cookie.get('_value') }}</b>
                                <div class="row clearfix preview_img">
                                    <img src id="preview_img" style="display: none" height="150" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <input type="button" @click="btnAddGrafik" class="btn btn-success waves-effect" style="color: #fff" value="Tambah Grafik" />
                    <input type="button" class="btn btn-danger waves-effect" style="color: #fff" value="Batal" data-dismiss="modal" />
                </div>
            </section> -->
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import { required, sameAs } from "vuelidate/lib/validators";
import moment from "moment";
import daterangepicker from "daterangepicker/daterangepicker.js";
import "daterangepicker/daterangepicker.css";
import "bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css";
import twitterLogin from "@/components/TwitterLogin.vue";
import facebookLogin from "@/components/FacebookLogin.vue";
$.daterangepicker = daterangepicker;
import Cookie from "vue-cookies";
var start = moment().startOf("days");
var end = moment().endOf("days");
export default {
  name: "ModalComponent",
  props: ["modalTarget", "modalType", "modalTitle", "modalVariant"],
  components: {
    twitterLogin: twitterLogin,
    facebookLogin: facebookLogin,
  },
  data() {
    return {
      currentPassword: "",
      newPassword: "",
      confirmNewPassword: "",
      isLoader: false,
      btnChangePass: false,
      start: moment(new Date())
        .subtract(6, "days")
        .format("YYYY-MM-DD 00:00:00"),
      to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
      source: false,
      sentiment: false,
      topic: false,
      id_project: this.$store.getters.user.id_project,
      user_id: this.$store.getters.user.user_id.$oid,
      project_name: "",
      topics: [],
      sources: ["Twitter", "Blog", "Forum", "Youtube", "Instagram", "Facebook"],
      Cookie: Cookie,
      isValue: Cookie.get("_value"),
      grafiks: [
        {
          name: "Tren Mentions per Topik",
          value: 1,
        },
        {
          name: "Tren Reach per Topik",
          value: 2,
        },
        {
          name: "Komparasi Sentimen per Topik",
          value: 3,
        },
        {
          name: "Tren Mentions per Channel",
          value: 4,
        },
        {
          name: "Tren Reach per Channel",
          value: 5,
        },
        {
          name: "Komparasi Sentimen per Channel",
          value: 6,
        },
        {
          name: "Tren Mentions per Sentimen",
          value: 7,
        },
        {
          name: "Tren Reach per Sentimen",
          value: 8,
        },
        {
          name: "Komparasi Sentimen",
          value: 9,
        },
      ],
    };
  },

  validations: {
    currentPassword: {
      required,
    },
    newPassword: {
      required,
    },
    confirmNewPassword: {
      required,
      sameAsPassword: sameAs("newPassword"),
    },
  },

  methods: {
    showPassword(obj) {
      let element = $(obj.currentTarget).parent().prev();
      console.log(element.attr("id"));
      if (element.attr("id") == "current_password") {
        let pass = $("#current_password").attr("type");
        if (pass == "password") {
          $("#current_password").attr("type", "text");
          $(".show-password").removeClass("fa-eye-slash");
          $(".show-password").addClass("fa-eye");
        } else {
          $("#current_password").attr("type", "password");
          $(".show-password").removeClass("fa-eye");
          $(".show-password").addClass("fa-eye-slash");
        }
      } else if (element.attr("id") == "new_password") {
        let pass = $("#new_password").attr("type");
        if (pass == "password") {
          $("#new_password").attr("type", "text");
          $(".show-new-password").removeClass("fa-eye-slash");
          $(".show-new-password").addClass("fa-eye");
        } else {
          $("#new_password").attr("type", "password");
          $(".show-new-password").removeClass("fa-eye");
          $(".show-new-password").addClass("fa-eye-slash");
        }
      } else {
        let pass = $("#confirm_password").attr("type");
        if (pass == "password") {
          $("#confirm_password").attr("type", "text");
          $(".show-confirm-password").removeClass("fa-eye-slash");
          $(".show-confirm-password").addClass("fa-eye");
        } else {
          $("#confirm_password").attr("type", "password");
          $(".show-confirm-password").removeClass("fa-eye");
          $(".show-confirm-password").addClass("fa-eye-slash");
        }
      }
    },
    showCurrentPassword() {
      let pass = $("#current_password").attr("type");
      if (pass == "password") {
        $("#current_password").attr("type", "text");
        $(".show-password").removeClass("fa-eye-slash");
        $(".show-password").addClass("fa-eye");
      } else {
        $("#current_password").attr("type", "password");
        $(".show-password").removeClass("fa-eye");
        $(".show-password").addClass("fa-eye-slash");
      }
    },

    showNewPassword() {
      let pass = $("#new_password").attr("type");
      if (pass == "password") {
        $("#new_password").attr("type", "text");
        $(".show-new-password").removeClass("fa-eye-slash");
        $(".show-new-password").addClass("fa-eye");
      } else {
        $("#new_password").attr("type", "password");
        $(".show-new-password").removeClass("fa-eye");
        $(".show-new-password").addClass("fa-eye-slash");
      }
    },

    showConfirmPassword() {
      let pass = $("#confirm_password").attr("type");
      if (pass == "password") {
        $("#confirm_password").attr("type", "text");
        $(".show-confirm-password").removeClass("fa-eye-slash");
        $(".show-confirm-password").addClass("fa-eye");
      } else {
        $("#confirm_password").attr("type", "password");
        $(".show-confirm-password").removeClass("fa-eye");
        $(".show-confirm-password").addClass("fa-eye-slash");
      }
    },

    btnCloseChangePass() {
      setTimeout(() => {
        this.$v.$reset();
      }, 0);
      this.currentPassword = "";
      this.newPassword = "";
      this.confirmNewPassword = "";
    },
    formChangePass() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        console.log(this.$v.$invalid);
      } else {
        let currentPassword = $("#change-password #current_password").val();
        let newPassword = $("#change-password #new_password").val();
        let confirmPassword = $("#change-password #confirm_password").val();

        let api = process.env.VUE_APP_API_URL + "change-password";
        let params = {
          _id: this.user_id,
          old_password: btoa(currentPassword),
          new_password: btoa(newPassword),
          new_password_confirm: btoa(confirmPassword),
        };
        (this.btnChangePass = true),
          this.$axios
            .post(api, params)
            .then((response) => {
              if (response.status === 200) {
                setTimeout(() => {
                  this.$v.$reset();
                }, 0);
                this.currentPassword = "";
                this.newPassword = "";
                this.confirmNewPassword = "";
                $("#chgPassModal").modal("hide");
                console.log(response);
                this.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Success!</b> ' +
                    response.data.status,
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            })
            .catch((error) => {
              console.log(error.response.data.status);
              this.$toasted.show(
                '<i class="fa fa-times-circle"></i> <b>Error!</b> ' +
                  error.response.data.status,
                {
                  theme: "bubble",
                  position: "top-center",
                  duration: 10000,
                  fullWidth: true,
                }
              );
            })
            .finally(() => (this.btnChangePass = false));
      }
    },

    updateTanggal(from, end) {
      document.getElementById("#export_tgl_awal").value = from;
      document.getElementById("#export_tgl_akhir").value = end;
    },
    cb: function (start, end) {
      $("#daterangepicker-exp").val(
        start.format("DD/MM/YYYY") + " - " + end.format("DD/MM/YYYY")
      );
    },
    today() {
      document.getElementById("export_tgl_awal").value = moment(
        new Date()
      ).format("YYYY-MM-DD 00:00:00");
      document.getElementById("export_tgl_akhir").value = moment(
        new Date()
      ).format("YYYY-MM-DD 23:59:59");
    },
    yesterday() {
      document.getElementById("export_tgl_awal").value = moment()
        .subtract(1, "days")
        .format("YYYY-MM-DD 00:00:00");
      document.getElementById("export_tgl_akhir").value = moment()
        .subtract(1, "days")
        .format("YYYY-MM-DD 23:59:59");
    },
    lastOneMonth() {
      document.getElementById("export_tgl_awal").value = moment()
        .subtract(29, "days")
        .format("YYYY-MM-DD 00:00:00");
      document.getElementById("export_tgl_akhir").value = moment().format(
        "YYYY-MM-DD HH:mm:ss"
      );
    },
    lastThreeMonth() {
      document.getElementById("#export_tgl_awal").value = moment()
        .subtract(3, "month")
        .startOf("month")
        .format("YYYY-MM-DD 00:00:00");
      document.getElementById("export_tgl_akhir").value = moment()
        .subtract(3, "month")
        .endOf("month")
        .format("YYYY-MM-DD 23:59:59");
    },
    lastSevenDay() {
      document.getElementById("export_tgl_awal").value = moment(new Date())
        .subtract(6, "days")
        .format("YYYY-MM-DD 00:00:00");
      document.getElementById("export_tgl_akhir").value = moment(
        new Date()
      ).format("YYYY-MM-DD 23:59:59");
    },

    clearExportTanggal() {
      document.getElementById("export_tgl_awal").value = "";
      document.getElementById("export_tgl_akhir").value = "";
      $("input[name=periodeExp][value=3]").prop("checked", true);
    },
    clearExportPeriode() {
      // $('input[name=periodeExp][value=3]').prop('checked', true);
      $("#export_tgl_awal").prop("required", true);
      $("#export_tgl_akhir").prop("required", true);
      $("input[name=periodeExp][value=0]").prop("checked", true);
    },

    getTopics() {
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "topics/" + this.id_project, {
          params: {
            wo_news: 1,
          },
        })
        .then((response) => {
          if (response.status === 200) {
            this.topics = response.data;
          } else {
            console.log("error");
          }
        })
        .catch((error) => console.log(error));
    },
    btnAddGrafik() {
      // let id = document.getElementById("data_grafik").value;
      let id = $("#dataGrafiks option:selected").val();
      this.$emit("add-grafik", id);
    },

    topicExp() {
      if ($(".topic-exp").filter(":checked").length == 0) {
        alert("Topik");
        $(".topic-exp").prop("checked", true);
      }
    },
    getProjectDetail() {
      let api =
        process.env.VUE_APP_API_URL + "project-detail/" + this.id_project;
      this.$axios.get(api).then((response) => {
        if (response.status === 200) {
          this.project_name = response.data.project_detail.name;
        }
      });
    },
    btnExport() {
      let arr_source = [];
      let result_source = $('input[name="source-exp"]:checked');
      result_source.each(function () {
        arr_source.push($(this).val());
      });
      let vals_source = arr_source.join(",");
      this.source = btoa(vals_source);

      let arr_sentiment = [];
      let result_sentiment = $('input[name="sentiment-exp"]:checked');
      result_sentiment.each(function () {
        arr_sentiment.push($(this).val());
      });
      let vals_sentiment = arr_sentiment.join(",");
      this.sentiment = btoa(vals_sentiment);
      let api = process.env.VUE_APP_API_URL;
      this.isLoader = true;
      this.$axios
        .get(api + "export-classic/" + this.id_project, {
          params: {
            wo_news: 1,
            from: document.getElementById("export_tgl_awal").value,
            to: document.getElementById("export_tgl_akhir").value,
            sources: this.source,
            sentiments: this.sentiment,
            ...($("#change-topic-exp option:selected").val()
              ? {
                  topic: $("#change-topic-exp option:selected").val(),
                }
              : {}),
          },
          responseType: "blob",
        })
        .then((response) => {
          console.log(response.data);
          //resolve(res)
          if (response.status == 200) {
            //resolve(res)
            let date = moment(new Date()).format("YYYYMMDD-HHmmss");

            let title = "MediaMonitoring-" + this.project_name + "- " + date;
            let blob = new Blob([response.data], {
              type: "application/vnd.ms-excel",
            }); // 2. Get the blob setting file type in the response object returned by the request. Here is excel as an example.
            let url = window.URL.createObjectURL(blob); // 3. Create a temporary url pointing to the blob object

            // 4. After creating the url, you can simulate a series of operations on this file object, for example: preview, download
            let a = document.createElement("a");
            a.href = url;
            a.download = title + ".xlsx";
            a.click();
            // 5. Release this temporary object url
            window.URL.revokeObjectURL(url);
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },
  },

  created() {
    if (this.$route.path == "/login") {
      console.log("oke");
    } else {
      this.getTopics();
      this.getProjectDetail();
    }
  },

  mounted() {
    // $('.show-icon').click(function () {
    //     let element = $(this).parent().prev();
    //     if (element.attr('id') == 'current_password') {
    //         console.log('oe')
    //         let pass = element.attr('type');
    //         console.log(pass)
    //         if (pass == 'password') {
    //             $('#current_password').attr('type', 'text');
    //             $('.show-password').removeClass('fa-eye-slash')
    //             $('.show-password').addClass('fa-eye')
    //         } else {
    //             $('#current_password').attr('type', 'password');
    //             $('.show-password').removeClass('fa-eye')
    //             $('.show-password').addClass('fa-eye-slash')

    //         }
    //     }
    // })
    // console.log(document.getElementById('dataGrafiks'))

    // let self = this;
    $(".topic-exp").on("click", function () {
      if ($(".topic-exp").filter(":checked").length == 0) {
        alert("Topik");
      }
    });

    $(".source-exp").on("click", function () {
      if ($(".source-exp").filter(":checked").length == 0) {
        alert("Checkbox Sumber harus di isi !!");
        $(".source-exp").prop("checked", true);
      }
    });
    $(".sentiment-exp").on("click", function () {
      if ($(".sentiment-exp").filter(":checked").length == 0) {
        alert("Checkbox Sentiment harus di isi !!");
        $(".sentiment-exp").prop("checked", true);
      }
    });

    $("#daterangepicker-exp")
      .daterangepicker(
        {
          timePicker: true,
          timePicker24Hour: true,
          startDate: start,
          endDate: end,
          locale: {
            format: "DD/MM/YYYY",
          },
        },
        this.cb(start, end)
      )
      .on("apply.daterangepicker", function (e, picker) {
        document.getElementById(
          "export_tgl_awal"
        ).value = picker.startDate.format("YYYY-MM-DD 00:00:00");
        document.getElementById(
          "export_tgl_akhir"
        ).value = picker.endDate.format("YYYY-MM-DD HH:mm:ss");
      });
    this.cb(start, end);

    $("input").focus(function () {
      $(this).parent().addClass("focused");
    });
    $("input").blur(function () {
      if (!$(this).val()) {
        $(this).parent().removeClass("focused");
      }
    });
  },
};
</script>

<style>
#viewAllNotif .content-notification .dropdown-menu {
  position: relative !important;
  top: 0 !important;
  display: block;
  width: 100%;
}

#change-password .form-group {
  margin-bottom: 0 !important;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
  border-color: #28a745;
}

.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip,
.form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip,
.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-tooltip,
.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip {
  display: block;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}

.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip,
.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip,
.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-tooltip,
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip {
  display: block;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

#change-password .icon-curent-password {
  position: relative !important;
}

#change-password .show-password,
.show-new-password,
.show-confirm-password {
  position: absolute !important;
  right: 10px;
  top: -29px;
}

#change-password .icon-curent-password .fa {
  cursor: pointer !important;
  color: #000 !important;
}
</style>
