<template>
  <div class="page-loader-wrapper">
    <div class="loader">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <p>Please wait...</p>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  name: "PageLoader",
  mounted: function () {
    $(".page-loader-wrapper").fadeOut();
  },
};
</script>
