<template>
  <div>
    <span>Filter Berdasarkan Waktu</span>
    <hr />
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#periode">Periode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tanggal">Tanggal</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane animated fadeIn active" id="periode">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a href="javascript:void(0);" style="text-decoration:none; color:#fff;"></a>
              <div
                class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                klik="1"
              >
                <a
                  href="javascript:void(0);"
                  style="text-decoration:none; color:#fff;!important"
                >Hari Ini</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a href="javascript:void(0);" style="text-decoration:none; color:#fff;!important"></a>
              <div
                class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                klik="2"
              >
                <a
                  href="javascript:void(0);"
                  style="text-decoration:none; color:#fff;!important"
                >Kemarin</a>
              </div>
            </div>
          </div>

          <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a href="javascript:void(0);" style="text-decoration:none; color:#fff;!important"></a>
              <div
                class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                klik="3"
              >
                <a
                  href="javascript:void(0);"
                  style="text-decoration:none; color:#fff;!important"
                >7 Hari Terakhir</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a href="javascript:void(0);" style="text-decoration:none; color:#fff;!important"></a>
              <div
                class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                klik="4"
              >
                <a
                  href="javascript:void(0);"
                  style="text-decoration:none; color:#fff;!important"
                >1 Bulan Terakhir</a>
              </div>
            </div>
          </div>

          <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a href="javascript:void(0);" style="text-decoration:none; color:#fff;!important"></a>
              <div
                class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                klik="5"
              >
                <a
                  href="javascript:void(0);"
                  style="text-decoration:none; color:#fff;!important"
                >3 Bulan Terakhir</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <a href="javascript:void(0);" style="text-decoration:none; color:#fff;!important"></a>
              <div
                class="col-lg-12 col-md-12 col-sm-12 btn btn-raised bg-green waves-effect check"
                klik="6"
              >
                <a
                  href="javascript:void(0);"
                  style="text-decoration:none; color:#fff;!important"
                >Semua</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane animated fadeIn" id="tanggal">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row clearfix">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="material-icons">date_range</i>
              </span>
              <div class="form-line">
                <input type="text" class="form-control col-md-10" id="rangepicker" name="daterange" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>