<template>
<div class="row clearfix" style="margin-top: -31px;">
    <div class="col-sm-11" id="searchbar_length">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-controls" @keyup="searchPostInput" id="form-search" placeholder="Cari . . ." :value="value" />
            </div>
        </div>
    </div>
    <div class="col-sm-1" style="margin-top: -10px" id="button_searchbar_length">
        <div class="form-group">
            <button type="button" @click="searchPost" class="btn btn-raised btn-success waves-effect" style="vertical-align:top;!important">
                <i class="material-icons">search</i>
            </button>
            <button type="button" id="reset_searchbar" class="btn btn-raised btn-success waves-effect" style="vertical-align: top; display: none !important" @click="ResetSearchPost">
                Reset Filter
            </button>
        </div>
    </div>
</div>
</template>

<script>
import $ from "jquery";

export default {
    name: "PanelSearch",
    props: {
        value: {
            type: String,
            default: "",
        },
    },

    methods: {
        searchPost() {
            let text = document.getElementById("form-search").value;

            if (text.length > 0) {
                $("#searchbar_length").removeClass("col-md-11").addClass("col-md-9");
                $("#button_searchbar_length")
                    .removeClass("col-md-1")
                    .addClass("col-md-3");
                $("#reset_searchbar").fadeIn("slow");
            }
            let query = {};
            query.start = this.$route.query.start;
            query.end = this.$route.query.end;
            query.sources = this.$route.query.sources;
            query.sentiments = this.$route.query.sentiments;
            query.q = text;
            this.updateUrl(query);
        },
        ResetSearchPost() {
            $("#reset_searchbar").hide();
            $("#searchbar_length").removeClass("col-md-9").addClass("col-md-11");
            $("#button_searchbar_length")
                .removeClass("col-md-3")
                .addClass("col-md-1");
            $("#form-search")
                .on("keyoup", function () {})
                .val("");

            let query = {};
            query.start = this.$route.query.start;
            query.end = this.$route.query.end;
            query.sources = this.$route.query.sources;
            query.sentiments = this.$route.query.sentiments;
            // query.q = text;
            this.updateUrl(query);
        },
        searchPostInput(e) {
            if (e.keyCode === 13) {
                this.searchPost();
            }
        },
        updateUrl(query) {
            this.$router.replace({
                query: query,
            });
        },
    },

    mounted() {
        let self = this;
        $(document).ready(function () {
            if ($("#form-search").val() != "") {
                self.searchPost();
            }
        });
        // $("#form-search").on("ready", function () {
        //     alert('oke')
        // });
    },
};
</script>
