<template>
  <div :id="id" :style="'height:' + height"></div>
</template>

<script>
import Highcharts from "highcharts/highcharts.js";
export default {
  props: ["id", "dataset", "height", "innersize", "format", "distance"],
  methods: {
    HC_Config: function () {
      let self = this;
      var chart_config = {
        chart: {
          type: "pie",
        },
        credits: {
          enabled: false,
        },
        title: {
          text: "",
        },
        tooltip: {
          pointFormat: "{series.name}: <b>{point.y:.1f}</b>",
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              format: "{point.percentage:.0f}%",
              distance: -20,
            },
            showInLegend: true,
            colorByPoint: true,
            point: {
              events: {
                // event ketika legen di klik
                // legendItemClick: function () {
                //     // console.log(this.name);
                //     // // kalo yang di klik bukan legend mention maka title yAxis
                //     if (this.name != "Positif") {
                //         // console.log(this.chart.yAxis[1].axisTitle);
                //         // this.chart.yAxis[1].axisTitle.attr({
                //         //     text: this.name,
                //         // });
                //         // console.log(chart.series);
                //         // this.visible = true;
                //     }
                //     // // ambil semua line (garis chart)
                //     var series = this.series.data;
                //     // console.log(series);
                //     // // cek satu per satu line nya
                //     // // line selain mention dan line yang di klik di hide
                //     // console.log(series.length);
                //     for (var i = 0; i < series.length; i++) {
                //         // console.log(series[1].index);
                //         if (
                //             series[i].index != this.index &&
                //             series[i].name != "Positif"
                //         ) {
                //             // series[i].hide();
                //             series[i].visible = false;
                //             // console.log(series[i]);
                //         }
                //     }
                //     // return false;
                // },
              },
            },
          },
        },
        legend: {
          align: "center",
          layout: "horizontal",
          verticalAlign: "bottom",
          y: 20,
        },
        series: [
          {
            name: "Mentions",
            colorByPoint: true,
            cursor: "pointer",
            data: this.dataset,
            innerSize: this.innersize + "%",
            point: {
              events: {
                click: function () {
                  let query = {};
                  if (this.name === "Positif" || this.name === "Negatif") {
                    if (this.name === "Positif") {
                      query.sentiments = btoa(1);
                    } else if (this.name === "Negatif") {
                      query.sentiments = btoa(-1);
                    }
                  } else {
                    if (this.name == "Kemdikbud") {
                      query.topic = "5ea005b362219193135fcf9d";
                    } else if (this.name == "WWE") {
                      query.topic = "5e68c69cba7559243463ea7a";
                    } else if (this.name == "AEW") {
                      query.topic = "5e68c6baba7559243463ea7d";
                    } else if (this.name == " Wrestlemania") {
                      query.topic = "5e798ee7ca461be9ff1a9c68";
                    }
                  }

                  self.$router.push({
                    path: "/UnggahanTerbaru",
                    query: query,
                  });
                },
              },
            },
          },
        ],

        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500,
              },
            },
          ],
        },
      };
      return chart_config;
    },
  },
  mounted: function () {
    new Highcharts.chart(this.id, this.HC_Config());
  },
};
</script>
