<template>
<div class="row clearfix">
    <div class="col-sm-1">
        <div class="card">
            <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
            <div class="body">
                <a href="javasxript:void(0)" style="color:#444;!important" @click="clearSource">
                    <div class="row clearfix">Semua</div>
                    <div class="row clearfix">
                        <div class="col-sm-12 text-center social_media_table m-t-10">
                            <span class="list-icon g-bg-blue">
                                <i class="fa fa-globe"></i>
                            </span>
                            <br />
                            <span style="font-size: 12px">Semua</span>
                            <br />
                            <span style="text-align: center !important">{{
                    dataset.total
                }}</span>
                            <br />
                            <br />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="body">
                <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
                <div class="row clearfix">
                    <span>Media Sosial</span>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-3 text-center social_media_table m-t-10">
                        <span class="list-icon facebook">
                            <i class="fa fa-facebook"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Facebook</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.facebook }}</span>
                        <br />
                        <input type="checkbox" class="source" value="facebook" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                    <div class="col-sm-3 text-center social_media_table m-t-10">
                        <span class="list-icon g-bg-blush2">
                            <i class="fa fa-instagram"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Instagram</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.instagram }}</span>
                        <br />
                        <input type="checkbox" class="source" value="instagram" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                    <div class="col-sm-3 text-center social_media_table m-t-10">
                        <span class="list-icon twitter-table">
                            <i class="fa fa-twitter"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Twitter</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.twitter }}</span>
                        <br />
                        <input type="checkbox" class="source" value="twitter" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                    <div class="col-sm-3 text-center social_media_table m-t-10">
                        <span class="list-icon youtube">
                            <i class="fa fa-youtube"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Youtube</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.youtube }}</span>
                        <br />
                        <input type="checkbox" class="source" value="youtube" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
            <div class="body">
                <div class="row clearfix">
                    <span>Website</span>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6 text-center social_media_table m-t-10">
                        <span class="list-icon" style="background:#79766d; color:#fff;!important">
                            <i class="fa fa-comments-o"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Forum</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.forum }}</span>
                        <br />
                        <input type="checkbox" class="source" name="website" value="forum" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                    <div class="col-sm-6 text-center social_media_table m-t-10">
                        <span class="list-icon" style="background:#ffae32; color:#fff;!important">
                            <i class="fa fa-rss"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Blog</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.blog }}</span>
                        <br />
                        <input type="checkbox" class="source" name="website" value="blog" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <loader-component :classLoader="isLoader ? 'show' : 'hide' "></loader-component>
            <div class="body">
                <div class="row clearfix">
                    <span>Sentimen</span>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-4 text-center text-center social_media_table2 m-t-10">
                        <span class="list-icon bg-green">
                            <i class="fa fa-thumbs-o-up"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Positif</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.positif }}</span>
                        <br />
                        <input type="checkbox" value="1" class="sentiment" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                    <div class="col-sm-4 text-center text-center social_media_table2 m-t-10">
                        <span class="list-icon bg-blue-grey" style="background: #">
                            <i class="fa fa-hand-stop-o"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Netral</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.netral }}</span>
                        <br />
                        <input type="checkbox" value="0" class="sentiment" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                    <div class="col-sm-4 text-center text-center social_media_table2 m-t-10">
                        <span class="list-icon bg-deep-orange">
                            <i class="fa fa-thumbs-o-down"></i>
                        </span>
                        <br />
                        <span style="font-size: 12px">Negatif</span>
                        <br />
                        <span style="font-size: 12px">{{ dataset.negatif }}</span>
                        <br />
                        <input type="checkbox" value="-1" class="sentiment" style="opacity:1; position:inherit; left:0; !important" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Loader from "@/components/Loader.vue";
import $ from "jquery";
import moment from "moment";

export default {
    components: {
        "loader-component": Loader,
    },
    name: "PostStats",
    // props: ["dataset", "isLoader"],
    props: {
        dataset: Object,
        isLoader: {
            type: Boolean,
            default: false,
        },

        // valueStats: {
        //     type: Boolean,
        //     default: "",
        // },
        // start: $route.query.start,
        // to: $route.query.to,
    },
    data() {
        return {
            data: this.dataset,
            start: moment(new Date())
                .subtract(6, "days")
                .format("YYYY-MM-DD 00:00:00"),
            to: moment(new Date()).format("YYYY-MM-DD 23:59:59"),
        };
    },
    methods: {
        update(query) {
            this.$router.replace({
                query: query,
            });
        },

        clearSource() {
            this.$router.replace('/UnggahanTerbaru');
            $('input[class="source"]').prop('checked', false);
            $('input[class="sentiment"]').prop('checked', false);
        }
    },
    mounted() {
        var self = this;

        $(".source").on("click", function () {
            var arr = [];
            var result = $('input[class="source"]:checked');
            result.each(function () {
                arr.push($(this).val());
            });
            var vals = arr.join(",");

            var query = {};
            if ("start" in self.$route.query) {
                query.start = self.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in self.$route.query) {
                query.end = self.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }

            // query.end = self.$route.query.end;
            query.sources = btoa(vals);
            query.sentiments = self.$route.query.sentiments;
            query.q = self.$route.query.q;
            query.topic = self.$route.query.topic;
            self.update(query);
        });
        $(".website").on("click", function () {
            var arr = [];
            var result = $('input[class="website"]:checked');
            result.each(function () {
                arr.push($(this).val());
            });
            var vals = arr.join(",");

            var query = {};
            query.start = self.$route.query.start;
            query.end = self.$route.query.end;
            if (self.$route.query.sources != "") {
                query.sources = btoa(vals);
            } else {
                query.sources = self.$route.query.sources;
            }
            query.sentiments = self.$route.query.sentiments;
            query.q = self.$route.query.q;
            query.topic = self.$route.query.topic;
            self.update(query);
        });
        $(".sentiment").on("click", function () {
            var arr = [];
            var result = $('input[class="sentiment"]:checked');
            result.each(function () {
                arr.push($(this).val());
            });
            var vals = arr.join(",");

            var query = {};
            if ("start" in self.$route.query) {
                query.start = self.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in self.$route.query) {
                query.end = self.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = self.$route.query.sources;
            query.sentiments = btoa(vals);
            query.q = self.$route.query.q;
            query.topic = self.$route.query.topic;
            self.update(query);

        });
    },
};
</script>
