<template>
  <ul class="cbp_tmtimeline" id="cbp_tmtimeline">
    <li v-for="(post, i) in dataset" :key="i" :id="'content-' + i">
      <time class="cbp_tmtime">
        <span>{{ moment.utc(post.date.$date).format("HH:mm") }}</span>
        <span v-if="now == moment.utc(post.date.$date).format('DD-MMM-YYYY')">Hari Ini</span>
        <span v-else-if="kemarin == moment.utc(post.date.$date).format('DD-MMM-YYYY')">Kemarin</span>
        <span v-else>{{ moment.utc(post.date.$date).format("DD-MMM-YYYY") }}</span>
      </time>

      <a href="javascript:void(0)" v-if="role_id == 2 || role_id == 3">
        <div v-if="post.source == 'blog'" class="cbp_tmicon bg-icon-blog getID klik" id="getID" @click="clickStream" :cat="post.source" mark="0" :stream-id="post._id.$oid" :esmr="post.esmr" :tgl="moment(post.date.$date).format('DD-MM-YYYY')" :sentiment="post.sentiment">
          <i class="fa fa-rss"></i>
        </div>
        <div v-else-if="post.source == 'forum'" class="cbp_tmicon bg-icon-forum getID klik" id="getID" @click="clickStream" :cat="post.source" mark="0" :stream-id="post._id.$oid" :esmr="post.esmr" :tgl="moment(post.date.$date).format('DD-MM-YYYY')" :sentiment="post.sentiment">
          <i class="fa fa-comments-o"></i>
        </div>
        <div v-else :class="'cbp_tmicon klik getID bg-icon-' + post.source" @click="clickStream" :cat="post.source" id="getID" mark="0" :stream-id="post._id.$oid" :esmr="post.esmr" :tgl="moment(post.date.$date).format('YYYY-MM-DD')" :sentiment="post.sentiment">
          <i :class="'fa fa-' + post.source"></i>
        </div>
      </a>
      <div v-else>
        <div v-if="post.source == 'blog'" class="cbp_tmicon bg-icon-blog" id="" :cat="post.source" mark="0" :stream-id="post._id.$oid" :esmr="post.esmr" :tgl="moment(post.date.$date).format('DD-MM-YYYY')" :sentiment="post.sentiment">
          <i class="fa fa-rss"></i>
        </div>
        <div v-else-if="post.source == 'forum'" class="cbp_tmicon bg-icon-forum" id="" :cat="post.source" mark="0" :stream-id="post._id.$oid" :esmr="post.esmr" :tgl="moment(post.date.$date).format('DD-MM-YYYY')" :sentiment="post.sentiment">
          <i class="fa fa-comments-o"></i>
        </div>
        <div v-else :class="'cbp_tmicon bg-icon-' + post.source" :cat="post.source" id="" mark="0" :stream-id="post._id.$oid" :esmr="post.esmr" :tgl="moment(post.date.$date).format('YYYY-MM-DD')" :sentiment="post.sentiment">
          <i :class="'fa fa-' + post.source"></i>
        </div>
      </div>
      <div class="cbp_tmlabel">
        <h2 style="margin-bottom:-10px;font-size:16px;!Important">
          <a v-if="post.source == 'forum' || post.source == 'blog'" :href="post.id_account">{{ post.title }}</a>
          <a v-else :href="post.id_account">{{ post.account }}</a>
          <span v-for="(pers, i) in dataPers" :key="i">
            <span class="ml-1 label bg-orange" v-if="pers == post.id_account"><i class="fa fa-newspaper-o"></i> Pers</span>
          </span>
        </h2>
        <span style="color:#9d9a9a; font-size:12px;!Important">
          <span v-if="post.source == 'twitter'">
            <i class="fa fa-heart" title="Like"></i>
            {{ formatNumber(parseInt(post.engagement_detail.fav), 0) }} |
            <i class="fa fa-retweet" title="Retweet"></i>
            {{ formatNumber(parseInt(post.engagement_detail.rt), 0) }} |
            <i class="fa fa-users" title="Followers"></i>
            {{ formatNumber(parseInt(post.followers), 0) }} |
            <i class="fa fa-binoculars" title="Reach"></i>
            {{ formatNumber(parseInt(post.esmr), 0) }} |
            <i class="fa fa-share" title="Enggagement"></i>
            {{ formatNumber(parseInt(post.engagement_count), 0) }} |
          </span>
          <span v-else-if="post.source == 'facebook'">
            <i class="fa fa-heart" title="Like"></i>
            {{ formatNumber(parseInt(post.engagement_detail.like), 0) }} |
            <i class="fa fa-comment" title="Comment"></i>
            {{ formatNumber(parseInt(post.engagement_detail.comment), 0) }} |
            <i class="fa fa-share-alt" title="Share"></i>
            {{ formatNumber(parseInt(post.engagement_detail.share), 0) }} |
            <i class="fa fa-users" title="Followers"></i>
            {{ formatNumber(parseInt(post.followers), 0) }} |
            <i class="fa fa-binoculars" title="Reach"></i>
            {{ formatNumber(parseInt(post.esmr), 0) }} |
            <i class="fa fa-share" title="Enggagement"></i>
            {{ post.engagement_count }} |
          </span>
          <span v-else-if="post.source == 'instagram'">
            <i class="fa fa-heart" title="Like"></i>
            {{ formatNumber(parseInt(post.engagement_detail.like), 0) }} |
            <i class="fa fa-comment" title="Comment"></i>
            {{ formatNumber(parseInt(post.engagement_detail.comment), 0) }} |
            <i class="fa fa-users" title="Followers"></i>
            {{ formatNumber(parseInt(post.followers), 0) }} |
            <i class="fa fa-binoculars" title="Reach"></i>
            {{ formatNumber(parseInt(post.esmr), 0) }} |
            <i class="fa fa-share" title="Enggagement"></i>
            {{ formatNumber(parseInt(post.engagement_count), 0) }} |
          </span>

          <span v-else-if="post.source == 'youtube'">
            <i class="fa fa-users" title="Followers"></i>
            {{ formatNumber(parseInt(post.followers), 0) }} |
            <i class="fa fa-binoculars" title="Reach"></i>
            {{ formatNumber(parseInt(post.esmr), 0) }} |
            <i class="fa fa-share" title="Enggagement"></i>
            {{ formatNumber(parseInt(post.engagement_count), 0) }} |
          </span>

          <span v-else> <i class="fa fa-globe"></i> {{ post.account }} </span>
          <div v-if="type != 'trash-bin'" class="btn-group" style="margin:0px;!important" role="group">
            <button
              v-if="role_id == 2 || role_id == 3"
              type="button"
              class="btn dropdown-toggle"
              :class="post.sentiment == 1 ? 'bg-green' : post.sentiment == 0 ? 'bg-blue-grey' : 'bg-deep-orange'"
              style="color: #fff !important; padding: 0px 5px !important; font-size: 10px !important"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ post.sentiment == "0" ? "Netral" : post.sentiment == 1 ? "Positif" : "Negatif" }}
              <span class="caret"></span>
            </button>
            <button v-else type="button" class="btn" :class="post.sentiment == 1 ? 'bg-green' : post.sentiment == 0 ? 'bg-blue-grey' : 'bg-deep-orange'" style="color: #fff !important; padding: 0px 5px !important; font-size: 10px !important" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ post.sentiment == "0" ? "Netral" : post.sentiment == 1 ? "Positif" : "Negatif" }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" v-if="role_id == 2 || role_id == 3">
              <li>
                <a class="btn-update-sentiment" href="javascript:void(0);" :data-id="post._id.$oid" sentiment-id="1">Positif</a>
              </li>
              <li>
                <a class="btn-update-sentiment" href="javascript:void(0);" :data-id="post._id.$oid" sentiment-id="0">Netral</a>
              </li>
              <li>
                <a class="btn-update-sentiment" href="javascript:void(0);" :data-id="post._id.$oid" sentiment-id="-1">Negatif</a>
              </li>
            </ul>
          </div>
        </span>
        <p class="post_content" style="word-wrap: break-word; margin-top:5px; text-align:justify; font-size:13px;!Important">
          <span v-if="q" v-html="markString(post.content)"></span>
          <span v-else> {{ post.content }}</span>
        </p>
        <small style="color: #000 !important">Topic : </small>
        <span v-for="(top, ind) in post.topics" :key="ind">
          <span v-for="(topic, i) in topics" :key="i">
            <span class="label mr-1 bg-gray" v-if="i == top.$oid">{{ topic }}</span>
          </span>
        </span>

        <div class="hide">
          <hr />
          <p class="animated fadeInDown">
            <span>
              <a :href="post.url"> <i class="fa fa-mail-forward"></i> Kunjungi </a>
            </span>

            <span style="margin-left: 30px" v-if="type == 'trash-bin'">
              <a href="javascript:void(0)" @click="restore_post(post._id.$oid)" class="deletePost" :data-id="post._id.$oid"> <i class="fa fa-undo"></i> Restore </a>
            </span>

            <span style="margin-left: 30px" v-if="role_id == 2 || role_id == 3">
              <a href="javascript:void(0)" @click="delete_post(post._id.$oid)" class="deletePost" :data-id="post._id.$oid"> <i class="fa fa-trash"></i> Hapus </a>
            </span>
          </p>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
import $ from "jquery";
var moment = require("moment");
import Cookie from "vue-cookies";

export default {
  name: "PostComponent",
  props: ["dataset", "q", "type", "numCek"],
  data() {
    return {
      role_id: Cookie.get("role_id"),
      moment: moment,
      now: moment(new Date()).format("DD-MMM-YYYY"),
      kemarin: moment(new Date()).add(-1, "days").format("DD-MMM-YYYY"),
      topics: [],
      dataPers: [],
      id_project: this.$store.getters.user.id_project,
      check_all: 0,
      num_cek: this.numCek ? this.numCek : 10,
    };
  },
  methods: {
    clickStream(obj) {
      this.$emit("click-stream", obj);
      // if (this.$parent.isUpdateCheck) {
      //     this.num_cek = 0;
      //     this.$parent.isUpdateCheck = false
      // }

      // var checked = obj.currentTarget.getAttribute('mark');
      // var id = obj.currentTarget.getAttribute('stream-id');
      // console.log(parseInt(this.num_cek));
      // if (checked == 0) {
      //     console.log(obj.currentTarget.getAttribute('class'))
      //     temp[id] = obj.currentTarget.getAttribute('class');
      //     console.log(temp[id])
      //     this.num_cek++;
      //     obj.currentTarget.setAttribute('mark', 1);
      //     obj.currentTarget.setAttribute('class', 'cbp_tmicon bg-grey klik animated fadeInRight');
      //     //   $(obj).attr('class','cbp_tmicon bg-grey klik animated fadeInRight');
      //     $(obj.currentTarget).find("i").attr('class', 'fa fa-check m-t-10');
      //     this.cek_multipel();
      // } else {
      //     console.log(this.num_cek)
      //     this.num_cek--;
      //     obj.currentTarget.setAttribute('mark', 0);
      //     var cat = obj.currentTarget.getAttribute('cat');
      //     // obj.currentTarget.setAttribute('class', temp[id]);
      //     obj.currentTarget.setAttribute('class', 'cbp_tmicon bg-light-blue klik');
      //     console.log('else')
      //     //   $(obj).attr('class',temp[id]);
      //     //   $(obj).find("i").attr('class','fa fa-'+cat+' m-t-10');
      //     $(obj.currentTarget).find("i").attr('class', 'fa fa-' + cat + ' m-t-10');
      //     this.cek_multipel();
      // }
    },

    delete_post(id) {
      this.$emit("delete-post", id);
    },

    restore_post(id) {
      this.$emit("restore-post", id);
    },

    updateSentiment() {
      console.log("sddsfdsf");
      console.log($(this).attr("data-id"));
      console.log($(this).attr("sentiment-id"));
    },
    markString: function (content) {
      let kata = this.$route.query.q;
      kata = kata.split(" ");
      kata.forEach(function (word) {
        word = word.trim();
        let reg_exp = new RegExp(word, "igm");
        content = content.replace(reg_exp, '<mark data-markjs="true" style="background: #ff0 !important;">' + word + "</mark>");
      });
      // console.log(content);
      return content;
    },
    formatNumber(num, fixed) {
      if (num === null) {
        return null;
      } // terminate early
      if (num === 0) {
        return "0";
      } // terminate early
      fixed = !fixed || fixed < 0 ? 0 : fixed; // number of decimal places to show
      var b = num.toPrecision(2).split("e"), // get power
        k = b.length === 1 ? 0 : Math.floor(Math.min(b[1].slice(1), 14) / 3), // floor at decimals, ceiling at trillions
        c = k < 1 ? num.toFixed(0 + fixed) : (num / Math.pow(10, k * 3)).toFixed(1 + fixed), // divide by power
        d = c < 0 ? c : Math.abs(c), // enforce -0 is 0
        e = d + ["", "K", "M", "B", "T"][k]; // append power
      return e.replace(".", ",");
    },
    intToString(value) {
      var suffixes = ["", "k", "m", "b", "t"];
      var suffixNum = Math.floor(("" + value).length / 3);
      var shortValue = parseFloat((suffixNum != 0 ? value / Math.pow(1000, suffixNum) : value).toPrecision(1));

      if (value < 999) {
        shortValue = parseFloat(value);
        return shortValue;
      } else {
        if (shortValue % 1 != 0) {
          shortValue = shortValue.toFixed(2);
        }
        return shortValue + suffixes[suffixNum];
      }
    },

    cek_multipel() {
      // let self = this;
      console.log(this.num_cek);
      if (this.$parent.isUpdateCheck) {
        this.num_cek = 0;
        this.$parent.isUpdateCheck = false;
        if (this.num_cek > 0) {
          $(".multipleaction").show(1000);
        } else {
          this.check_all = 0;
          $('input[name="sentimentAll"]').prop("checked", false);
          $(".multipleaction").hide(1000);
        }
      } else {
        console.log("else");
        console.log(this.num_cek);
        if (this.num_cek > 0) {
          $(".multipleaction").show(1000);
        } else {
          this.check_all = 0;
          $('input[name="sentimentAll"]').prop("checked", false);
          $(".multipleaction").hide(1000);
        }
      }
    },

    getTopics() {
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "topics/" + this.id_project, {
          params: {
            wo_news: 1,
          },
        })
        .then((response) => {
          // let topics2 = [];
          if (response.status === 200) {
            // console.log(response)
            this.topics = response.data;
            // response.data.forEach(function (i, val) {
            //     console.log(i);
            //     console.log(val);
            // });
          } else {
            console.log("error");
          }
        })
        .catch((error) => console.log(error));
    },

    getPers() {
      let api = process.env.VUE_APP_API_URL;
      this.$axios
        .get(api + "pers")
        .then((response) => {
          if (response.status === 200) {
            this.dataPers = response.data;
          }
        })
        .catch((error) => console.log(error))
        .finally(() => (this.isLoader = false));
    },
  },
  created() {
    this.getTopics();
    this.getPers();
    let self = this;
    $("body").on("click", ".btn-update-sentiment", function () {
      let dataID = $(this).attr("data-id");
      let sentimentID = $(this).attr("sentiment-id");
      self.$emit("btn-update-sentiment", dataID, sentimentID);
    });
  },
  mounted() {},
};
</script>

<style>
h2#swal2-title {
  font-size: 18px !important;
}

.swal2-actions {
  padding: 0 !important;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 span {
  font-size: 7px;
}

.label {
  border-radius: 3px;
  padding: 4px 10px;
  text-transform: uppercase;
  font-size: 10px;
}
</style>
