<template>
  <div class="row clearfix m-b-25">
    <div class="col-4 col-md-4 col-sm-4">
      <div class="col-in">
        <!-- <h3 class="counter m-b-0">
                <i class="fa fa-at"></i>
                {{ formatNumber(parseInt(dataset.mention), 0) }}
                <span style="font-size: 12px !important" :class="dataset.past_mention < dataset.mention
                ? 'text-danger'
                : 'text-success'
            ">
                    <i v-if="dataset.past_mention != 0 && dataset.mention != 0" class="fa" :class="dataset.past_mention < dataset.mention?'fa-angle-down' : 'fa-angle-up'
              "></i>
                    <span class="total-m" v-if="dataset.past_mention == 0 && dataset.mention == 0">

                    </span>
                    <span v-else class="total-m">
                        {{ Math.abs(parseInt(((this.dataset.past_mention - this.dataset.mention) / this.dataset.mention) * 100)) + '%' }}
                    </span>
                </span>
            </h3> -->
        <h3 class="counter m-b-0">
          <i class="fa fa-at"></i>
          {{ formatNumber(parseInt(dataset.mention), 0) }}
          <span
            style="font-size: 12px !important"
            :class="
              totalMention == '0'
                ? 'text-navy'
                : dataset.past_mention > dataset.mention
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i
              v-if="dataset.past_mention != 0 && dataset.mention != 0"
              class="fa"
              :class="
                totalMention == '0'
                  ? 'fa-angle-double-right'
                  : dataset.past_mention > dataset.mention
                  ? 'fa-angle-down'
                  : 'fa-angle-up'
              "
            ></i>
            <span
              class="total-m"
              v-if="dataset.past_mention == 0 && dataset.mention == 0"
            >
            </span>
            <span v-else class="total-m">
              {{ totalMention + "%" }}
            </span>
          </span>
        </h3>
        <small class="text-muted m-t-0">Jumlah Mentions</small>
      </div>
    </div>
    <div class="col-4 col-md-4 col-sm-4">
      <div class="col-in">
        <h3 class="counter m-b-0">
          <i class="fa fa-binoculars"></i>
          {{ formatNumber(parseInt(dataset.reach), 0) }}
          <span
            style="font-size: 12px !important"
            :class="
              totalReach == 0
                ? 'text-navy'
                : dataset.past_reach > dataset.reach
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i
              v-if="dataset.past_reach != 0 && dataset.reach != 0"
              class="fa"
              :class="
                totalReach == 0
                  ? 'fa-angle-double-right'
                  : dataset.past_reach > dataset.reach
                  ? 'fa-angle-down'
                  : 'fa-angle-up'
              "
            ></i>
            <span class="total-m" v-if="dataset.past_reach == 0 && dataset.reach == 0">
            </span>
            <span class="total-m" v-else>
              {{ totalReach + "%" }}
            </span>
          </span>
        </h3>
        <!-- <h3 class="counter m-b-0">
                <i class="fa fa-binoculars"></i>
                {{ formatNumber(parseInt(dataset.reach), 0) }}
                <span style="font-size: 12px !important" :class="
              dataset.past_reach < dataset.reach
                ? 'text-danger'
                : 'text-success'
            ">
                    <i v-if="dataset.past_reach != 0 && dataset.reach != 0" class="fa" :class="
                dataset.past_reach < dataset.reach
                  ? 'fa-angle-down'
                  : 'fa-angle-up'
              "></i>
                    <span class="total-m" v-if="dataset.past_reach == 0 && dataset.reach == 0">

                    </span>
                    <span class="total-m" v-else>
                        {{ Math.abs(parseInt(((this.dataset.past_reach - this.dataset.reach) / this.dataset.reach) * 100)) + '%' }}
                    </span>
                </span>
            </h3> -->
        <small class="text-muted m-t-0">Jumlah Reach</small>
      </div>
    </div>
    <div class="col-4 col-md-4 col-sm-4">
      <div class="col-in">
        <h3 class="counter m-b-0">
          <i class="fa fa-share"></i>
          {{ formatNumber(parseInt(dataset.engagement), 0) }}
          <span
            style="font-size: 12px !important"
            :class="
              totalEngagement == 0
                ? 'text-navy'
                : dataset.past_engagement > dataset.engagement
                ? 'text-danger'
                : 'text-success'
            "
          >
            <!-- <i v-if="dataset.past_engagement != 0 && dataset.engagement != 0" class="fa" :class="totalEngagement == 0 ? 'fa-angle-double-right' : dataset.past_engagement > dataset.engagement ? 'fa-angle-down' : 'fa-angle-up'"></i> -->
            <i
              v-if="dataset.past_engagament != 0 && dataset.engagament != 0"
              class="fa"
              :class="
                totalEngagement == 0
                  ? 'fa-angle-double-right'
                  : dataset.past_engagement > dataset.engagement
                  ? 'fa-angle-down'
                  : 'fa-angle-up'
              "
            ></i>
            <span
              class="total-m"
              v-if="dataset.past_engagement == 0 && dataset.engagement == 0"
            >
            </span>
            <span v-else class="total-m"> {{ totalEngagement + "%" }} </span>
          </span>
        </h3>
        <!-- <h3 class="counter m-b-0">
                <i class="fa fa-share"></i>
                {{ formatNumber(parseInt(dataset.engagement), 0) }}
                <span style="font-size: 12px !important" :class="
              dataset.past_engagement < dataset.engagement
                ? 'text-danger'
                : 'text-success'
            ">
                    <i v-if="dataset.past_engagement != 0 && dataset.engagement != 0" class="fa" :class="
                dataset.past_engagement < dataset.engagement
                  ? 'fa-angle-down'
                  : 'fa-angle-up'
              "></i>
                    <span class="total-m" v-if="dataset.past_engagement == 0 && dataset.engagement == 0">

                    </span>
                    <span v-else class="total-m">
                        {{
                Math.abs(
                  parseInt(
                    ((dataset.past_engagement - dataset.engagement) /
                      dataset.engagement) *
                      100
                  )
                ) + "%"
              }}
                    </span>
                </span>
            </h3> -->
        <small class="text-muted m-t-0">Jumlah Engagement</small>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductReport",
  props: ["dataset"],
  data() {
    return {};
  },
  methods: {
    formatNumber(num, fixed) {
      if (num === null) {
        return null;
      } // terminate early
      if (num === 0) {
        return "0";
      } // terminate early
      fixed = !fixed || fixed < 0 ? 0 : fixed; // number of decimal places to show
      var b = num.toPrecision(2).split("e"), // get power
        k = b.length === 1 ? 0 : Math.floor(Math.min(b[1].slice(1), 14) / 3), // floor at decimals, ceiling at trillions
        c =
          k < 1 ? num.toFixed(0 + fixed) : (num / Math.pow(10, k * 3)).toFixed(1 + fixed), // divide by power
        d = c < 0 ? c : Math.abs(c), // enforce -0 is 0
        e = d + ["", "K", "M", "B", "T"][k]; // append power
      return e.replace(".", ",");
    },
  },
  created() {},

  computed: {
    totalMention() {
      let total_mention = Math.abs(
        parseInt(
          ((this.dataset.past_mention - this.dataset.mention) /
            this.dataset.past_mention) *
            100
        )
      );
      // if (total_mention > 0) {
      //     return total_mention + '%';
      // } else {
      //     return total_mention ;
      // }
      return isNaN(total_mention) ? 0 : total_mention;
    },

    totalReach() {
      let total_reach = Math.abs(
        parseInt(
          ((this.dataset.past_reach - this.dataset.reach) / this.dataset.past_reach) * 100
        )
      );
      // if (total_reach > 0) {
      //     return total_reach + '%'
      // } else {
      //     return total_reach;
      // }
      return isNaN(total_reach) ? 0 : total_reach;
    },

    totalEngagement() {
      let total_engagement = Math.abs(
        parseInt(
          ((this.dataset.past_engagement - this.dataset.engagement) /
            this.dataset.past_engagement) *
            100
        )
      );

      // if (total_engagement > 0) {
      //     return total_engagement + '%';
      // } else {
      //     return total_engagement;
      // }

      return isNaN(total_engagement) ? 0 : total_engagement;
    },
  },
};
</script>

<style>
.counter i {
  padding-right: 5px !important;
  font-size: 20px !important;
}

h3.counter {
  font-size: 20px !important;
}

.counter span i {
  padding-right: 0 !important;
}

h3.counter .text-navy {
  color: rgb(96, 125, 139);
}
</style>
