<template>
  <div class="row clearfix">
    <div class="col-md-12">
      <div class="card">
        <div class="body" style="padding: 5px 10px 0px 20px">
          <div class="row">
            <div class="col-6 col-md-3" v-if="role_id == 2 || role_id == 3">
              <button type="button" class="text-white btn-sm btn btn-raised btn-success waves-effect m-r-20" data-toggle="modal" data-target="#addGrafikModal" v-if="is_grafik == true">Tambah Grafik</button>
              <form action v-else>
                <select name id="change-pers" @change="ChangePers" class="form-control my-2">
                  <option value>Tampilkan Semua</option>
                  <option value="1">Tampilkan Hanya Pers</option>
                  <option value="0">Tampilkan Hanya Non-Pers</option>
                </select>
              </form>
            </div>

            <div :class="role_id == 2 || role_id == 3 ? 'col-6 col-md-9' : 'col-12 col-md-12'">
              <button type="button" @click="btnFilterChannel" class="btnFilterChannel float-right btn-sm text-white btn-raised btn btn-primary waves-effect m-r-20">Filter Channel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalFilterChannel" tabindex="-1" aria-labelledby="btnFilterChannelLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="btnFilterChannelLabel">Channel</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>Socmed</h6>
            <div class="row clearfix">
              <div class="col-sm-3 text-center social_media_table m-t-10">
                <span class="list-icon facebook">
                  <i class="fa fa-facebook"></i>
                </span>
                <br />
                <span style="font-size: 12px">Facebook</span>
                <br />
                <input type="checkbox" style="opacity:1; position:inherit; left:0; !important" name="source[]" class="check-source" value="facebook" checked />
              </div>

              <div class="col-sm-3 text-center social_media_table m-t-10">
                <span class="list-icon g-bg-blush2">
                  <i class="fa fa-instagram"></i>
                </span>
                <br />
                <span style="font-size: 12px">Instagram</span>
                <br />
                <input type="checkbox" style="opacity:1; position:inherit; left:0; !important" name="source[]" class="check-source" value="instagram" checked />
              </div>

              <div class="col-sm-3 text-center social_media_table m-t-10">
                <span class="list-icon twitter-table">
                  <i class="fa fa-twitter"></i>
                </span>
                <br />
                <span style="font-size: 12px">Twitter</span>
                <br />
                <input type="checkbox" style="opacity:1; position:inherit; left:0; !important" name="source[]" class="check-source" value="twitter" checked />
              </div>

              <div class="col-sm-3 text-center social_media_table m-t-10">
                <span class="list-icon youtube">
                  <i class="fa fa-youtube"></i>
                </span>
                <br />
                <span style="font-size: 12px">Youtube</span>
                <br />
                <input type="checkbox" style="opacity:1; position:inherit; left:0; !important" name="source[]" class="check-source" value="youtube" checked />
              </div>
            </div>
            <h6>Website</h6>
            <div class="row clearfix">
              <div class="col-sm-6 text-center social_media_table m-t-10">
                <span class="list-icon" style="background:#79766d; color:#fff;!important">
                  <i class="fa fa-comments-o"></i>
                </span>
                <br />
                <span style="font-size: 12px">Forum</span>
                <br />
                <input type="checkbox" style="opacity:1; position:inherit; left:0; !important" name="source[]" class="check-source" value="forum" checked />
              </div>
              <div class="col-sm-6 text-center social_media_table m-t-10">
                <span class="list-icon" style="background:#ffae32; color:#fff;!important">
                  <i class="fa fa-rss"></i>
                </span>
                <br />
                <span style="font-size: 12px">Blog</span>
                <br />
                <input type="checkbox" style="opacity:1; position:inherit; left:0; !important" name="source[]" class="check-source" value="blog" checked />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-raised btn-primary waves-effect btn-filter-source">Filter</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addGrafikModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Form Tambah Grafik</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <fieldset>
              <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="font-weight-bold">Data yang ditampilkan</div>
                  <select v-if="project_charts == null" class="form-controls data_grafik" name="data_grafik" id="dataGrafiks" required>
                    <option data-hidden="hide" value>Pilih Data yang Ditampilkan</option>
                    <option value="1">Tren Mentions per Topik</option>
                    <option value="2">Tren Reach per Topik</option>
                    <option value="3">Komparasi Sentimen per Topik</option>
                    <option value="4">Tren Mentions per Channel</option>
                    <option value="5">Tren Reach per Channel</option>
                    <option value="6">Komparasi Sentimen per Channel</option>
                    <option value="7">Tren Mentions per Sentimen</option>
                    <option value="8">Tren Reach per Sentimen</option>
                    <option value="9">Komparasi Sentimen</option>
                  </select>

                  <select v-else class="form-controls data_grafik local" name="data_grafik" id="dataGrafiks" required>
                    <option data-hidden="hide" value>Pilih Data yang Ditampilkan</option>
                    <!-- <option v-for="(grafik, i) in grafiks" :key="i" :value="grafik.value" :disabled="(isValue && !isValue.includes(grafik.value))">
                                        {{ grafik.name }}
                                    </option> -->
                    <option v-for="(grafik, i) in grafiks" :key="i" :value="grafik.value" :disabled="project_charts.includes(grafik.value)">
                      {{ grafik.name }}
                    </option>
                  </select>
                </div>

                <div class="col-lg-5 col-md-12 col-sm-12 push-1">
                  <b>Contoh Grafik</b>
                  <div class="row clearfix preview_img">
                    <img src id="preview_img" style="display: none" height="150" />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <input type="button" @click="btnAddGrafik" class="btn btn-success waves-effect" style="color: #fff" value="Tambah Grafik" />
            <input type="button" class="btn btn-danger waves-effect" style="color: #fff" value="Batal" data-dismiss="modal" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import moment from "moment";
import Cookie from "vue-cookies";
export default {
  name: "SubBar",
  props: ["is_grafik", "project_charts"],
  data() {
    return {
      role_id: Cookie.get("role_id"),
      grafiks: [
        {
          name: "Hashtags",
          value: 10,
        },
        {
          name: "Tren Mentions per Topik",
          value: 1,
        },
        {
          name: "Tren Reach per Topik",
          value: 2,
        },
        {
          name: "Komparasi Sentimen per Topik",
          value: 3,
        },
        {
          name: "Tren Mentions per Channel",
          value: 4,
        },
        {
          name: "Tren Reach per Channel",
          value: 5,
        },
        {
          name: "Komparasi Sentimen per Channel",
          value: 6,
        },
        {
          name: "Tren Mentions per Sentimen",
          value: 7,
        },
        {
          name: "Tren Reach per Sentimen",
          value: 8,
        },
        {
          name: "Komparasi Sentimen",
          value: 9,
        },
      ],
    };
  },
  methods: {
    btnAddGrafik() {
      // let id = document.getElementById("data_grafik").value;
      let id = $("#dataGrafiks option:selected").val();
      this.$emit("add-grafik", id);
    },

    ChangePers() {
      let pers = document.getElementById("change-pers").value;
      var query = {};

      if ("start" in this.$route.query) {
        query.start = this.$route.query.start;
      } else {
        query.start = moment(new Date()).subtract(6, "days").format("YYYY-MM-DD 00:00:00");
      }
      if ("end" in this.$route.query) {
        query.end = this.$route.query.end;
      } else {
        query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
      }
      query.sources = this.$route.query.sources;
      query.topic = this.$route.query.topic;
      query.page = this.$route.query.page;
      query.pers = pers;
      query.sort = this.$route.query.sort;
      query.q_account = this.$route.query.q_account;
      this.updateUrl(query);
      // this.$emit("change-topic", topic);
    },

    updateUrl(query) {
      this.$router.replace({
        query: query,
        // start: this.$route.query.start,
        // end: this.$route.query.end,
        // sources: this.$route.query.souces,
        // sentiments: source,
      });
    },
    btnFilterChannel() {
      $("#modalFilterChannel").modal("show");
    },
  },
  mounted() {
    let self = this;

    $(".btn-filter-source").on("click", function () {
      let arr = [];
      let result = $('input[class="check-source"]:checked');
      result.each(function () {
        arr.push($(this).val());
      });
      let vals = arr.join(",");
      var query = {};
      query.start = self.$route.query.start;
      query.end = self.$route.query.end;
      query.pers = self.$route.query.pers;
      query.page = self.$route.query.page;
      query.sources = btoa(vals);
      query.q_account = self.$route.query.q_account;
      // query.topic = self.$route.query.topic;
      // query.pers = self.$route.query.pers;
      self.updateUrl(query);
      // query.q = self.$route.query.q;
      $("#modalFilterChannel").modal("hide");
    });
  },
};
</script>

<style>
.modal-backdrop {
  position: relative !important;
}
</style>
