<template>
<div>
    <table class="table table-hover" v-bind:class="type == 'datatable' ? 'table-bordered table-striped' : ''" :id="id" style="max-height: 300px">
        <thead>
            <tr>
                <th v-for="(header, index) in headers" :key="index" :width="header.width">
                    {{ header.title }}
                    <a class="sort-reach" href="javascript:void(0)" sort="esmr" @click="changeSort" v-if="header.key == 'reach'" style="color: #dcdcdc !important;">
                        <i class="fa fa-sort"></i>
                    </a>
                    <a class="sort-post" href="javascript:void(0)" sort="mentions" @click="changeSort" v-if="header.key == 'post'" style="color: #dcdcdc !important;">
                        <i class="fa fa-sort"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <loader-component :classLoader="isLoader ? 'overlayTable show' : 'overlayTable hide' "></loader-component>
        <tbody id="dashboard_table_tbody">
            <tr v-if="type != 'datatable'">
                <td v-if="dataItems == null" colspan="4" class="text-center">
                    Data tidak ditemukan !
                </td>
            </tr>
            <tr v-for="(item, i) in dataItems" :key="i">
                <td v-for="(col, ind) in headers" :key="ind">
                    <span v-if="col.type === 'icon'">
                        <span v-if="item[col.key] === 'blog'" class="list-icon bg-icon-blog"><i class="fa fa-rss"></i></span>
                        <span v-else-if="item[col.key] === 'forum'" class="list-icon bg-icon-forum"><i class="fa fa-comments-o"></i></span>
                        <span v-else class="list-icon" :class="'bg-icon-' + item[col.key]"><i :class="'fa fa-' + item[col.key]"></i></span>
                    </span>
                    <span v-if="col.type === 'number'">{{ i + 1 + begin}}</span>
                    <span v-if="col.type === 'link'" v-html="item[col.key]"> </span>
                    <span class="label" :class="
                item[col.key] == 'netral'
                  ? 'label-info'
                  : item[col.key] == 'positif'
                  ? 'label-success'
                  : 'label-danger'
              " v-if="col.type === 'label'" v-html="item[col.key]">
                    </span>
                    <span v-if="col.type === 'text'" v-html="item[col.key]"></span>
                    <span v-if="col.type === 'content'">
                        <div class="row clearfix">
                            <div class="col-11" v-html="item[col.key]"></div>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="..." class="mt-3" v-if="dataItems != null">
        <ul class="pagination justify-content-end">
            <li class="page-item" :data-item="begin" :class="!$route.query.page || $route.query.page == 1 ? 'disabled' : ''">
                <a @click="previousPage" class="page-link" href="javascript:void(0)">Previous</a>
            </li>
            <li class="page-item" v-for="pageNumber in totalPages" :key="pageNumber" :class="$route.query.page == pageNumber || pageNumber == currentPage ? 'active' : ''" v-show="Math.abs(pageNumber - currentPage) < 3 || pageNumber == totalPages - 0 || pageNumber == 1">
                <a @click="changePage(pageNumber)" class="page-link" :class="{current: currentPage === pageNumber, last: (pageNumber == totalPages - 0 && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 1 && Math.abs(pageNumber - currentPage) > 3)}" href="javascript:void(0)" :data-page="pageNumber">{{ pageNumber }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item" :class="currentPage == Math.ceil(resultCount/10) ? 'disabled':''">
                <a @click="nextPage" class="page-link" href="javascript:void(0)">Next</a>
            </li>
        </ul>
    </nav>
    <!-- <nav class="mt-2">
        <paginate-component :page-count="Math.ceil(resultCount/10)" :page-range="3" :margin-pages="2" :click-handler="clickCallback" :prev-text="'Prev'" :next-text="'Next'" :container-class="'pagination'" :page-class="'page-item'" :page-link-class="'page-link'" :prev-class="'page-item'" :prev-link-class="'page-link'" :next-class="'page-item'" :next-link-class="'page-link'">
        </paginate-component>
    </nav> -->
</div>
</template>

<script>
import $ from "jquery";
import Loader from "@/components/Loader.vue";
import moment from "moment";
// import Paginate from 'vuejs-paginate'
export default {
    // props: ["id", "headers", "dataItems", "type"],
    name: 'table',
    components: {
        "loader-component": Loader,
    },
    props: {
        isLoader: {
            type: Boolean,
            default: false,
        },
        id: {
            type: String,
        },
        headers: Array,
        // dataset: Array,
        items: Array,

        type: String,
        tablePage: {
            type: String,
            default: ''
        },
        searching: {
            type: Boolean,
            default: false,
        },
        bLengthChange: {
            type: Boolean,
            default: false,
        },
        ordering: {
            type: Boolean,
            default: true,
        },
        info: {
            type: Boolean,
            default: true,
        },
        isNumber: {
            type: Boolean,
            default: true,
        },
        widthTable: {
            type: String,
        },
        resultCount: {
            type: Number,
            default: 0,
        }
    },
    data() {
        return {
            dataItems: this.items,
            begin: 0,
            itemsPerPage: 10,
            currentPage: 1,
        }
    },

    methods: {
        changeSort(obj) {
            if (obj.currentTarget.getAttribute('sort') == 'esmr') {
                $(obj.currentTarget).find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').find('i').attr('class', 'fa fa-sort');
                $('th a.sort-reach').css({
                    'color': '#444'
                });
                $('th a.sort-post').css({
                    'color': '#dcdcdc'
                });
            } else if (obj.currentTarget.getAttribute('sort') == 'mentions') {
                $('th a.sort-reach').find('i').attr('class', 'fa fa-sort');
                $(obj.currentTarget).find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').css({
                    'color': '#444'
                });
                $('th a.sort-reach').css({
                    'color': '#dcdcdc'
                });
            } else {
                $(obj.currentTarget).find("i").attr('class', 'fa fa-sort');
                $('th a.sort-reach').css({
                    'color': '#dcdcdc'
                });
            }
            let sort = obj.currentTarget.getAttribute('sort')

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = this.$route.query.page;
            query.sort = sort;
            this.updateUrl(query);
        },
        clickCallback: function (pageNum) {
            console.log(pageNum)
            if (pageNum > this.$route.query.page) {
                this.begin += 10
            }
            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = pageNum;
            this.updateUrl(query);
        },
        previousPage() {

            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            if (this.$route.query.page) {
                query.page = parseInt(this.$route.query.page) - 1
            } else {
                query.page = this.currentPage - 1
            }
            query.sort = this.$route.query.sort;
            this.updateUrl(query);
        },
        
        nextPage() {
            var query = {};

            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            if (this.$route.query.page) {
                query.page = parseInt(this.$route.query.page) + 1
            } else {
                query.page = this.currentPage + 1
            }
            query.sort = this.$route.query.sort;
            this.updateUrl(query);
        },
        
        changePage(pageNumber) {
            // let page = obj.currentTarget.getAttribute('data-page');
            this.begin = 0;

            this.begin += this.$route.query.page * 10 - 10
            this.currentPage = this.$route.query.page;
            console.log(this.currentPage)
            var query = {};
            this.begin += 10;
            this.currentPage = pageNumber;
            if ("start" in this.$route.query) {
                query.start = this.$route.query.start;
            } else {
                query.start = moment(new Date())
                    .subtract(6, "days")
                    .format("YYYY-MM-DD 00:00:00");
            }
            if ("end" in this.$route.query) {
                query.end = this.$route.query.end;
            } else {
                query.end = moment(new Date()).format("YYYY-MM-DD 23:59:59");
            }
            query.sources = this.$route.query.sources;
            query.topic = this.$route.query.topic;
            query.pers = this.$route.query.pers;
            query.page = pageNumber
            query.sort = this.$route.query.sort;
            this.updateUrl(query);
        },
        updateUrl(query) {
            this.$router.replace({
                query: query,
                // start: this.$route.query.start,
                // end: this.$route.query.end,
                // sources: this.$route.query.souces,
                // sentiments: source,
            });
        },

    },

    created() {
        if (this.$route.query.page) {
            this.currentPage = this.$route.query.page
            this.begin += this.$route.query.page * 10 - 10
        }

        if (this.$route.query.sort == 'esmr') {
                $('th a.sort-reach').find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').find('i').attr('class', 'fa fa-sort');
                $('th a.sort-reach').css({
                    'color': '#444'
                });
                $('th a.sort-post').css({
                    'color': '#dcdcdc'
                });
            } else if (this.$route.query.sort == 'mentions') {
                $('th a.sort-reach').find('i').attr('class', 'fa fa-sort');
                $('th a.sort-post').find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').css({
                    'color': '#444'
                });
                $('th a.sort-reach').css({
                    'color': '#dcdcdc'
                });
            } else {
                console.log('gagagl')
            }
    },
    mounted: function () {

    },
    watch: {
        $route() {
            if (this.$route.query.sort == 'esmr') {
                $('th a.sort-reach').find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').find('i').attr('class', 'fa fa-sort');
                $('th a.sort-reach').css({
                    'color': '#444'
                });
                $('th a.sort-post').css({
                    'color': '#dcdcdc'
                });
            } else if (this.$route.query.sort == 'mentions') {
                $('th a.sort-reach').find('i').attr('class', 'fa fa-sort');
                $('th a.sort-post').find("i").attr('class', 'fa fa-caret-down');
                $('th a.sort-post').css({
                    'color': '#444'
                });
                $('th a.sort-reach').css({
                    'color': '#dcdcdc'
                });
            } else {
                console.log('gagagl')
            }
        }
    },
    computed: {
        totalPages: function () {
            return Math.ceil(this.resultCount / this.itemsPerPage);
        }
    },
};
</script>

<style>
.list-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    color: #fff !important;
    text-align: center !important;
}

.g-bg-blush2 {
    background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
    color: #fff !important;
}

.bg-icon-twitter {
    background-color: #55acee !important;
    color: #fff !important;
}

.bg-icon-facebook {
    background-color: #3b5998 !important;
    color: #fff !important;
}

.bg-icon-youtube {
    background-color: #c4302b !important;
    color: #fff !important;
}

.bg-icon-instagram {
    background: linear-gradient(325deg, #dd5e89, #f7bb97) !important;
    color: #fff !important;
}

.bg-icon-blog {
    background: rgb(255, 174, 50) !important;
    color: #fff !important;
}

.bg-icon-forum {
    background: rgb(121, 118, 109) !important;
    color: rgb(255, 255, 255) !important;
}

a.first::after {
    content: '...'
}

a.last::before {
    content: '...'
}
</style>
