<template>
  <div class="d-inline">
    <button
      v-if="is_connected"
      class="btn btn-connect btn-info btn-raised text-white btn-twitter"
      disabled
      type="button"
    >
      <i class="fa fa-twitter"></i>
      <span> {{ twitter_name }}</span>
    </button>
    <button
      v-else
      @click="logInWithTwitter"
      class="btn btn-info btn-raised text-white btn-twitter"
      :class="is_loading ? 'btn-load' : ''"
      type="button"
    >
      <span v-if="is_loading">{{ loading_text }}</span>
      <span v-else>
        <i class="fa fa-twitter"></i>
        <span> Hubungkan Twitter</span>
      </span>
    </button>
    <!-- <loader-component v-if="is_loading" :key="loading_key" :text="loading_text" /> -->
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";

export default {
  name: "LogInWithTwitter",
  data() {
    return {
      is_connected: false,
      twitter_name: null,
      is_loading: false,
      loading_text: "",
      id_project: this.$store.getters.user.id_project,
      loading_key: 0,
    };
  },
  methods: {
    logInWithTwitter: function () {
      this.loading_text = "Menghubungkan akun...";
      this.is_loading = true;

      var provider = new firebase.auth.TwitterAuthProvider();
      var firebaseConfig = {
        apiKey: "AIzaSyAxIakGo7kFN7otPziKDz0VUrCHlAcaAuQ",
        authDomain: "online-media-monitoring.firebaseapp.com",
        databaseURL: "https://online-media-monitoring.firebaseio.com",
        projectId: "online-media-monitoring",
        storageBucket: "online-media-monitoring.appspot.com",
        messagingSenderId: "204769415074",
        appId: "1:204769415074:web:f6a24efb54c0d3886d6cfb",
        measurementId: "G-E4M32WF0M1",
      };
      console.log(firebase.apps.length);
      if (firebase.apps.length === 0) {
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
      }

      // firebase.analytics();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then((result) => {
          // This gives you a the Twitter OAuth 1.0 Access Token and Secret.
          // // You can use these server side with your app's credentials to access the Twitter API.
          // var token = result.credential.accessToken;
          // var secret = result.credential.secret;
          // The signed-in user info.
          var user = result.user;
          this.twitter_name = user.displayName;
          // this.twitter_name.username = result.additionalUserInfo.username;
          console.log(result);

          let api = process.env.VUE_APP_API_URL + "credential_tw";
          let param = {
            id_project: this.id_project,
            // id_project: 1,
            refresh_token: user.refreshToken,
            oauth_token: result.credential.accessToken,
            oauth_token_secret: result.credential.secret,
            user_id: result.additionalUserInfo.profile.id,
            screen_name: user.displayName,
          };

          this.loading_text = "Menyimpan data...";
          this.loading_key++;

          this.$axios
            .post(api, param)
            .then((response) => {
              console.log(response);
              if (response.status == 200) {
                this.is_connected = true;
                // $('body').pgNotification({
                // 	style: 'bar',
                // 	message: '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Akun berhasil dihubungkan.',
                // 	position: 'top',
                // 	timeout: 5000,
                // 	type: 'success',
                // }).show();
                this.$toasted.show(
                  '<i class="fa fa-check-circle"></i> <b>Berhasil!</b> Akun berhasil dihubungkan.',
                  {
                    theme: "bubble",
                    position: "top-center",
                    duration: 5000,
                    fullWidth: true,
                    type: "success",
                  }
                );
              }
            })
            .catch((err) => {
              this.$toasted.show(
                '<i class="fa fa-times-circle"></i> <b>Error!</b> ' +
                  err.response.data.status,
                {
                  theme: "bubble",
                  position: "top-center",
                  duration: 10000,
                  fullWidth: true,
                }
              );
            })
            .finally(() => {
              this.is_loading = false;
            });
        })
        .catch((error) => {
          // Handle Errors here.
          // var errorCode = error.code;
          // var errorMessage = error.message;
          // The email of the user's account used.
          // var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          // var credential = error.credential;
          console.log(error);
          this.is_loading = false;
          // $('body').pgNotification({
          // 	style: 'bar',
          // 	message: '<i class="fa fa-times-circle"></i> <b>Error!</b> '+error.message,
          // 	position: 'top',
          // 	timeout: 10000,
          // 	type: 'danger',
          // }).show();
        });

      // firebase.auth().signInWithRedirect(provider);

      // firebase.auth().getRedirectResult().then(function(result) {
      // if (result.credential) {
      // This gives you a the Twitter OAuth 1.0 Access Token and Secret.
      // You can use these server side with your app's credentials to access the Twitter API.
      // var token = result.credential.accessToken;
      // var secret = result.credential.secret;
      // ...
      // }
      // The signed-in user info.
      // var user = result.user;
      // console.log(result);
      // }).catch(function(error) {
      // Handle Errors here.
      // var errorCode = error.code;
      // var errorMessage = error.message;
      // The email of the user's account used.
      // var email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      // var credential = error.credential;
      // console.log(error);
      // });
    },

    getProjectDetail() {
      let api =
        process.env.VUE_APP_API_URL + "project-detail/" + this.id_project;
      this.$axios.get(api).then((response) => {
        if (response.status === 200) {
          if (response.data.project_detail.socmed_creds) {
            if (response.data.project_detail.socmed_creds.twitter) {
              this.twitter_name =
                response.data.project_detail.socmed_creds.twitter.screen_name;
              this.is_connected = true;
            }
          } else {
            this.is_connected = false;
          }
        }
      });
    },
  },

  created() {
    this.getProjectDetail();
  },
};
</script>

<style>
div.d-inline .btn-twitter {
  cursor: pointer !important;
}

div.d-inline .btn-connect {
  cursor: default !important;
}

div.d-inline .btn-twitter.btn-load {
  cursor: not-allowed !important;
  pointer-events: none;
}
</style>
