<template>
<div id="wordcloud"></div>
</template>

<script>
import $ from "jquery";
import d3 from "d3";
import * as d3_layout_cloud from "d3-cloud";

d3.layout.cloud = d3_layout_cloud;

export default {
    name: "WordCloud",
    props: ["dataset"],
    data() {
        return {
            data: this.dataset,
        };
    },
    methods: {
        drawWordCloud: function (location, word_count) {
            let self = this;
            let svg_location = "#" + location;
            let width = $(".wordcloud-wrapper").width();
            let height = 435;

            $(svg_location).empty();
            var fill = d3.scale.category20();

            var word_entries = d3.entries(word_count);
            var xScale = d3.scale
                .linear()
                .domain([
                    0,
                    d3.max(word_entries, function (d) {
                        return d.value;
                    }),
                ])
                .range([10, 100]);

            d3.layout
                .cloud()
                .size([width, height])
                // .timeInterval(3)
                .words(word_entries)
                .fontSize(function (d) {
                    return xScale(+d.value);
                })
                .text(function (d) {
                    return d.key;
                })
                .rotate(function () {
                    return 0;
                })
                .font("Impact")
                .on("end", draw)
                .start();

            function draw(words) {
                d3.select(svg_location)
                    // .html("")
                    .append("center")
                    .append("svg")
                    .attr("align", "center")
                    .attr("id", "wordcloud-container")
                    .attr("style", "min-width:100%;")
                    // .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    // .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
                    .attr("transform", "translate(500, 217)")
                    .selectAll("text")
                    .data(words)
                    .enter()
                    .append("text")
                    .style("font-size", function (d) {
                        return xScale(d.value) + "px";
                    })
                    .style("font-family", "Times New Roman")
                    .style("cursor", "pointer")
                    .style("fill", function (d, i) {
                        return fill(i);
                    })
                    .attr("text-anchor", "middle")
                    .attr("transform", function (d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function (d) {
                        return d.key;
                    })
                    .on("click", function (d) {
                        let params = self.$route.query;
                        console.log(params);
                        params.q = d.text;
                        self.$router.push({
                            path: "/UnggahanTerbaru",
                            query: params,
                        });
                        // window.open("UnggahanTerbaru?q=" + d.text);
                    });
                // $('.loader').fadeOut(1000);
            }

            d3.layout.cloud().stop();
        },
    },
    mounted: function () {
        this.drawWordCloud("wordcloud", this.data);
    },
};
</script>
