.people-list {
  width: 260px;
  float: left;
  background: #fff;
  height: 90vh !important;
}

.people-list .search {
  padding: 20px;
}

.people-list .search .form-group {
  margin: 0;
}

.people-list .chat-list {
  padding: 0;
  margin-right: 10px;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
}

.people-list .chat-list li:hover {
  background: #30373e;
  color: #fff;
  cursor: pointer;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list input {
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}

.people-list img {
  float: left;
  border-radius: 50%;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat {
  width: calc(100% - 260px);
  float: left;
  color: #434651;
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header img {
  float: left;
  border-radius: 50%;
  width: 55px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {
  color: 434651;
}

.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 550px;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data .message-data-name {
  font-size: 16px;
  font-weight: 700;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #fff;
}

.chat .chat-history .other-message {
  background: #ececec;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #ececec;
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #0498bd;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 767px) {
  .content.chat-app {
    margin-left: 10px !important;
    margin-right: 10px;
  }
  .people-list {
    width: 100%;
    height: auto !important;
  }
  .people-list .search .form-group {
    width: 60%;
    float: left;
  }
  .people-list .slimScrollDiv {
    height: auto !important;
    width: 100% !important;
  }
  .people-list .slimScrollDiv ul {
    height: auto !important;
  }
  .chat {
    width: 100%;
  }
  .chat .chat-header {
    padding: 10px 0;
  }
  .chat .chat-history {
    padding: 15px;
  }
  .chat .chat-message {
    padding: 10px;
  }
  .collapse-xs {
    display: none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat .chat-history {
    height: 400px;
  }
}
/*# sourceMappingURL=chatapp.css.map */